@charset "utf-8";
/* CSS Document */
/*Personal Banking common styles*/
/* mac hide \*/

#imageslider
{
	position: relative;
	margin: 0px 0px 10px 0px;
	width: 950px;
	height: 158px;
	overflow: hidden;
	background: url("../images/home/photogallerybg.png") no-repeat;
	padding-top: 15px;
}

#imageslider a img
{
	width: 161px;
	height: 99px;
	display: inline;  
	margin-left: 0px;
}

#imageslider .left 
{
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 173px;
}

#imageslider .right
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 174px;
}

#imageslider .content
{
	margin-left: 0px;
	width: 900px;
	_width: 1050px;
	height: 150px;
	overflow: hidden;
}

#imageslider ul
{
	/*width: 10000px;*/
	_width: 10000px;
	height: 150px;
	overflow: hidden;
}

#imageslider li
{
	float: left;
	display: inline-block;
	padding: 0px 20px;
	width: 180px;
	height: 150px;
}

#imageslider li div
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color:#666666;
}

span.btn-slide-left
{
	display: inline-block;
	margin: 70px 0px 0px 10px;
	width: 24px;
	height: 24px;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Personal-Banking/cards/Consumer-Cards/images/btn_slide_left.png');*/
	background: url(../images/home/arrowleft.gif) no-repeat;
	/*_background: none;*/
	cursor: pointer;
}

span.btn-slide-right
{
	display: inline-block;
	margin: 70px 0px 0px 0px;
	width: 24px;
	height: 24px;
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Personal-Banking/cards/Consumer-Cards/images/btn_slide_right.png');*/
	background: url(../images/home/arrowright.gif) no-repeat;
	/*_background: none;*/
	cursor: pointer;
}
