.cards-control {
    float: left;
    width: 220px;
}
.relative {
    position: relative;
}
.grey-text, .grey-text * {
    color: #333;
}
.cards-control .grid {
    margin-left: -10px;
    width: 220px;
}
.grey-text, .grey-text * {
    color: #333;
}
.grid {
    overflow: hidden;
}
ol, ul {
    list-style: none outside none;
}
.card {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    margin: 20px 0;
    padding: 10px 20px;
    position: relative;
}
.cards-control .img-arw-rt {
    display: none;
    margin-top: 12px;
}
.img-arw-rt {
    background-position: -42px -77px;
    height: 20px;
    width: 16px;
}
.img {
    background: url("../../../images/web/merchant/sprite_compressed.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fr {
    float: right !important;
}

.cards-control .card a {
    display: block;
    padding: 16px 8px;
}
a {
    text-decoration: none;
}

.cards-control .card.active {
    background: none repeat scroll 0 0 #00d7ff;
    border-color: #00d7ff;
}
.cards-control .card {
    float: none;
    font-weight: bold;
    margin: 0 0 7px 10px;
    padding: 0 10px;
    text-align: left;
}
.card.active {
    border-color: #00d7ff;
}

.cards-control .card.active a {
    color: #fff;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    border: 0 none;
    color: #4a4a4a;
    font-family: inherit;
    font-size: 14px;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.cards-content .card {
    background-color: #fff;
}
.cards-content > .card {
    margin: 0;
    padding: 40px;
}


.blur-overlay {
    background: none repeat scroll 0 0 #f5f5f5;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.pt20 {
    padding-top: 20px;
}

.cards-content .content.active {
    display: block;
}
.cards-content > .content {
    display: none;
}

.cards-content > .card {
    margin: 0;
    padding: 40px;
}
.card.active {
    border-color: #00d7ff;
}
.xsmall, .xsmall * {
    font-size: 10px;
    line-height: 12px;
}

.cards-content {
    float: right;
    margin-right: 20px;
    width: 512px;
}
.fr {
    float: right !important;
}

.secure {
    position: absolute;
    right: -8px;
    top: -15px;
}

.img-lock {
    background-position: 3px -78px;
    height: 20px;
    width: 20px;
}

.grid {
    overflow: hidden;
}
ol, ul {
    list-style: none outside none;
}

.grid li {
    float: left;
}
.mb20 {
    margin-bottom: 20px;
}
.card label {
    display: block;
}
.mb10 {
    margin-bottom: 10px;
}
label {
    color: #333;
}

p {
    margin-bottom: 10px;
}
.fl {
    float: left !important;
}
select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 28px;
    padding: 15px 5px;
}
#ccCvvWrapper, #dcCvvWrapper {
    width: 204px;
}
.cvv-block input {
    display: block;
}
.small-input {
    width: 50px;
}

.hide {
    display: none;
}
.btn-submit {
    position: relative;
}
.btn-submit input.btn-normal {
    background: none repeat scroll 0 0 #00d7ff !important;
    border: 0 none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    height: 49px;
    width: 235px;
}
.btn-submit input {
    background: url("../../../images/web/merchant/sprite_compressed.png") no-repeat scroll 0 -111px white;
    border: 0 none;
    color: transparent;
    cursor: pointer;
    height: 49px;
     font-size: 17px;
    font-weight: bold;
    opacity: 1 !important;
    width: 235px;
}

.cancel {
    color: #08c;
    display: inline-block;
    margin: 25px 0 0 10px;
    text-decoration: underline;
}
a {
    text-decoration: none;
}

.bootstrap-checkbox button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    padding: 0;
}

.cb-icon-check {
    background-position: -209px -40px;
}
.tick {
    background: url("../../../images/web/merchant/sprite_compressed.png") no-repeat scroll -209px -67px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 26px;
    width: 26px;
}
.text-input {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 20px;
    height: 20px;
    padding: 14px 20px;
}
input[type="button"], input[type="submit"], input[type="text"] {
}
.d {
    background-image: url("/images/dc.png");
    background-position: 252px center;
    background-repeat: no-repeat;
}
.large-input {
    width: 416px !important;
}
.text-input:focus{
    border-color:#00d7ff;
    box-shadow:0 0 2px #00d7ff;
}
.visa {
    background-image: url("/images/visa.png");
    background-position: 405px center;
    background-repeat: no-repeat;
}
.mt20 {
    margin-top: 20px;
}