@CHARSET "ISO-8859-1";
@font-face
{
	font-family: handofsean;	
	src: url('../fonts/hand-of-sean.ttf');
	
}
@font-face
{
	font-family: Arial Rounded MT;	
	src: url('../fonts/arial-rounded-mt.ttf');
}
html
{
	*overflow-x:hidden;	
}
textarea
{
	font-family: Arial Rounded MT;
	font-weight:normal;
	font-size:12px;
}
.contentholder
{
	width:970px;/*feb14*/
	float:left;
	height:auto;
	padding: 0 0 10px 0;
	*margin-top:104px;
}
.pagepath
{
	width:960px;
	float:left;
	font-size:12px;
	padding:0 0 0 20px;
	margin:20px 0 20px 0;
}
.pagepath a:link,.pagepath a:active,.pagepath a:visited,.pagepath a:hover
{
	color:#000000;
}
.midcontent
{
	width:980px;
	float:left;
	height:auto;
	min-height:320px;
	font-size:14px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;/*brgv 26-4*/
	color:#666666;
	position:relative;
}
.leftcontent
{
    width: 288px;
    margin-top: 6px;
    border-radius:5px;
    z-index:9;
    *top:150px;
    *left:50%;
    *margin-left:-490px;
}
.leftcontenttop,.leftcontentmid,.leftcontentbot
{
	float:left;
	width:270px;
}
.leftcontenttop
{
	background-repeat:none;
	width:270px;
	height:14px;
	border-radius: 5px 5px 0 0;
	background-color: #ececec;
	width:268px;
	border:1px solid #00A7E6;
	border-bottom:0px;
}
.leftcontentmid
{
	background-repeat:repeat-y;
	height:auto;
	width:263px;
	padding:10px 0 0 10px;
	border: 1px solid #00A7E6;
    /*border-right: 1px solid #00A7E6;*/
    background-color:#f0f0f0;
    border-radius:5px;
}
.leftcontentbot
{
	background-repeat:none;
	width:270px;
	height:14px;
	border-radius: 0 0 5px 5px;
	background-color: #ececec;
	width:268px;
	border:1px solid #00A7E6;
	border-top:0px;
}
.leftcontentheader
{
	color:#00A7E6;
	font-size:22px;
	display:block;
	margin: 0 0 20px 4px;
}
.patharrow
{
	margin:0 3px 0 3px;
	font-weight:bold;
	font-size:11px;
	color:#00A7E6;
}
.linehoder
{
	width:260px;
	height:auto;
	margin: 0 0 7px 4px;
	float:left;
}
.linehodertitle
{
	width:95px;
	float:left;
}
.linehoderfield
{
	width:160px;
	float:left;
}
.linehoderfield select
{
	width:202px;
}
.linehoderfield .checkbox,.linehoderfield .radiobox
{
	float:left;
	margin:0px 3px 0px 0px; /*14-6 */
	padding:0px;
	height:15px;
	width:15px;
}
.linehoderfield .typevalue
{
	float:left;
}
.linerow
{
	width:100%;
	float:left;
	font-size:12px;
	color:#666666;
	margin: 0 0 5px 0;
}
.linehalfrow
{
	width:50%;
	float:left;
}
.linehalfrow .typevalue
{
	color:#666666;
	font-size:14px;
}
.linehalfrow .radiovalue
{
	font-size:12px;
	color:#666666;
	float: left;
}
.rightcontent
{
	float:left;
	width:647px;
	margin: 0 0 0 57px;
}
.bigheader
{
	float:left;
	margin:0 0 15px 0;
}
.rightcontentmenu
{
	float:left;
	height:35px;
	width:597px;
	background:#aaa;
}
.tutorinfo
{
	float:left;
	width:597px;
	padding:35px 0;
	background-image: url("../images/dots.png");
    background-repeat:repeat-x;
	background-position:bottom left;
}
.profilephoto
{
	float:left;
}
.infobox
{
	float:left;
	width:500px;
	height:auto;
}
.infolinerow
{
	width:288px;/*width:100%; brgv 26-05*/
	float:left;
	font-size:12px;
	color:#333333;
	padding:0 0 0 38px;
	margin: 0 0 7px 0;
}
.infolinerow5/*brgv 26-05*/
{
	width:488px;
	/*float:right;feb02*/float:left;
	font-size:12px;
	color:#333333;
	/*padding:0 0 0 7px;*/padding:0 0 0 38px;
	margin: 0 0 7px 0;
}
.btnclass
{
	width:100%;
	float:left;
	font-size:12px;
	color:#333333;
	padding:0;
	margin:15px 0 0 0;
}
.nameoftutor
{
	color:#00A7E6;
	font-size:22px;
	display:block;
	float:left;
	margin: 0px 0 0 0;
	/*feb18*/font-weight: bold;
}
.locationoftutor
{
	color:#333;
	font-size:14px;
	display:block;
	float:left;
	line-height:20px;
}
.skillsoftutor
{
	color:#333333;
	font-size:14px;
	display:block;
	float:left;
}
.sep,.pipe
{
	color:#333333;
	font-size:14px;
	display:inline-block;
	margin:0 3px;
	width: 3px;
	float:left;
}
.pipe
{
	width:95px;
	text-align:center;
	margin:0;
}
.descrpipoftutor
{
	color:#333333;
	font-size:14px;
	display:block;
	float:left;
	margin:15px 0 0 0;
}
.moredes
{
	background-image: url("../images/morepointer.png");
    background-position: 40px 5px;
    background-repeat: no-repeat;
    color: #000000;
    display: block;
    float: left;
    font-size: 14px;
	margin: 15px 0 0 5px;
    padding: 0 15px 0 0;
}
.rateperhr
{
	color:#333333;
	font-size:14px;
	display:block;
	float:left;
}
.srtlistbtn
{
	width:114px;
	height:32px;
	background-image:url("../images/shortlistbtn.jpg");
	background-repeat:no-repeat;
	float:left;
	border:none;
	margin:0px;
	padding:0px;
	margin:0 5px 0 0;
	cursor:pointer;
}
.cntctbtn
{
	background: url("../images/Contact.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 36px;
    margin: 0;
    padding: 0;
    width: 103px;
}
.cntctbtn:hover
{
	background:url("../images/Contact_hover.png");
}
.typebtnbox
{
	float:right;
	width:118px;
	height:auto;
	background-image: url("../images/greytabimg.png");
	background-repeat: no-repeat;
	background-position:left top;
}
.typebtn
{
   /* background-image: url("../images/greytabimg.png");
    background-repeat: no-repeat;*/
    color:#EE5E3C;
    float: left;
    font-size: 14px;
    height: 84px;
    padding: 12px 0 0 3px; /*8px 0 0 10px comment by varun */
    text-align: left;
    width: 110px;
    font-family: handofsean;
}
.contentholder
{
	/*background:#f0f0f0;*/
}
.tutorcontentholder
{
	/*background:#f0f0f0;*//*feb15*/
	float:left;
	  /*padding:10px;*/padding-bottom:10px;/*feb14*/ 
	  /*width:959px;*/width:963px;/*feb14*/
}
.tutorpagepath
{
    margin:17px 0 11px 0px !important;	
    font-weight:bold;
    float:left;
    width:100%;
}	
.tutorpagepath a:link,.tutorpagepath a:visited,.tutorpagepath a:hover,.tutorpagepath a:active
{
	color: #00A7E6;
    font-size: 12px; /*jinesh 18-5 */
    margin:10px 0;
}
.tutorpatharrow
{
	margin:0 3px 0 3px;
	font-size:22px;
}

.tutorleftcontenttop,.tutorleftcontentmid,.tutorleftcontentbot
{
	float:left;
}
.tutorleftcontenttop
{
	/*background-image:url("../images/tutorleftcontenttopcorner.png");feb13*/
	background-repeat:no-repeat;
	width:auto;
	/*padding-left: 16px;feb13*/
	border:1px solid #00A7E6;
	border-bottom:0px;
	border-radius: 5px 5px 0 0;
	 height: 14px;
	 background-color:#fff !important;
	 width: 264px;
}
.leftcorner
{
	background-image:url("../images/tutorleftcontenttop.png");
	background-repeat:no-repeat;
	background-position:right top;
	height:22px;
	width:258px;
	display:block;	
}
.tutorleftcontentmid
{
	/*background-image:url("../images/tutorleftcontentmid.png");
	background-repeat:repeat-y;*/
	/*border-left: 1px solid #00A7E6;
    border-right: 1px solid #00A7E6;*/
    border: 1px solid #00A7E6;
    height: auto;
    /*padding: 0 14px;*/padding: 15px;
    width: 244px;
    background-color:#ffffff;
    border-radius:5px
}
.borderblue
{
	border:1px solid #00a7e4;
}
.tutorleftcontentbot
{
	/*background-image:url("../images/tutorleftcontentbotcorner.png");
	background-repeat:no-repeat;feb13*/
	width:264px;
	/*padding-left: 16px;feb13*/
	border:1px solid #00A7E6;
	border-top:0px;
	border-radius: 0 0 5px 5px;
	 height: 14px;
	 background-color:#fff !important;
}
.leftcornerbot
{
	background-image:url("../images/tutorleftcontentbot.png");
	background-repeat:no-repeat;
	background-position:right top;
	height:22px;
	width:258px;
	display:block;
}
.tutorprofbox
{
	float:left;
	width:320px;
	height:auto;
	margin:10px 0 0 12px;
}
.tutorskills
{
	color:#333333;
	font-size:14px;
	display:block;
	text-align: left;
}
/*
.more
{
    color: #000000;
    font-size: 14px;
	margin:0;
    padding:0;
	display:inline-block;
	margin:0 0 0 4px;
}
*/
.infolinerow2 .more
{
	 float: left;
}

.infolinerow1
{
	width:313px;
	float:left;
	font-size:12px;
	color:#333333;
	padding:0 0 0 0px;
	margin: 0;
}
.infolinerow2
{
	width:313px;
	float:left;
	font-size:12px;
	color:#333333;
	padding:0 0 0 0px;
	margin: 0 0 7px 0;
}
.infolinerow3
{
	margin: 3px 0 15px 0;
	float:left;
	width:313px;
	font-size:12px;
	color:#333333;
	padding:0px;
}
.tutorprofbox2
 {
    float: left;
    height: auto;
    margin: 10px 0 0 0px;
    width: 311px;
}
.buttonbox
{
	float: left;
   	padding: 10px 14px 0;
    text-align: left;
    width: 243px;
}
.buttonbox img
{
	cursor:pointer;	
}
.srtlistbtn2
{
	width:257px;
	height:67px;
	background-image:url("../images/shortlistbtn2.jpg");
	background-repeat:no-repeat;
	border:none;
	margin:25px 0 15px 0;
	padding:0px;
	cursor:pointer;
}
.cntctbtn2
{
	width:253px;
	height:65px;
	background:url("../images/contactbtn2.jpg");
	background-repeat:no-repeat;
	border:none;
	margin:15px 0 25px 0;
	padding:0px;
	cursor:pointer;
}
.titalbox
{
	width:311px;
	float:left;
	font-size:14px;
	color:#333;
	padding:0 0 0 0px;
	margin: 0 0 7px 0;
	text-align:left;
}
.titalbox .t1
{
	color:#aaa5a4;
	width:311px;
	display:block;
}
.titalbox .t2
{
	width:311px;
	display:block;
}
.blueheader
{
	color:#00A7E6;
	font-size:14px;
	float:left;
}
p.pitch
{
	color:#aaa5a4;
	font-size:15px;
	float:left;
	text-align:justify;
	width: 80%;
	line-height:20px;
}
a.linkUL:hover,a.linkUL:visited,a.linkUL:link,a.linkUL:active
{
	text-decoration:underline;
	color:#aaa5a4;
	font-size:15px;
}
.midspacer
{
	height:20px;
	width:100px;
	line-height:0px;
	margin:0px;
	padding:0px;
	float:left;
	display:block;
}
.lowspacer
{
	height:5px;
	width:100px;
	line-height:0px;
	margin:0px;
	padding:0px;
	float:left;
	display:block;
}
.infolinerow4
{
	width:100%;
	float:left;
	font-size:12px;
	color:#333333;
	padding:0;
	margin: 0;
}
a.CoursesLink:visited,a.CoursesLink:link,a.CoursesLink:active
{
	color:#8c847d;
	font-size:15px;
	font-weight:bold;
	text-transform:capitalize;
	padding:5px 7px;
	width:236px;
	height:22px;
	float:left;
}
a.CoursesLink:hover
{
	color:#FFFFFF;
	background-image:url("../images/coursesbg.png");
	background-repeat:no-repeat;
}
.CourseDetTop
{
	width:auto;
	float:left;
	/*background-image:url("../images/tutorRtopcornerleft.png");*/
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:22px;
}
.leftcornerlarge
{
	background-image:url("../images/tutorRtop.png");
	background-repeat:no-repeat;
	background-position:right top;
	height:24px;
	width:533px;
	display:block;	
}
.CourseDetMid
{
	background-color: #FFFFFF;
   /* background-image: url(".../images/tutorRmid.jpg");
    background-repeat: repeat-y;*/
    border: 1px solid #00A7E6;
    float: left;
    font-size: 14px; /* 8-8-12 */
    height: auto;
    /*padding: 24px 0 24px 14px;*/padding: 15px 0 15px 15px;/*feb18*/
    /*feb18*//*width: 539px;*/width: 525px;
    border-radius:5px;
}
.CourseDetBot
{
	width:auto;
	float:left;
	background-image:url("../images/tutorRbotcornerleft.png");
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:22px;
}
.leftcornerbotlarge
{
	background-image:url("../images/tutorRbot.png");
	background-repeat:no-repeat;
	background-position:right top;
	height:24px;
	width:533px;
	display:block;	
}
.titalbox2
{
	width:533px;
	float:left;
	padding:0px;
	margin: 0 0 15px;
	text-align:left;
	word-wrap: break-word;
}
.titalbox2 .t1
{
	color:#8c847d;
	display:block;
	/* text-transform:capitalize; */
	width:533px;
	float:left;
}
.titalbox2 .t2
{
	color:#333;
	display:block;
	width:89%; /* 28-8 */
	float:left;
	font-size:14px;
	line-height:20px;
}
.blueheaderthin
{
	color:#00A7E6;
}
.group1
{
	float:left;
	width:100%;
	margin:0px 0 0 0;
}
.cl
{
	float:left;
	text-align:left;
	width:200px;
	margin-right: 10px;
}


/*Contact us class CSS start*/
.boxHLDR
	{
		width:auto;
		/*width:702px;*/
		height:auto;
		float: left;
		font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
		font-size:11pt;
	}
	.boxmid
	{
		width:auto;
	}
	.boxleft,.boxright
	{
		width:30px;
	}
	.boxleft,.boxmid,.boxright
	{
		height:auto;
		float:left;
	}
	.topleft,.topright,.botleft,.botright,.leftmid,.rigthmid,.centerbox,.topmid,.botmid
	{
		display:block;
	}
	.centerbox
	{
		background:#FFFFFF;
	}
	.leftmid,.centerbox,.rigthmid
	{
		height:310px;
	}
	.topmid,.centerbox,.botmid
	{
		width:640px;
		
	}
	.leftmid,.rigthmid
	{
		width:30px;
		background-repeat:repeat-y;	
	}
	.topmid,.botmid
	{
		height:30px;
		background-repeat:repeat-x;
	}
	.topleft,.topright,.botleft,.botright
	{
		width:30px;
		height:30px;
		background-repeat:no-repeat;	
	}
	.topleft
	{
		background-image:url("../images/topleft.png");			
	}
	.topright
	{
		width:30px;
		height:30px;
		background-image:url("../images/topright.png");
		background-repeat:no-repeat;		
	}
	.botleft
	{
		background-image:url("../images/botleft.png");		
	}
	.botright
	{
		background-image:url("../images/botright.png");	
	}
	.leftmid
	{
		background-image:url("../images/leftmid.png");
	}
	.rigthmid
	{
		background-image:url("../images/rightmid.png");
	}
	.topmid
	{
		background-image:url("../images/topmid.png");
	}
	.botmid
	{
		background-image:url("../images/botmid.png");
	}
	.contentarea
	{
		width:100%;
		float:left;
		padding:25px 0;
	}
	.contentarea1
	{
		border-bottom:1px solid #00A7E6;
		border-top:1px solid #00A7E6;
		width:100%;
		float:left;
		padding:30px 0 30px 0;
	}
	.contentarea h1,.contentarea1 h1
	{
		color:#00A7E6;
		font-size:16pt;
		margin: 0 0 0 40px;
		padding:0px;
	}
	.contentarea p,.contentarea1 p
	{
		margin: 0 0 0 40px;
		padding:0px;
	}
/*End contact us*/
.formholder
{
	border:8px solid #CDECFC;
	margin-top:10px;
	margin-bottom:30px;border-radius:5px;
	min-width:500px;
	min-height:400px;
	padding:10px 0px 10px 20px;
	float:left;
	width: 705px;
}
/*tutor regester step1*/
.steprow1
{
	width:100%;
	height:auto;
	float:left;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	color:#333333;
}
.stepcol1
{
	width:200px;
	float:left;
	height:auto;
	font-size:14px;
}
.stepcol2
{
	width: 480px;
	float:left;
	height:auto;
	text-align:left;
}
.stepcol3
{
	width:280px;
	float:left;
	height:auto;
	font-size:14px;
}
.stepcol4
{
	width:400px;
	float:left;
	height:auto;
	font-size:14px;
}

.clear
{
	clear:both;
	height:0px;
	line-height:0px;
	margin:0px;
	padding:0px;
}
/*end  tutor regester step1*/
/*tutor regester step2*/
.tableclass
{
	float:left;
	height:auto;
}
a.addSection:link,a.addSection:hover,a.addSection:visited,a.addSection:active
{
	background-image:url("../images/addBtn.png");
	background-repeat:no-repeat;
	background-position:left top;
	padding: 3px 0 0 28px;
	float:left;
	color:#00A7E6;
	height: 21px;
	
}
.savecontinue
{
	cursor:pointer;
	float: left;
}
.regheader
{
	font-size:30px;
	color:#00A7E6;
	float:left;
	margin: 20px 0 0 0;
}
.menuclass
{
	float:left;
}
.step
{
	width: 727px;
	text-align:right;
	margin-top:10px;
	font-size:16px;
	color:#333333;
	float:left;
}
.topdiv
	{
		float:left;
		margin-top:13%;
		width:100%;
	}
	.botdiv
	{
		float:left;
		width:100%;
	}
	.leftpart
	{
		float:left;
		text-align:left;
		width:230px;/*width:24%;*/
		margin:50px 15px 0 0;
	}
	.midpart
	{
		float: left;
		padding: 0 10px 0 0;
		text-align: left;
		width: 315px;
	}
	.rightpart
	{
		float:right;
		padding-top:110px;/*padding-top:154px;*/
		font-size:13px;
		width:340px;/*width:400px;*/
	}
	.textfieldholder
	{
		width:100%;
		float:left;
		margin-top:10px;
	}
	.fieldtext
	{
		width:112px;
		height:21px;
		color:#ffffff;
		float:left;
		border:0px;
		background:url("../images/textbg.gif");
		background-repeat:no-repeat;
		padding:0px 4px;
		background-position:top left;
		margin:8px 15px 0 0;
	}
	.fieldtext2
	{
		width:112px;
		height:15px;
		color:#ffffff;
		float:left;
		border:0px;
		background:url("../images/textbg.gif");
		background-repeat:no-repeat;
		padding:3px 4px;
		background-position:top left;
		margin:8px 15px 0 0;
	}
	.fieldtext2
	{
		background:url("../images/textbg2.gif");
	}
	.gobtn,.gobtn2,.submit
	{
		width:36px;
		height:33px;
		color:#ffffff;
		float:left;
		border:0px;
		background:url("../images/go.gif");
		background-repeat:no-repeat;
		padding:3px 4px;
		background-position:top left;
		font-family:handofsean;
		font-size:20px;
		cursor:pointer;
	}
	.gobtn2/*about us*/
	{
		background:url("../images/go3.gif");
		background-repeat:no-repeat;
	}
	.submit
	{
		/*background:url("../../images/submit1.gif");width:90px;*/
		background:url("../images/joinnow.gif");width:113px;
		background-repeat:no-repeat;
		cursor:pointer;
	}
	.fbicon,.twicon
	{
		width:31px;
		height:33px;
		float:left;
		display:block;
		margin-right:16px;
	}
	.fbicon
	{
		background:url("../images/fbicon.gif");
		background-repeat:no-repeat;
	}
	.twicon	
	{
		background:url("../images/twicon.gif");
		background-repeat:no-repeat;
	}
	.botdiv a:link,.botdiv a:active,.botdiv a:hover,.botdiv a:visited
	{
		color:#ffffff;
		display:inline-block;
		font-size:15px;
		text-align:center;
		float:left;
		text-decoration:none;
		margin: 0 35px 0 0px;
	}

.topbox/*about us*/
{
	height:auto;
	border-radius:5px;
	padding:30px 30px 5px 30px;
	width:462px;/*width:900px;*/
	margin: 10px 0 0 0;
	background:#e0dddc;
	float:left;
}
.topbox p
{
	font-size:18px;
	margin:0px;
}
.vbigheader 
{
    color: #666666;
    float: left;
    width: 980px;
	/*feb18*/margin: 10px 0 0 0;
}
.vbigheader hr
{
	border-bottom: 1px dashed #00A7E6;
    height: 1px;
    width: 100%;
	float:left;
	background: none repeat scroll 0 0 transparent;
	margin:0px;
    width: 100%;
}
.vbigheader h1
{
	font-size: 30px;
    margin:0;
    /*feb18*/height:40px;
    /*feb18*/padding: 0px;
}
.leftalign
{
	float:left;
	padding:0px;
	width: 615px;
}
.rightalign
{
	float:right;
	padding:0 0 0 10px;
	width: 615px;
}
.question
{
	color:#625551;
	font-size:22px;
	/*float:left;*/
	margin:12px 0 15px 0;
	font-weight:bold;
}
.answer
{
	color:#00a7e6;
	font-size:17px;
	float:left;
	text-align:left;
}
.botdiv h2,.botdiv h3
{
	margin:5px 0px;
}
.brown
{
	color:#625551;
	font-family:Times New Roman;
}
/* ----- */
.contentbox
{
	
	font-size:14px;
	width:auto;
	padding:20px;
	color:#000000;
	/*border:1px solid #00a7e6;
	border-radius:5px;
	box-shadow: 7px 7px 10px #888888;*/
	margin:0 auto;
	text-align:left;
	
}
.contentbox p
{
	margin:5px 0px;
	font-weight:bold;
}
.roundedLsides	
{
	background:url("../images/roundedLside.jpg");
	background-repeat:no-repeat;
	height:21px;
	width:6px;
	display:inline-block;
	float:left;
	border:0px;
}
.roundedRsides	
{
	background:url("../images/roundedRside.jpg");
	background-repeat:no-repeat;
	height:21px;
	width:6px;
	display:inline-block;
	float:left;
	border:0px;
}
.inputfield
{
	background:url("../images/roundedMid.jpg");
	background-repeat:repeat-x;
	height:21px;
	display:inline-block;
	float:left;
	border:0px;
	color:#ffffff;
}

.handofseanbrown
{
	color:#625551;
	font-family:handofsean,handofsean_IE;
	letter-spacing: 1px;
	line-height:23px;
}
.handofseanblue
{
	color:#00a7e6;
	font-family:handofsean,handofsean_IE;
	letter-spacing: 1px;
}
.handofseanwhite
{
	color:#ffffff;
	font-family:handofsean,handofsean_IE;
	letter-spacing: 1px;
}
/*brgv*/
.lineclass
{
	font-size: 18px;/*font-size: 21px;*/
 	letter-spacing: 1px;
    line-height: 39px;
}
.lineclass2
{
	font-size: 18px;letter-spacing: 2px;line-height: 39px;
}
.handofseanblack
{
	color:#000000;
	font-family:handofsean,handofsean_IE;
}
.roundedLsides2	
{
	background:url("../images/roundedLside2.jpg");
	background-repeat:no-repeat;
	height:21px;
	width:6px;
	display:inline-block;
	float:left;
	border:0px;
}
.roundedRsides2	
{
	background:url("../images/roundedRside2.jpg");
	background-repeat:no-repeat;
	height:21px;
	width:6px;
	display:inline-block;
	float:left;
	border:0px;
}
.headofseanfontclass
{
	font-family:handofsean;letter-spacing: 1px;
}
.botdiv p.question
{
	margin:0 0 15px 0;
	float:none;
}
.botdiv p.answer
{
	margin:0px;
	float:none;
}
.answer p
{
	line-height:18px;
}
.pageholder
{
	width:1000px;
	display:block;
	margin:auto;
}
.backtoprof
{
	float:right;
	color:#00A7E6;
}
/*end brgv*/
/* jinesh */
.errorcls
{
	color:red;
	font-size:12px;
	float:left;
	line-height:0px;
}
/* jinesh */
/*sign up page*/
.stepcolsmall1
{
	width:35%; /*18-6 */
	float:left;
	height:auto;
	font-size:14px;
}
.stepcolsmall2
{
	width: 64%; /*18-6 */
	float:left;
	height:auto;
	text-align:left;
}
.stepcolsmall2 select {
    border: 1px solid #BECED5;
    border-radius: 5px 5px 5px 5px;
    color: #032B3C;
    font-size: 12px;
    height: 30px;
    padding: 5px;
    width: 262px;
}
.stepcolsmall2 input {
    border: 1px solid #BECED5;
    border-radius: 5px 5px 5px 5px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    width: 262px;
    float:left;
}
.errorclasssmall
{
	font-size:12px;
	line-height: 15px;
	font-weight:normal;
	height:15px;
	margin-bottom:5px;
	color:#FF6633;
	float: left;
	width: 100%;
}
.joinnow
{
	cursor:pointer;
	float: left;
}
/* end sign up page*/
/*edit profile page*/
.editlinkbox
{
	float:left;
	width:100%;
}
.editlinkbox ul
{
	float:left;
	padding:0;
	list-style:none;
}
.editlinkbox ul li
{
	float:left;
	width:100%;
	min-height:25px;
	margin:0 0 1px 0;
}
.editlinkbox span
{
	color:#00A7E6;
	float:left;
	text-transform:capitalize;
	font-weight:bold;
	padding:5px;
	cursor:pointer;
}
.editlinkbox span.passivelink
{
	color:#00A7E6;
	float:left;
	text-transform:capitalize;
	font-weight:bold;
	padding:5px;
}
.editlinkbox span:hover
{
	color:#00A7E6;
	background:#F0F0F0;
	border-radius: 5px;
}
.editlinkbox span.activelink
{
	color:#FFFFFF;
	background:#00A7E6;
	border-radius: 5px;
	float:left;
	text-transform:capitalize;
	font-weight:bold;
	padding:5px;
}
/*end edit profile page*/
/*team faq page*/
.teamfaqmainbox
{
	color: #000000;
    font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    height: auto;
    padding: 10px;
    float: none;
    margin: auto;
    width: 800px;
    font-size:15px;
    color: #625551;
}
.teamfaqcontent
{
	float:left;
	/*width:950px;*//*feb18*/width:960px;
	padding:10px;
	padding-left:0;
}
.teamfaqcontent p
{
	width:100%;	
}
.teamfaqsubbox h1,.teamfaqsubboxmid h1
{
	color: #00A7E6;
	font-family: handofsean;
   	font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 40px;
    margin:0 auto 30px auto;
    width: 160px;
    min-height:75px;
}
.teamfaqsubbox p,.teamfaqsubboxmid p
{
	text-align:left;
	width: 160px;
	margin:20px auto 0 auto;
}
.teamfaqsubbox,.teamfaqsubboxmid
{
	/*width: 290px;*//*feb18*/width: 288px;
	float:left;
	text-align:center;
}
.teamfaqsubboxmid
{
	margin:0 40px;		
}
.teamfaqsection
{
	padding: 15px 15px 5px 15px;
    width: 510px;	
	float:left;
	border-radius:5px;
	font-size:14px;
	line-height:18px;
	border:1px solid #00A7E6;
	margin-left:57px;
	margin-top:15px;
}
.btnholder
{
	float:left;
	/*width:980px;*/
	margin:15px 0 0 0;
	display:block;
}
.btnholder span
{
   	font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    cursor:pointer;
    display:block;
}
.btnholder span.activetabfaq,.btnholder span.passivetabfaq
{
	padding: 0 0 0 30px;
    width: 176px;
	height:45px;
	float:left;	
	background-repeat:no-repeat;
	background-position:left top;
	 margin:0 0 25px 0;
}
.btnholder span.activetabfaq
{
	background-image:url(../images/activebg.jpg);
	color:#ffffff;
}
.btnholder span.passivetabfaq
{
	background-image:url(../images/passivebg.jpg);
	color: #00A7E6;
}
.teamfaqsection strong
{
	color:#aaa5a4;
	font-size:18px;
	display:block;
	margin-bottom:10px;	
}
.teamfaqsection span
{
	display:block;
	width:100%;
}
span.faqquestion
{
	color: #00A7E6;	
	margin-bottom:10px;
}
span.faqanswer
{
	margin-bottom:10px;
}
/*end team faq page*/
/*31-05 brgv*/
.add-small
{
	background-image: url("../images/addBtn.png");
    background-position: 0 2px;
    background-repeat: no-repeat;
    color: #00A7E6;
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-right: 20px;
  	padding: 6px 0 6px 28px;
}
.add-small-batch {
    background-image: url("../images/addBtn.png");
    background-position: 86px 5px;
    background-repeat: no-repeat;
    color: #00a7e6;
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    padding: 6px 0 6px 106px;
}
.add-smallholder
{
	float:left;
	width:100%;
}
	
.loginstyle
	{
    	font-family: handofsean,handofsean_IE;
    	letter-spacing: 1px;
   		line-height: 23px;
   		color:#666;
   		font-size: 16px;
	}
	.loginstyledefault
	{
		letter-spacing: 1px;
   		line-height: 23px;
   		color:#666;
	}
.allfields
{
	color:#666666;
	margin-bottom:10px;
	font-size:12px;
	float:left;
	width:100%;
}
/* 6th aug new */
.t3
{
	background-image: url('../images/calenderbtn.png');
 	background-repeat: no-repeat;
 	background-position:left left;
 	height:30px;
    display: block;
    float: left;
    width: 162px;
    
 }
.t3:hover
{
	background-image:url('../images/calenderbtn_over.png');
	background-repeat:no-repeat;
	background-position:left left;
}
/* 8-8-12 */
/* profile page */
.pitch1,.pitch1 a,.pitch1 p,.pitch1 b,.pitch1 h1,.pitch1 h2,.pitch1 h3,.pitch1 span,.pitch1 br,.pitch1 strong,.pitch1 div,.pitch1 p em,.pitch1 p strong u
{
	/*background-color:#f0f0f0 !important;*//*feb15*/
	color:#666666 !important;
	font-weight:normal !important;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif !important;
	font-size:14px !important;
	line-height: 18px !important;
    text-align: left !important;
    font-style:normal;
    text-decoration:none;
}

.prgf a,.prgf p,.prgf b,.prgf h1,.prgf h2,.prgf h3,.prgf span,.prgf br,.prgf strong,.prgf div,.prgf p em,.prgf p strong u
{
	background-color:#FFFFFF !important;
	color:#333333 !important;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif !important;
    text-align: justify !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 19px !important;
    font-style:normal;
    text-decoration:none;
}
.copyinfolinerow a
{
	display:inline-block;
	position:relative;
	width:157px;
	margin-bottom:20px;
	text-align:center;
	color:#AAA5A4;
	vertical-align: top;
	/*feb18*/border: 2px solid #00A7E6;
    /*feb18*/border-radius: 5px 5px 5px 5px;
}
.copyinfolinerow a img
{
	display: inline-block;
    height: 129px;
    width: 157px;
}
span.playbutton,span.albumbutton,span.imgbutton
{
	background-image:url('../images/play_blue2.png');
	background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    opacity:1;
    position: absolute;
    top: 0;
    width: 100%;
}
span.albumbutton
{
	/*background-image:url('../images/album_blue.png');*/
	background-image:url('../images/photo_blue.png');
}
span.imgbutton
{
	background-image:url('../images/photo_blue.png');
}
span.playbutton:hover,span.albumbutton:hover,span.imgbutton:hover
{
	opacity: 0;
}
.contactcls
{
	/*cursor:pointer;*/
	display: inline-block;
	height: 35px;
    width: 104px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url('../images/Contact_n.png');
}
/*.contactcls:hover
{
	background-image:url('../images/Contact_n_hover.png');
}*/
.contactphone
{
	cursor:pointer;
	display: inline-block;
	height: 24px;
    width: 12px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url('../images/skillzot-phone-image.png');
}
.contactphone:hover
{
	background-image:url('../images/skillzot-phone-image-hover.png');
}
.contactmail
{
	cursor:pointer;
	display: inline-block;
	height: 20px;
    width: 26px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url('../images/skillzot-send-message-image.png');
}
.contactmail:hover
{
	background-image:url('../images/skillzot-send-message-image-hover.png');
}
.viewbatch
{
	cursor:pointer;
	display: inline-block;
	height: 27px;
    width: 70px;

}
.viewbatch1 {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 26px;
}
.20pxspace
{
float: left;
    width: 100%;
}
.blueheader1
 {
    color:#FF6633;
    float: left;
    font-size: 20px;
   /* left: 190px;*/
    position: relative;
    /*font-family: handofsean,handofsean_IE;*/
}
.tutorskills1
{
 height:55px;
 display:inline-block;
 overflow:hidden;
 margin:0px;
 padding:0px;
 width: 100%;
 float:left;
 padding:0 0px 0 0;
}
.copyinfolinerow
{
	color: #333333;
    float: left;
    font-size: 12px;
    margin: 0 0 7px;
    width:541px; /* march changes by jinesh*/
}
#pitchdetails ol , .t2 .prgf  ol 
{
	padding-left:20px;
}
.t2 .prgf  ul , .pitch1 ul{
    float: left;
    list-style: disc inside none;
    width:100%;
    padding-left:1px;
}
.buttonbox1 img
{
	cursor:pointer;
}
.buttonbox1
{
	float: left;
   	margin-bottom:10px;
   	margin-top:5px;
    text-align: left;
    width: 243px;
}
.pitch1
{
	line-height: 21px;
    width: 100%;
    color: #AAA5A4;
    float: left;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}
a.passive
{
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
	padding:5px 7px;
	width:226px;
	height:19px;
	float:left;
	display:block;
	color:#AAA5A4;
	background-repeat:no-repeat;
	margin:0 10px 15px 0;
	background-color:#F0F0F0;
	position: relative;
	border-radius: 5px 5px 5px 5px;
}
a.passive:hover
{
	background-color:#FFFFFF;
}
p.pitch
{
	width: 515px;
	line-height: 21px;
}
.reviewbutton
{
   background-image: url("../images/tutorfeedback.png");
   background-repeat: no-repeat;
   background-position:left top;
   display: block;
   float: left;
   height: 30px;
   width: 150px;
    margin: 20px 0 10px 60px;
}
.reviewbutton:hover
{
	background-image:url('../images/tutorfeedback_over.png');
	background-repeat:no-repeat;
	background-position:left top;
	cursor:pointer;
}
/* end of profile page */

/*cal module */

/*end cal module */	

/*others */
.loginlink
{
	text-decoration:none;
	color:#0F9EE5;
	line-height:15px;
	float:left;
}
.loginhint
{
	font-size:12px;
	float:left;
	color:#666666;
	 margin: 0;
}
.registerhint
{
	font-size:12px;
	color:#AAA5A4;
	 margin: 0;
}
.reviewhint
	{
	float:left;
	color:#666666;
	 margin: 0;
	 padding:0px;
	 font-size:12px;
	 list-style:none;
	}
.reviewleft,.reviewright
{
	width:18%;
	float:left;
}
.reviewright
	{
	width:12%;
	float:left;
	}
.reviewmid
{
	width:63%;
	float:left;
	
}
.contentbox1
{
	padding: 0px 10px;
	float:left;
	width:302px;
}
.t2 .prgf
{
 display:inline-block;
 overflow:hidden;
 margin:0px;
 padding:0px;
 float:left;
 width:98%;
 text-align:justify;
/* max-height:100px; */
 padding:0 10px 0 0;
}
.char_count
{
	float:left;margin-left:238px;color:#00A7E6;font-size:12px;
}
.char_count1
{
	float:right;/*margin-left:270px;*/color:#00A7E6;font-size:12px;
}
.onlybluecolor
{
	color:#1CA3E7; 
	text-decoration:none;
}
.botmargindisplzy
{
	margin-bottom:10px;
	float:left;
}
.onlyorangedisplay
{
	color:#FF6633;
	font-size:12px;
}
/*end o0f other */

/* sign up flow*/
#registration_form textarea
{
    width: 261px;
    padding:5px;
    height:21px;
}
.errorcls2
{	color:#FF6633;
	font-size:12px;
	line-height: 15px;
	font-weight:normal;
	margin-left: 6px;
}
.errorcls5{
	color:#FF6633;
	font-size:12px;
	margin:5px 0 0 15px;
	float:left;
}

.radioclassdisplay 
	{
		height:15px !important;
		width:15px !important;
		font-size:10px !important;
		border:0px !important;
	}
#registration_form_2 .steprow1,#registration_form_3 .steprow1
	{
	margin-bottom:10px;
	}
.stepcol2 .looking_for
{
	float:left;
	margin-right:5px;
	padding:0px;
	width: 35px !important;
}
#skillvalfocus a
	{
	color:#1CA3E7;
	text-decoration:none;
	}
/* end of signup */
.hintclass
{
	color:#AAA5A4;
	font-size:12px;
	margin-bottom:10px;
	display: block;
}
.flex_color_display
{
	width:60px;
	background-color:#00A7E6;
	height:20px;
	display:inline-block;
	float:left;
}
.flex_text
{
	float:left;
	display:inline-block;
	margin-bottom: 5px;
	margin:0px 0px 5px 5px;
}
#footerlastdiv
{
    text-align: center;
    width:970px;
    margin:10px auto 20px auto;
    font-size:12px;
    float:left;
    *float:none;
}
#wholefooter
{
	float:left;	
	padding-top:14px;
}
.reviewsofar
{
	float: left;
   /* margin-left: 113px;*/
    /*feb18*//*width: 20%;*/
    /*feb18*/color: #00A7E6;
    /*feb18*/margin-right: 10px;
}
.reviewextralink
	{
		float: left;
   		width: 30%;
   		color: #00A7E6;
	}
.reviewextralink a,.reviewextralinkwhennotreview a,.fullprofilelink
	{
		color: #00A7E6;
		/*feb02*/font-weight:bold;
	}
	.reviewextralinkwhennotreview
	{
		float: left;
	}
a.highlightsocial
{
	*color: #00A7E6 !important;
    *font-weight: bold !important;
    *text-decoration: underline !important;
}

	
#faqteacherdiv a:hover,#login a:hover,.contentbox a:hover,.leftstep a:hover,.stepcol2 a:hover,#tutorpagepath a:hover,.tutorpagepath a:hover,.loginstyle a:hover,.reviewextralink a:hover,.reviewextralinkwhennotreview a:hover,.descrpipoftutor a:hover
	{
		color:#FF6633;
		/*feb02*/font-weight:bold;
	}
	.blueadtional
	{
		font-family: handofsean,handofsean_IE;
		letter-spacing: 1px;
   		line-height: 23px;
   		font-size: 16px;
   		color: #00A7E6;
	}
#recodiv
	{
	float: left;
    font-family: handofsean;
    font-size: 14px;
    position: relative;
    width: 270px;
    z-index:1;
	}
.recoscoredisplay
	{
	color: #F06142;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin:8px 0 0 10px;
     font-family: handofsean;
	}
#less
{
	display:none;
	cursor:pointer;
	color: #00A7E6;
	float:right;
	text-decoration:underline;
	font-size:12px;
	margin-right:20px;
}
#less1
{
	display:none;
	cursor:pointer;
	color: #00A7E6;
	float: right;
    margin-right: 11px;
}

#lessskill
{
	display:none;
	cursor:pointer;
}
.more
{
 display:inline-block;
 float:right;
 cursor:pointer;
 color: #00A7E6;
 margin:0px;
 text-decoration:underline;
 font-size:14px;
 margin-right:20px;
}


/* upload profile pic */
.greenBorder {
    background-color: #F1F1F1;
    border-radius: 5px 5px 5px 5px;
    line-height: 5px;
    padding: 10px;
    position: absolute;
    width: 300px;
    z-index: 1;
}
.greenBorder span {
    color: #00A7E6
    font-size: 12px;
    opacity: 1;
}
/* */
/*scrollbar*/
#scrollbar1 { width: 244px; }
#scrollbar1 .viewport 
{ 
	width: 239px; 
	position: relative; 
	overflow: hidden;
}
#scrollbar1:hover > .scrollbar
{
	visibility:visible;
}
#scrollbar1 .overview 
{ 
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding: 0; 
	margin: 0; 
}
#scrollbar1 .scrollbar
{ 
	/*background: transparent url(<?php echo BASEPATH;?>/images/bg-scrollbar-track-y.png) no-repeat 0 0;*/ 
	position: relative; 
	background-position: 0 0; 
	float: right; 
	width: 5px;
	background-color: #f0f0f0;
	border-radius: 5px 5px 5px 5px;
	visibility:hidden;
}
#scrollbar1 .track 
{ 
	/*background: transparent url(<?php echo BASEPATH;?>/images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/ 
	height: 100%; 
	/*width:13px;*/ 
	position: relative; 
	padding: 0 1px; 
	border-radius: 5px 5px 5px 5px;
}
#scrollbar1 .thumb 
{ 
	/*background: transparent url(<?php echo BASEPATH;?>/images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;*/ 
	height: 20px; 
	width: 5px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 0px;
	background-color:#00A7E6;
	border-radius: 5px 5px 5px 5px; 
}
#scrollbar1 .thumb .end 
{ 
	/*background: transparent url(<?php echo BASEPATH;?>/images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;*/ 
	overflow: hidden; 
	height: 5px; 
	width: 5px; 
}
#scrollbar1 .disable 
{ 
	display: none; 
}
#imgch_error
{
	float:left;
}
/*#cke_contents_OverviewDescription > iframe
{
	width:100% !important;
}*/
#cke_contents_OverviewDescription > iframe
{
width:100% !important;\
[width:100% !important;
width:87% !important;]
*width:100% !important;
}
#degreeVarDiv
{
	*height:0px !important;
}
.hangtip
{
	float:left;
}
.hangtip > span
{
	float:left;
	position:relative;
	cursor:pointer;
}
.hangtip > span img
{
	display:block;	
}

/* 21-3 by jinesh */

.morefeedbackclass
{
	margin: 10px 0 0 10px;
	color: #00A7E6;
    float: left;
    position:relative;
}

/*phtoalbum*/
.CourseDetMid a.buttons {
    background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    letter-spacing: 0;
    line-height: 26px;
    margin-right: 10px;
    text-align: center;
    width: auto;
    padding:0 5px;
    float:left;
}
.CourseDetMid a.buttons:hover {
	background-color: #676767;
}
.imagethumb .editicons .editphot,.imagethumb .editicons .delphot
{
	cursor:pointer;float:left;height:22px;width:22px; margin: 0 2px;position:relative;
}
.imagethumb .editicons .editphot
{
	background-image:url(../images/edit.png);	
}
.imagethumb .editicons .delphot
{
	background-image:url(../images/delete.png);	
}

.imagethumb .editicons .editphot:hover
{
	background-image:url(../images/edit-h.png);	
}
.imagethumb .editicons .delphot:hover
{
	background-image:url(../images/delete-h.png);	
}

.imagethumb .editicons 
{
	display:none;position:absolute;top:4px;right:2px;z-index:100;
}
.imagethumb:hover .editicons 
{
	display:block;
}
.imagethumb .imagetitle{
	display:block;
	position:absolute;
	width:147px;
	height:30px;
	left:2px;
	bottom:2px;
	padding-top:5px;
	color:#FFF;
	text-align:left;
	padding:5px;
	font-size:12px;
	background: url(../images/skillboxbg_b.png);
	z-index:10;
	border-radius: 0 0 2px 2px;
	word-wrap: break-word;
	overflow:hidden;
}
.imagethumb:hover .imagetitle
{
display:block;
}
.sap
{
	width:100%;
	float:left;
	height:15px;
}
.imagethumb .editicons .editphot .dropover
{
	position:absolute;
	right: -2px;
	top:26px;
	background-color: #FFFFFF;
    border: 1px solid #00A7E6;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    padding: 5px;
    width:105px;
    height:auto;
    z-inde:999;	
    display:none;
}
.imagethumb .editicons .editphot .dropover:before {
    content: url("../images/menuarrow2.png");
    height: 9px;
    right: 0px;
    position: absolute;
    top: -6px;
    width: 19px;
}
.imagethumb .editicons .editphot .dropover a
{
    color: #00A7E6;
    text-align: left;
    vertical-align: top;
    width: 100%;
    border:0px;
    padding: 2px 0;	
}	
.imagethumb .editicons .editphot .dropover a:hover
{
	color:#FF6633;
}
.imagethumb .editicons .tippT b.Ttip
{		
	background-color: #FF6633;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    left: 50%;
    margin-left: -63px;
    padding: 2px 5px;
    position: absolute;
    text-align: center;
    top: 26px;
    width: 66px;
    display:none;		
}
.imagethumb .editicons .tippT:hover b.Ttip
{
    display:block;
}
.imagethumb .editicons .tippT b.Ttip:before
{
	content: url("../images/menuarroworg.png");
    height: 9px;
    position: absolute;
    right: 4px;
    top: -3px;
    width: 19px;
}
.hoverme:hover
{
	color:#FF6633;
}
.imagethumb a:hover .onmyhover
{
	/*opacity:0;*/
}
.imagethumb a .imagetitle
{
	background:none;	
}
.imagethumb a:hover .imagetitle
{
	background: url("../images/skillboxbg_b.png") repeat scroll 0 0 transparent;	
}