#skillHolder
{
	background-image:url("../loaderimg/ajax-loader3.gif");
	background-position:center center;
	background-repeat:no-repeat;
	height:434px !important;
	z-index:1;
}
#skillHolder,.imgHolder
{
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
#skillHolder .imgHolder
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
	z-index:0;
	visibility: hidden;
}
#skillHolder .textAndControlHolder
{
	width:100%;
	background-image:url('../images/skillboxbg_b.png');
    bottom: 0;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
	text-align:center;
	z-index:999;
	visibility: hidden;
}
#skillHolder .textAndControl
{
	width:980px;
	display:inline-block;
	height: 40px;
}
#skillHolder .control
{
	float:right;
}
#skillHolder .control img,#skillHolder .control div
{
	cursor:pointer;
	float:left;
	height:40px;
	width:40px;
	font-size:30px;
	color:#fff;
	font-weight:normal;
	height: 38px;
    padding-top: 3px;
}
#skillHolder .control img#pauseBtn,#skillHolder .control div#pauseBtn
{
	font-size: 20px;
    height: 36px;
    padding-top: 7px;	
}
#skillHolder .control img#playBtn,#skillHolder .control div#playBtn
{
	font-size: 23px;
	height: 36px;
    padding-top: 7px;
}
#skillHolder .control img:hover,#skillHolder .control div:hover
{
	background-color:#FF6633;
}
#skillHolder .textAndControl #text
{
    float: left;
    padding: 14px 0 0 0px;
    text-align: left;
    width: 800px;
}
#skillHolder .textAndControl #text a
{
	color: #FFFFFF;
    float: left;
    font-size: 14px;
    text-align: left;
    width: 840px;
	font-weight:bold;
	font-family:arial;
	text-decoration:none;
}
#skillHolder .imgHolder a img
{
	width:100%;		
}
