@CHARSET "ISO-8859-1";
@font-face
{
	font-family: handofsean;	
	src: url('../fonts/hand-of-sean.ttf');
}
@font-face
{
	font-family: Arial Rounded MT;	
	src: url('../fonts/arial-rounded-mt.ttf');
}
.mainbox
{
	float:left !important;
	height:auto;
	/*padding:10px;*//*feb14*/
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
	color:#333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
.divboxholder
{
	width:940px;
	float:left;
	margin:15px 0 0 0;
	padding:0;
}
.divbox
{
	width:957px !important;
	float:left;
	/*margin-bottom:20px;*/
}
.headingbox
{
	font-size: 30px;/*feb18 30 to 24*/
	margin:0px;
	text-transform:capitalize;
	font-weight:bold;
	color:#666666;
	line-height:54px;
	/*background-image:url("../images/bluedotts.png");*/
	background-position:left bottom;
	background-repeat:repeat-x;
	/*padding-bottom:10px;*/
	float:left;
	width:100%;
    /*feb18*/width: 980px;
    /*feb18*/border-bottom: 1px dashed #00A7E6;
}
.imgbox,.imgboxright
{
	height:268px;
	background-position:center bottom;
	background-repeat:no-repeat;
}
.imgbox
{
	float:left;
	background-image:url("../images/leg3.gif");
	margin-right: 40px;
}
.imgboxright
{
	
	float:right;
	background-image:url("../images/leg3.gif");
	margin-left: 40px;
}
.informationbox
{
	height:auto;
	float:left;
	width:558px;
	text-align:left;
}
.informationboxright
{
	height:auto;
	float:right;
	width:558px;
	text-align:right;
}
.teamnamebox
{
	color: #00A7E6;
   	font-family: handofsean,handofsean_IE;
    font-size: 18px;
	font-weight: lighter;
    line-height: 24px;
    margin: 10px 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
.teamnameboxsub
{
	color: #aaa5a4;
   	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif";
    font-size: 14px;
	font-weight: lighter;
    line-height: 24px;
    margin: 10px 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
.teamnameboxsub
{
	 font-size: 14px;
}
.titletext
{
	color: #00A7E6;
    font-size: 18px;
	font-weight: lighter;
    line-height: 18px;
    margin: 10px 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
.teamtitlebox
{
	float:left;
	width:100%;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
.teaminfobox
{
	float:left;
	width:400px;
}
.teaminfoboxright
{
	float:right;
	width:400px;
}
.teaminfobox p,.teaminfoboxright p
{
	font-size:12px;
	margin:0px;
	margin-bottom:10px;
	line-height:18px;
}
.clear
{
	clear:both;
	line-height:0px;
	height:0px;
}
.videolinkbox
{
	float:left;
	width:288px;/*width:313px;*/
	text-align:center;
	margin-top:20px;
}
.videolink
{
	float:left;
	background-image:url("../images/videolinkbg.gif");
	background-position:left bottom;
	background-repeat:no-repeat;
	width:374px;
	height:342px;
	margin-bottom:30px;
}
.videolinktext
{
	color: #00A7E6;
	font-family: "handofsean";
    font-size: 32px;
    font-weight: lighter;
    line-height: 32px;
}
.positionopenbox
{
	float:left;
	width:940px;
}
.positionopenbox p
{
	color: #00A7E6;
	font-size:17px;
	margin:0px;
	margin-bottom:10px;
	line-height:27px;
}
/*new css 15-05*/
.slideinfo
{
	float: left;
    width: 100%;
/*feb18*/width: 937px !important;
    margin-bottom:10px;	
    border-radius:5px;
}		
.slideinfo p
{
	font-size:17px;
    line-height: 18px;
    margin: 0px 0 10px 0;
    color: #000000;
    paddin-left:10px;
}
.slideinfo ul
{
	font-size:17px;
    line-height: 18px;
    margin: 0px 0 10px 0;
    color: #333;
    paddin-left:10px;
}
.slideinfo ul ul
{
	padding:10px 0 0 20px;
}
.normalstate
{
	color: #00A7E6;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px 0px;
    border-radius: 5px;
    padding:5px;
    text-transform:capitalize;
    cursor:pointer;
   width:320px;
    float:left;
}
.activestate
{
	cusrsor:pointer;
	background:#00A7E6;
	color:#ffffff;
	font-size: 14px;
    line-height: 20px;
   	margin: 0 0 10px 0px;
    paddin-left:10px;
    font-weight: bold;
    border-radius: 5px;
    padding:5px;
    text-transform:capitalize;
    cursor:pointer;
    width:260px;
    float:left;
}
.highlight
{
	//font-weight:bold;
	float:left;
	width:100%;	
}
.applynowbtn
{
	background-image:url("../images/applynowbtn.png");
	background-repeat:no-repeat;
	background-position:top left;
	width:102px;
	height:33px;
	float:left;
	line-height:33px;	
}
.videobox
{
	background-image: url("../images/videolinkbg.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
    float: left;
    height: 322px;
    padding: 20px 21px 0;
    text-align: center;
    width: 352px;
    display:block;
    margin-bottom: 30px;
     cursor:pointer;
}
.videosize
{
	width:313px;
	height:286px;
	margin:auto;
	float:left;
}
.highlightsocial
{
	font-weight:bold;
	text-decoration:underline;
	color:#00A7E6;	
}