<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<title>Best Classes & Teachers to Learn Cool, Fun Skills in Mumbai | Skillzot</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Skillzot helps you find & contact the best classes & personal teachers in Mumbai to learn music, dance, yoga, art, DJing & many other cool, fun skills.
	">

<meta name="fragment" content="!">

	
	<meta name="description" content="Skillzot helps you find and contact the best teachers & classes, to learn any skill, in a place convenient for you and help you nurture your talent.">
    <link rel="canonical" href="http://www.skillzot.com/"/>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/users.css"/>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.autocomplete.css" />
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.autocomplete.js"></script>
<script>
$(document).ready(function(){
 $("#keywords").autocomplete("<?php echo BASEPATH?>/search/follower/keyword/q", {
		selectFirst: true,
		 autoFocus: true 
	});
});
</script>
	<?php
		//echo $this->headTitle("SkillZot");
		echo $this->headLink()->appendStylesheet(BASEPATH.'/css/users.css');
		echo $this->headScript()->appendFile(BASEPATH.'/js/thumbscroller.js');
	?>
<!--  brgv 25-04 -->
<style>
/*#search
{
	background-color: rgba(0, 167, 230, 0.7);
}*/
#searchbox input.findtutor
{
    background: #00A7E6 url("<?php echo BASEPATH;?>/images/search3.png") no-repeat;
	cursor: pointer;
    float: left;
    height: 49px;
    margin: 20px -7px 0;
    width: 115px;
    border-radius: 0 7px 7px 0;

}
/*#searchbox input.findtutor:hover
{
	background: url("<?php echo BASEPATH;?>/images/Search_org.png") no-repeat scroll 0 0 transparent;
}*/
#footer
{
	margin-bottom:0px !important;
}
</style>
<!-- end brgv 25-04 -->
<script type="text/javascript">
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/index/index','searchform','searchform');
				
			};
		};
		$(document).ready(function(){

			if (!$.browser.opera) {
	    
				// select element styling
				$('select.select').each(function(){
					var title = $(this).attr('title');
					if( $('option:selected', this).val() != ''  ) title = $('option:selected',this).text();
					$(this)
						.css({'z-index':10,'opacity':0,'-khtml-appearance':'none'})
						.after('<span class="select">' + title + '</span>')
						.change(function(){
							val = $('option:selected',this).text();
							$(this).next().text(val);
							})
				});
			};		
		});	
</script>
<style>
form .slct{position:relative;}

.input_container ul {
	width: 590px;
	border: 1px solid #00A7E6;
	margin-top: 76px;
    position: absolute;
    text-align: left;
    border-radius: 7px;
	z-index: 999;
	background: #ffffff;
	font-size: 16px !important;
    line-height: 20px;
    cursor: pointer;
}
.input_container ul li {
	padding: 2px;
	border: 1px solid #00A7E6;
	cursor: pointer;
	overflow: hidden;
	list-style: outside none none;
    text-overflow: ellipsis;
}
.input_container ul li:hover {
	background: #00A7E6;
	color: #ffffff;
	cursor: pointer;
}

</style>
<!--[if IE]>
	 <style>
	#searchform input
	{
		padding: 6px 0px 0px 0px;
	}
</style>
<![endif]-->
</head>
<body>
<form action="" name="searchform" id="searchform" method="post" enctype="multipart/form-data">
	<div id="search">	
		<div id="searchbox">
			<input type="text"  style="float: left;" value="Search for skills, tutor or company, locality ..." id="keywords" name="keywords" onfocus="clearit(this);" onblur="fixit(this);"  szprompt="Search for skills, tutor or company, locality ..." autocomplete="off">
			<input class="findtutor" name="save" id="save" type="button" />
		</div>
	</div>
	</form>
</body>
</html>
