<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
	<title>Class/teacher profile, edit course details.</title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crudcoursedetail.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/ckeditor/ckeditor.js"></script>
	<link rel="stylesheet" type="text/css" src="<?php echo BASEPATH; ?>/css/ckeditor/contents.css"></link>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	
	<!--<link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
	<script src="http://cdn.webrupee.com/js" type="text/javascript"></script>-->
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/customcalender.css"/>
	
	
<script type="text/javascript">

window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if (isset($this->courseid) && $this->courseid!="" && $this->clonecorseid=="0"){?>
		saveForm('<?php echo BASEPATH; ?>/edit-profile/edit-course/courseid/<?php echo $this->courseid; ?>/clonecorseid/0','register_step','register_step');
		<?php }elseif(isset($this->courseid) && $this->courseid!="" && $this->clonecorseid=="1"){ ?>
		saveForm('<?php echo BASEPATH; ?>/edit-profile/edit-course/clonecorseid/<?php echo $this->courseid; ?>/clonecorseid/1','register_step','register_step');
		<?php } else { ?>
		saveForm('<?php echo BASEPATH; ?>/edit-profile/edit-course','register_step','register_step');
		<?php } ?>
		
	}
	
	
};
function imagedone()
{
	document.getElementById("imgfile_error").innerHTML = "Image uploaded successfully...!";//display msg
}
function myfunctionin(uid){
	//alert('in');
	var id = uid;
	var pos = $("#"+id).height();
	var topp = "-"+(pos/2-10);
	//alert("-"+pos/2);
	//$('#'+id).css('top', topp);
	//$(".tooltipdivspan2").css.top("-"+pos/2);
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	uniqid.style.top = topp+"px";
}
function removeclasspic(id)
{
	jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
	if(r == true) {
		
	$.ajax({
		url:"<?php echo BASEPATH;?>/editprofile/removeclasspic",
		type:'post',
		data:'courseid='+id,
		async: false,
		success: function(response){
			if(response!="" || response!=null){
				document.getElementById("imgfile_error").innerHTML = "Image deleted successfully...!";
				document.getElementById('classpicdivdisplay').style.display ='none';
			}
		}
	});}
	else return false;
	});
}

function myfunctionout(uid){
	//alert('ioo');
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function language_id(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal4').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal4').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal4').value = idimg+",";
		reval = document.getElementById('hiddenVal4').value;
	}
	reval = document.getElementById('hiddenVal4').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal4').value += idimg+",";
		}
	}
}
function studentprofile_id(idimg){
	var hiddenvalue2 = document.getElementById('hiddenVal5').value;

	if((hiddenvalue2.indexOf(idimg) != -1) == true){
		var reval = hiddenvalue2.replace(idimg+",",'');
		var flag=1;
		document.getElementById('hiddenVal5').value = reval;
	}
	if(hiddenvalue2 == ""){
		document.getElementById('hiddenVal5').value = idimg+",";
		reval = document.getElementById('hiddenVal5').value;
	}
	reval = document.getElementById('hiddenVal5').value;
	if(flag!=1){
		if((reval.indexOf(idimg) != -1) == false){
			document.getElementById('hiddenVal5').value += idimg+",";
		}
	}
}

<?php 
		if(isset($authUserNamespace->avgaddvar) && $authUserNamespace->avgaddvar!="" && $authUserNamespace->avgaddvar!="-1"){?>
			var avg_l = "<?php echo $authUserNamespace->avgaddvar;?>";
			var l = "<?php echo $authUserNamespace->avgaddvar;?>";
		<?php }else{?>
			var avg_l = 0;
			var l = 0;
		<?php }?>

		
function adddynamicRowbranch(){
	
	//alert(l);
	//if(avg_l<=3){
		l++;
		avg_l++;
		newdiv= document.createElement('div');
		newdiv.setAttribute('class','steprow1');
		newdiv.setAttribute('id','addvideomore'+l);
		newdiv.innerHTML="<div class='steprow1'>"+
		"<div class='stepcol1'>&nbsp;</div>"+
		"<div class='stepcol2'>"+
		"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Address' style='width:129px;' type='text' name='address[]' id='address[]' value='Address'>"+
		"</div>"+
		"</div>"+
		"<div class='steprow1'>"+
		"<div class='stepcol1'>&nbsp;</div>"+
		"<div class='stepcol2'>"+

		"<select id='city[]' name='city[]' style='width:145px;' errortag='city name' onchange='getlocality(this.value,"+l+");'>"+
		"<option value='' selected='selected'>--  Select city  --</option>"+
		<?php if(isset($this->city) && sizeof($this->city)>0){foreach($this->city as $city){?>
			"<option value='<?php echo $city->address_id;?>'  <?php if (isset($this->tutordata->tutor_add_city) && $this->tutordata->tutor_add_city!="" && $this->tutordata->tutor_add_city == $city->address_id ){ echo "selected";}?>> <?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>"+
		"</option>"+
		<?php }}?>
		"</select>"+

		"<select id='locality["+l+"]' style='width:145px;' name='locality["+l+"]' errortag='locality'>"+
			"<option value='' selected='selected'>--  Select locality  --</option>"+
		"</select>"+

		
		//"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='City' style='width:129px;' type='text' name='city[]' id='city[]' value='City'>"+
		//"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Locality' style='width:129px;' type='text' name='locality[]' id='locality[]' value='Locality'>"+
		"</div>"+
		"</div>"+
		"<div class='steprow1'>"+
		"<div class='stepcol1'>&nbsp;</div>"+
		"<div class='stepcol2'>"+
			"<input  class='input' onfocus='clearit(this);' maxlength='6' onblur='fixit(this);' szprompt='Pincode' style='width:129px;' type='text' name='pincode[]' id='pincode[]' value='Pincode'>"+
			"<input  class='input' onfocus='clearit(this);' onblur='fixit(this);' szprompt='Landmark' style='width:129px;' type='text' name='landmark[]' id='landmark[]' value='Landmark'>"+
			"<input type='hidden' id='address"+avg_l+"' errortag='Experience row"+avg_l+"'>"+
			"<div class='clear'>&nbsp;</div>"+
		"</div>"+
		"<div id='address"+avg_l+"_error' class='errorcls'></div>"+
		"<img src='<?php echo BASEPATH;?>/images/black_close.png' onclick=\"removeDiv4('"+l+"');\" style='width:16px;height:16px;margin-top:5px;margin-left:20px;'/>"+
		"</div>";
		
		document.getElementById('addvideomore').appendChild(newdiv);	

	
	//}
	}
function removeDiv4(index){
	if(document.getElementById('addvideomore'+index)){
		document.getElementById('addvideomore').removeChild(document.getElementById('addvideomore'+index));
	}

	l = index-1;
	avg_l--;
}
function getlocality(city_id,locality){
	if(city_id != "" && city_id != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/getlocality",
			type:'post',
			data:'city_id='+city_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					j=1;
					var jsonObject = eval ('('+response+')');
					options_ele = document.getElementById('locality['+locality+']');
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
				    for(m=0;m<jsonObject.length;m++){
						var option_element = new Option(jsonObject[m]['address_name'],jsonObject[m]['locality_id']);
						document.getElementById('locality['+locality+']').options[j] = option_element;
						j++;
					}
				}
			}
		});
	}
}
function getlessionloc(getvalue){
	if(getvalue=="2")
	{
		document.getElementById('travel_radius_error').innerHTML="&nbsp";
	}
	document.getElementById('LessionLocationhiddenvalue').value = getvalue;
}

function call_delete(id,course_id,tutor_batch_name)
{
	jConfirm('Are you sure want to delete('+tutor_batch_name+')?', 'Confirmation Dialog', function(r) {
		if(r == true) window.location.href= '<?php echo BASEPATH; ?>/editprofile/deletebatch/batchid/'+id+'/courseid/'+course_id;
		else return false;
	});
}
function batchdone()
{
	document.getElementById("batch_error").innerHTML = "Batch details uploaded successfully...!";//display msg
}
</script>
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:586px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.stepcol1
{
	width:190px;
}
.CourseDetMid {
    font-size: 14px;
    padding: 15px 0 0 14px;
}
.stepcol2
{
	width: 294px;
}
#registration_form_2 input
{
	 width: 244px;
	 padding:0 5px;
	 text-indent: 0em;
	 height:30px;
}
#registration_form_2 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 240px;
    height:40px;
    font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
    padding:0 5px;
    text-indent: 0em;
}
.cke_show_borders p span
{
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
}

.steprow1 a:link, .steprow1 a:hover, .steprow1 a:active, .steprow1 a:visited {
    color: #00A7E6;
    font-size: 18px;
}
.rightcontent
{
	margin: 0 0 0 30px;
}
.leftcontent
{
	margin: 0 0 0 5px;
}
.tooltipclass{
	/*margin-bottom:-7px;*/
	cursor:pointer;
	position:relative;
	padding-top:3px;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
    z-index:1;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.lowspacer{
	height:15px;
}
#registration_form_2 .checkbox
{
	height:auto;
	 float: left;
    width: 50px;
}
.steprow1
{
margin-bottom: 5px;
}
.errorcls{
	color:#FF6633;
	font-size:12px;
	margin-left:196px;
	float:left;
	line-height: 15px;
	font-weight:normal;
	width:60%;
}
.infolinerow
{
	padding:0px;
}
#tablecaledar
{
border-top:1px solid #DDDDDD;
}
</style>
<style>
/*31-05 edit profile*/
.leftcontent
{
	width: 288px;
}
.tutorleftcontenttop
{
	background-image: url("<?php echo BASEPATH;?>/images/tutorleftcontenttopsmall.gif");
	background-repeat:no-repeat;
	width: 265px;
}
.tutorleftcontentmid
{
    background-repeat: repeat-y;
    width: 244px;
}
.tutorleftcontentbot
{
    background-image: url("<?php echo BASEPATH;?>/images/tutorleftcontentbotsmall.gif");
    background-repeat:no-repeat;
    width: 265px;
}
.CourseDetTop {
    background-repeat: no-repeat;
    width: 653px;
}
.CourseDetMid
{
    background-repeat: repeat-y;
    width: 539px;
    padding: 15px 0 0 14px;
}
.CourseDetBot {
    background-repeat: no-repeat;
    width: 653px;
}

/*31-05 edit profile*/
.add-small-batch {
    background-image: url("/images/addBtn.png");
    background-position: 6px 2px;
    background-repeat: no-repeat;
    color: #00a7e6;
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    padding: 6px 0 6px 25px;
}
</style>


</head>
	<body>
	
			<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
				<div class="rightcontent">
				<div class="CourseDetMid">
					<div class="steprow1"><span style="color:#358fbd;font-size:16px;">Course Details:</span></div>
					<div class="allfields"> <span class="onlyorangedisplay">* </span>All fields are required</div>
					<div class="steprow1"> 
						<div class="stepcol1" style="float:left;">Course name : <span style="color:#F06045;">*</span></div> 
						<div class="stepcol2"><input class="input" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" style="float:left;" type="text"  id="coursename" name="coursename" value="<?php if (isset($authUserNamespace->defultcourseid) && $authUserNamespace->defultcourseid!=""){echo "New course name";}else if (isset($this->tutorcoursedata->tutor_course_name) && $this->tutorcoursedata->tutor_course_name!="" ){echo $this->tutorcoursedata->tutor_course_name;}//$this->tutorcoursedata->tutor_course_name;}?>" errortag="name of the course">
								<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
										<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
											<span class="tooltipdivspan2">Example - Guitar for beginners OR 3 month course in pottery making.</span>
										</span>
								</span>
						</div>
						<div id="coursename_error" class="errorcls">&nbsp;</div>
					</div>
				<div class="steprow1">
						<div class="stepcol1">Brief course description : <span class="onlyorangedisplay">*</span>
						<i class="registerhint" style="float:left;"> You can include
							<ul class="registerhint" style="padding: 0 0 0 14px;">
									<li class="adotli">Topics/areas covered</li>
									<li class="adotli">What are students expected to learn/accomplish</li>
									<li class="adotli">USP of this class</li>
							</ul>
						</i>
						</div>
						<div class="stepcol2" style="float:left;"><textarea texttype="ckeditor_overviewdesc" type="text" name="OverviewDescription" id="OverviewDescription" value="" errortag="Brief Description"><?php if (isset($this->tutorcoursedata->tutor_course_desc) && $this->tutorcoursedata->tutor_course_desc!="" ){echo $this->tutorcoursedata->tutor_course_desc;}?></textarea>
						<script type="text/javascript">
							CKEDITOR.replace('OverviewDescription',{
								extraPlugins : 'uicolor',
								toolbar : [[ 'NumberedList', 'BulletedList'],],
								height : 250,
								width : 260,
								removePlugins : 'maximize,resize',
								toolbarCanCollapse: false
							});
						</script>
							
						</div>
						<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:-24px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename3');" onmouseout="myfunctionout('uniquename3');" />
										<span class="tooltipdiv" id="uniquename3" style="visibility: hidden;left:5px;">
											<span class="tooltipdivspan2">Write about broadly what topics or areas you will cover during the course and what the student can expect to learn and accomplish by the end of the lessons.
											</span>
<!--											 and click here for a some examples (separate link)-->
										</span>
								</span>
						<div id="OverviewDescription_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
					<div class="steprow1" style="margin-bottom:0px;">
						<div class="stepcol1">Student profile : <span class="onlyorangedisplay">*</span></div>
						
						<div class="stepcol2">
						<?php if(isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata)>0) {
								
								$gradeArray = $this->tutorcoursedata;
						  		$allstprofileId = $gradeArray['tutor_student_profile'];
						  		$removeLaststprofileId = substr($allstprofileId, 0, strlen($allstprofileId)-1);
								
						  		$stprofileIds = explode(",",$removeLaststprofileId);
						  		$stprofileSize = sizeof($stprofileIds);
						
						} ?>
						<?php if(isset($this->profiletype) && sizeof($this->profiletype)>0){ foreach($this->profiletype as $profiletype){?>
						<input style="float:left;height:15px;width:15px;" type="checkbox"
								
								<?php if (isset($stprofileIds) && $stprofileSize >0 )
						  				{
										for($k=0;$k<$stprofileSize;$k++)
						  					{
						  					if($stprofileIds[$k]==$profiletype->profile_id)
						  						{
						  							echo "checked";
						  						}
											}
						  				}?>
								onclick="javascript:studentprofile_id(this.value);" value="<?php if (isset($profiletype->profile_id) && $profiletype->profile_id!="") echo $profiletype->profile_id;?>"> 
								<span style="margin:0px 6px 0 5px;float:left;"><?php if (isset($profiletype->profile_type) && $profiletype->profile_type !=""){echo $profiletype->profile_type;}?></span>
						<?php } }?>
						</div>
						<input type="hidden" id="hiddenVal5" errortag="student profile" name="hiddenVal5" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata) > 0){
								$gradeArray = $this->tutorcoursedata;
						  		echo $allgradeId = $gradeArray['tutor_student_profile'];
						 		} ?>" />
						<div id="hiddenVal5_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
						<input class="input" style="float:left;" onmouseover="myfunctionin('uniquename4');" onmouseout="myfunctionout('uniquename4');" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Suitable for..." type="text" name="student_comment" id="student_comment" value="<?php if (isset($this->tutorcoursedata->tutor_student_comments) && $this->tutorcoursedata->tutor_student_comments!="" ){echo $this->tutorcoursedata->tutor_student_comments;}else{echo "Suitable for...";}?>" errortag="Student Profile">
					
						<span style="float:left;" class="tooltipclass">
										<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename4');" onmouseout="myfunctionout('uniquename4');" />
										<span class="tooltipdiv" id="uniquename4" style="visibility: hidden;">
											<span class="tooltipdivspan2">Mention if anyone can participate in this course or is it primarily for students who already have some experience.
											</span>
										</span>
						</span>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					
				<div class="steprow1">
						<div class="stepcol1">Age group : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2"><input class="input" onmouseover="myfunctionin('uniquename5');" onmouseout="myfunctionout('uniquename5');" style="float:left;" class="input" type="text" name="agegroup" id="agegroup" value="<?php if (isset($this->tutorcoursedata->student_age_group) && $this->tutorcoursedata->student_age_group!="" ){echo $this->tutorcoursedata->student_age_group;}?>" errortag="age group of students">
						<span style="float:left;" class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename5');" onmouseout="myfunctionout('uniquename5');" />
								<span class="tooltipdiv" id="uniquename5" style="visibility: hidden;">
									<span class="tooltipdivspan2">Mention what age group of people can take up this course. Ex. '7 to 21' or 'Any age group'.
									</span>
								</span>
						</span>
						</div>
						<div id="agegroup_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
				
					
					<div class="steprow1">
						<div class="stepcol1">Format : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2"><input class="input" onmouseover="myfunctionin('uniquename6');" onmouseout="myfunctionout('uniquename6');" onkeyup="limiter2();" style="float:left;" class="input" type="text" name="format" id="format" value="<?php if (isset($this->tutorcoursedata->tutor_format) && $this->tutorcoursedata->tutor_format!="" ){echo $this->tutorcoursedata->tutor_format;}?>" errortag="the format of teaching">
						<span style="float:left;" class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename6');" onmouseout="myfunctionout('uniquename6');" />
								<span class="tooltipdiv" id="uniquename6" style="visibility: hidden;">
									<span class="tooltipdivspan2">Is it only practical lessons or combined with theory. Ex. 80% practical 20% theory.
									</span>
								</span>
						</span>
						
						<script type="text/javascript">
							var count2 = "75";   //Example: var count = "175";
							function limiter2(){
							var tex = document.register_step.format.value;
							var len = tex.length;
							if(len > count2){
							        tex = tex.substring(0,count2);
							        document.register_step.format.value =tex;
							        return false;
							}
							//document.register_step.limit.value = count-len;
							document.getElementById("formatcount").value = count2-len;
							document.getElementById("formatcount").innerHTML=count2-len;
							}
						</script>
						<div class="clear">&nbsp;</div>
						<div class="char_count" id="formatcount" style="width: 207px;height:12px;">	</div>
						</div>
						<div id="format_error" class="errorcls" style="margin-top: -11px;">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Certificates granted or trained for :</div>
						<div class="stepcol2"><input class="input" class="input" onmouseover="myfunctionin('uniquename7');" onmouseout="myfunctionout('uniquename7');" style="float:left;" type="text" name="certisgranted" id="certisgranted" value="<?php if (isset($this->tutorcoursedata->tutor_certificate_granted) && $this->tutorcoursedata->tutor_certificate_granted!="" ){echo $this->tutorcoursedata->tutor_certificate_granted;}?>" errortag="Certificate Granted">
						<span style="float:left;" class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename7');" onmouseout="myfunctionout('uniquename7');" />
								<span class="tooltipdiv" id="uniquename7" style="visibility: hidden;">
									<span class="tooltipdivspan2">Will the student get a certificate at the end of the course. If so please mention what. Ex. Diploma in Hair Styling or Diploma in Music.
									</span>
								</span>
						</span>
						</div>
						<div id="certisgranted_error" class="errorcls">&nbsp;</div>
					</div>
				<div class="clear">&nbsp;</div>
					
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Language of teaching : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2">
						
						<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$gradeArray = $this->tutorcoursedata;
						  		$alllanguageId = $gradeArray['tutor_lesson_language'];
						  		$removeLastlanguageId = substr($alllanguageId, 0, strlen($alllanguageId)-1);
						  		$languageIds = explode(",",$removeLastlanguageId);
						  		$languageSize = sizeof($languageIds);
							}
						?>
							<?php if(isset($this->language) && sizeof($this->language)>0){$i=0;foreach($this->language as $language){?>
								<input style="float:left;height:15px;width:15px;" type="checkbox"
								<?php if (isset($languageIds) && sizeof($languageIds)>0)
						  				{
						  					for($k=0;$k<$languageSize;$k++)
						  					{
						  						if($languageIds[$k]==$language->language_id)
						  						{
						  							echo "checked";
						  						}
						  					}
						  				}?>
								
								name="language<?php echo $i;?>" id="language<?php echo $i;?>" onclick="javascript:language_id(this.value);" value="<?php if (isset($language->language_id) && $language->language_id!="") echo $language->language_id;?>"> <span style="margin:0px 6px 0 5px;float:left;"><?php if (isset($language->language_name) && $language->language_name !=""){echo $language->language_name;}?></span>
							<?php $i++;}}?>
						</div>
						<input type="hidden" id="hiddenVal4" errortag="language"  name="hiddenVal4" value="<?php if (isset($this->tutorcoursedata) && sizeof($this->tutorcoursedata))
							{
								$gradeArray = $this->tutorcoursedata;
						  		echo $alllanguageId = $gradeArray['tutor_lesson_language'];
						  		}?>" />
						 <div id="hiddenVal4_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="clear">&nbsp;</div>
					
					
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1" >
						<div class="stepcol1" id="jerrorimg">Class image :</div><?php // echo $this->tutorcoursedata->id;exit;?>
						<div class="stepcol2">
						<a href="<?php echo BASEPATH;?>/uploadimage/index/id/<?php if(isset($authUserNamespace->tutorsessionid) && $authUserNamespace->tutorsessionid!="")echo $authUserNamespace->tutorsessionid;else echo 0;?>" rel="lightbox[820 520];" style="float:left;">Upload image</a>
						<span class="tooltipclass">
								<img style="float:left;margin-left:5px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename25');" onmouseout="myfunctionout('uniquename25');" />
								<span class="tooltipdiv" id="uniquename25" style="visibility: hidden;left:5px;">
									<span class="tooltipdivspan2">Upload an image of where you teach, preferably with students taking a class. It increases the chances of leads by 40%.
									</span>
								</span>
						</span>
						
								<div class="clear">&nbsp;</div>
								<div><i class="registerhint">Pictures are limited to JPG, PNG and GIF. Also, they must be no larger than 5Mb. Image size must be greater than 550 * 179 pixels.<?php if (isset($this->tutorcoursedata->tutor_class_image_type) && $this->tutorcoursedata->tutor_class_image_type!="" && $this->tutorcoursedata->tutor_class_image_content!="" && isset($this->uniq_courseid) && $this->uniq_courseid!="") { ?><div id="classpicdivdisplay" style="	float:right;text-decoration:underline;"><a style="font-size: 12px;" class="onlybluecolor" onclick="removeclasspic('<?php if (isset($this->tutorcoursedata->id) && $this->tutorcoursedata->id!=""){echo $this->tutorcoursedata->id;}?>')">Remove image</a></div><?php }?></i></div>
						</div>
						<div id="imgfile_error" class="errorcls"><?php if (isset($authUserNamespace->courseimageerror) && $authUserNamespace->courseimageerror!=""){echo $authUserNamespace->courseimageerror; unset($authUserNamespace->courseimageerror);}elseif(isset($authUserNamespace->coursewidtherror) && $authUserNamespace->coursewidtherror!=""){echo $authUserNamespace->coursewidtherror;} unset($authUserNamespace->coursewidtherror);?></div>
						<input type="hidden" name="imgch" id="imgch" value="<?php //if(isset($this->users->image_type)){echo $this->users->image_type; }?>"/>
					</div>
					<div class="clear">&nbsp;</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
					<div class="stepcol1" style="width: 189px;"><span style="color:#358fbd;font-size:16px;">Batch Details :</span></div>
					
				<?php
				
				if (isset($this->batchResult) && $this->batchResult!=""){
					//print_r($this->batchResult);
					$batchSize = sizeof($this->batchResult);
					foreach ($this->batchResult as $batchname){
						//print_r($batchname);
						
						if (isset($batchname->tutor_batch_name) && $batchname->tutor_batch_name!="")
						{
							//echo $batchname->tutor_batch_name;
						?>
						<div class="stepcol2" style="width:513px; margin-left:10px;margin-top:10px;">
						<input type="text" style="width:257px;" readonly="readonly" value="<?php if (isset($batchname->batch_summary_for_course) && $batchname->batch_summary_for_course!=""){echo $batchname->batch_summary_for_course;}else{ echo "None";} ?>
							">
						
						<a rel="lightbox[external 730 520]" style="color:#1CA3E7;color: #1CA3E7;height:22px;padding:8px 16px;font-size: 12px;" href="<?php echo BASEPATH;?>/editprofile/addbatchcalender/batchid/<?php echo $batchname->id;?>/corseid/<?php if (isset($this->courseid) && $this->courseid!="") {echo $this->courseid; }?>" id="<?php echo $batchname->id; ?>">Edit</a>
						<a class="viewbatch1 openskillbox" rel="<?php echo BASEPATH;?>/editprofile/viewbatchcalender/batchid/<?php echo $batchname->id;?>" style="color:#1CA3E7;color: #1CA3E7;height:22px;padding:8px 12px;font-size: 12px;" id="<?php echo $batchname->id; ?>">View</a>

						<a rel="lightbox[external 730 520]" style="color:#1CA3E7;color: #1CA3E7;height:22px;padding:8px 12px;font-size: 12px;" href="<?php echo BASEPATH;?>/editprofile/addbatchcalender/batchid/<?php echo $batchname->id;?>/courseid/<?php if (isset($this->courseid) && $this->courseid!="") {echo $this->courseid; }?>" id="<?php echo $batchname->id; ?>">Clone</a>

					<a rel="lightbox[external 400 180]" style="color:#1CA3E7;color: #1CA3E7;height:22px;padding:8px 10px;font-size: 12px;" href="<?php echo BASEPATH;?>/editprofile/deletebatch/batchid/<?php echo $batchname->id;?>/courseid/<?php if (isset($this->courseid) && $this->courseid!="") {echo $this->courseid; }?>">Delete</a>
						</div>
						<?php
					}
				}
			}?>
					
					<div class="stepcol2">
					<div class="add-smallholder">
					<?php if (isset($this->defaultcourseid) && $this->defaultcourseid!="" || $this->courseid=="") {?>
						<a class="add-small-batch" style="font-size: 14px;" rel="lightbox[external 730 520]" href="<?php echo BASEPATH;?>/editprofile/addbatchcalender/defaultcorseid/<?php echo $this->defaultcourseid;?>">Add batch</a>
						<i class="registerhint" style="margin:0px 0px 10px 0px;float:left;">(You can add more than one batch once you have completed your profile)</i>
						<?php } else {?>
						<a class="add-small-batch" style="font-size: 14px;" rel="lightbox[external 730 520]" href="<?php echo BASEPATH;?>/editprofile/addbatchcalender/courseid/<?php echo $this->courseid;?>">Add batch</a>
						<?php } ?>
					</div>
					</div>
					
				
				</div>
				<div id="batch_error" class="errorcls"></div>
					
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					<div class="steprow1"><span style="color:#358fbd;font-size:16px;">Payment Details:</span></div>
					<div class="clear">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					<div class="steprow1" style="margin-bottom: 0px;">
						<div class="stepcol1">Rate (rupees) : <span class="onlyorangedisplay">*</span></div>
						<div class="stepcol2" style="width:310px;"><span class="WebRupee">&#x20B9; </span><input  class="input" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Fees or fee range" style="width:118px;" type="text" name="rate" id="rate" value="<?php if (isset($this->tutorcoursedata->tutor_rate) && $this->tutorcoursedata->tutor_rate!="" ){echo $this->tutorcoursedata->tutor_rate;}else{echo "Fees or fee range";}?>" errortag="fees">
						<select name="feestype" id="feestype">
						<option value="">Select fees type</option>
						<?php if(isset($this->feestype) && sizeof($this->feestype)>0){$i=0;foreach($this->feestype as $feestype){?>
						<option value="<?php if (isset($feestype->fee_type_id) && $feestype->fee_type_id!="") echo $feestype->fee_type_id;?>" <?php if (isset($this->tutorcoursedata->tutor_pay_feetype) && $this->tutorcoursedata->tutor_pay_feetype!="" && $this->tutorcoursedata->tutor_pay_feetype == $feestype->fee_type_id ){ echo "selected";}?>><?php if (isset($feestype->fee_type_name) && $feestype->fee_type_name !=""){echo $feestype->fee_type_name;}?></option>
						<?php $i++;}}?>
						
						</select>
						
						</div>
						<div id="rate_error" class="errorcls">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">&nbsp;</div>
						<div class="stepcol2">
						<input class="input" onkeyup="limiter1();" style="float:left;" onfocus="clearit(this);" onblur="fixit(this);" szprompt="Comments if any..." type="text" name="rate_comment" id="rate_comment" value="<?php if (isset($this->tutorcoursedata->rate_comments) && $this->tutorcoursedata->rate_comments!="" ){echo $this->tutorcoursedata->rate_comments;}else{echo "Comments if any...";}?>" errortag="Student Profile">
						
						
						<script type="text/javascript">
							var count1 = "160";   //Example: var count = "175";
							function limiter1(){
							var tex = document.register_step.rate_comment.value;
							var len = tex.length;
							if(len > count1){
							        tex = tex.substring(0,count1);
							        document.register_step.rate_comment.value =tex;
							        return false;
							}
							//document.register_step.limit.value = count-len;
							document.getElementById("rate_comment_count").value = count1-len;
							document.getElementById("rate_comment_count").innerHTML=count1-len;
							}
						</script>
						<div class="char_count" id="rate_comment_count">	</div>
						</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Payment cycle : <span class="onlyorangedisplay">*</span></div>
						<select id="paymentcycle" name="paymentcycle" style="width:260px;" errortag="paymentcycle">
								<option value="select" selected="selected">--  Select Payment Cycle  --</option>
								<?php if(isset($this->paycycle) && sizeof($this->paycycle)>0){$i=0;foreach($this->paycycle as $paycycle){?>
									<option value="<?php if (isset($paycycle->pay_cycle_id) && $paycycle->pay_cycle_id!=""){echo $paycycle->pay_cycle_id;}?>"  <?php if (isset($this->tutorcoursedata->tutor_pay_cycle) && $this->tutorcoursedata->tutor_pay_cycle!="" && $this->tutorcoursedata->tutor_pay_cycle == $paycycle->pay_cycle_id ){ echo "selected";}?>><?php if (isset($paycycle->pay_cycle_name) && $paycycle->pay_cycle_name !=""){echo $paycycle->pay_cycle_name;}?>
								</option>
								<?php $i++;}}?>
            			</select>
            			<div id="paymentcycle_error" class="errorcls" style="margin-top:5px;">&nbsp;</div>
					</div>
					<div class="lowspacer">&nbsp;</div>
					<div class="midspacer">&nbsp;</div>
					<div class="steprow1">
						<div class="stepcol1">Cancellation policy if any? :</div>
						<div class="stepcol2"><input class="input" type="text" name="cancel_policy" value="<?php if (isset($this->tutorcoursedata->tutor_canc_policy) && $this->tutorcoursedata->tutor_canc_policy!="" ){echo $this->tutorcoursedata->tutor_canc_policy;}?>"></div>
					</div>
					<div class="clear">&nbsp;</div>
				
				
				
				<div class="midspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
					  
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/savenew.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/savenew.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/save_hover.png';" id="save" name="save" /></div>
					</div>
				</div>
				
				</div>
			</div>
			
			</div>
			
	</form>
	</body>
</html>
<script type="text/javascript">
var sectbatch ="<?php if (isset($this->tutorcoursedata->tutor_batch_status) && $this->tutorcoursedata->tutor_batch_status!="" && isset($this->uniq_courseid) && $this->uniq_courseid!=""){ echo $this->tutorcoursedata->tutor_batch_status; } ?>";
					var batch_type_id = "";
					var course_id = "";
					var s_cal_show="";
					row=38;
					colom=7;
					colwidth=90;
					border=1;
					var week= new Array();
					week[1]="Time";
					week[2]="Mon";
					week[3]="Tue";
					week[4]="Wed";
					week[5]="Thu";
					week[6]="Fri";
					week[7]="Sat";
					week[8]="Sun";
					var timediv = 5;
					tablewidth=(colwidth*colom)+1*(colom-2)+2;
					document.getElementById("caltable").innerHTML="";
					var caltab = document.getElementById("caltable");
					caltab.style.width='414px';


					var div = document.createElement("div");
					/*div.setAttribute("class", "fullrowline");*/
					div.className = 'fullrowline';
					div.innerHTML='';
					document.getElementById("daydiv").appendChild(div);

					var div = document.createElement("div");
					/*div.setAttribute("class", "fullrowline");*/
					div.className = 'fullrowline';
					div.setAttribute("id","fixed_row1");
					div.innerHTML='Click on blocks to select time slots of when you take lessons';
					document.getElementById("daydiv").appendChild(div);
					
					var div = document.createElement("div");
//					div.setAttribute("class", "fullrowline");
					div.className = 'fullrowline';
					div.innerHTML ='Your status : ';
					if(sectbatch=="Currently not taking students"){
						div.innerHTML += '<select name=\"tutor_batch_status\" id=\"tutor_batch_status\">'+
						'<option value=\"Available to teach\">Available to teach</option>'+
//						'<option value=\"Fully Booked\">Fully Booked</option>'+
						'<option selected=\"selected\" value=\"Currently not taking students\">Currently not taking students</option>'+
						'</select>';
						
					}
					else{
						div.innerHTML += '<select name=\"tutor_batch_status\" id=\"tutor_batch_status\">'+
							'<option selected=\"selected\" value=\"Available to teach\">Available to teach</option>'+
//							'<option  value=\"Fully Booked\">Fully Booked</option>'+
							'<option value=\"Currently not taking students\">Currently not taking students</option>'+
							'</select>';
					}
					document.getElementById("daydiv").appendChild(div);

					var div = document.createElement("div");
//					div.setAttribute("class", "fullrowline");
					div.className = 'fullrowline';
					//div.setAttribute("id","fixed_row2");
					div.innerHTML="";
					document.getElementById("daydiv").appendChild(div);
					/*Day display*/
					for(k=1;k<=(colom+1);k++){
						var div = document.createElement("div");
							
							div.setAttribute("id",'dayd'+k);
//							div.setAttribute("class", "dayclass");
							div.className = 'dayclass';
							div.innerHTML=week[k];
							document.getElementById("daydiv").appendChild(div);
					}
					/*Day Time*/
					f=0;
					for(k=1;k<=row/2;k++){
						var div = document.createElement("div");
							div.setAttribute("id",k);
//							div.setAttribute("class", "timeclass");
							div.className = 'timeclass';
							div.innerHTML=timediv+':00';
							timediv = (timediv+1);
							document.getElementById("timediv").appendChild(div);
					}
					var batch_id = document.getElementById("batch_type_id").value;
					for(i=1;i<=row;i++){
						for(j=1;j<=colom;j++){
							var div = document.createElement("div");
							div.setAttribute("id", "mydiv_"+i+"_"+j);
//							div.setAttribute("class", "notice");
							div.className = 'notice';
							div.style.cursor="pointer";
							if(j=='7')
							{
								div.style.width='59px';
							}else{
								div.style.width='58px';
							}
							div.style.lineHeight="11px";
							//div.setAttribute("onclick","javascript:getselectedid(this.id);");
							
							div.onclick = function(){ getselectedid(this.id);};
							//div.addEventListener('onclick', 'javascript:getselectedid(this.id);', flalse);
							div.innerHTML= '';
							caltab.appendChild(div);
						}
						
					}
					
					function rgb2hex(rgb){
						 rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
						 return ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) + ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) + ("0" + parseInt(rgb[3],10).toString(16)).slice(-2);
						}
					function close_div_box()
					{
						$('.gcalcls').empty();
					}
					<?php if (isset($this->uniq_courseid) && $this->uniq_courseid!=''){?>
					course_id = '<?php echo $this->uniq_courseid;?>';
					<?php }else{ ?>
					course_id ='';
					<?php } ?>
					function getselectedid(value)
					{
						var b_value_text = document.getElementById(value).value;
						if (navigator.appName == 'Microsoft Internet Explorer'){
							var color_value = ($("#"+value).css('background-color'));
							if(color_value.charAt(0) == '#'){
								color_value = color_value.substr(1);
							}
//							alert(color_value);
						}else{
							var color_value = rgb2hex($("#"+value).css('background-color'));
//							alert("c2:"+color_value);
						}
						Mediabox.open('<?php echo BASEPATH; ?>/editprofile/addbatch/s_id/'+value+'/b_text_value/'+b_value_text+'/b_color_value/'+color_value+'/b_course_id/'+course_id,'','445 485');
					}

function testfun(t_id){
	//alert(batch_type);
	document.getElementById('loader_image').style.display = "block";
	<?php if (isset($this->defaultcourseid) && $this->defaultcourseid!=''){?>
		default_course_id = '<?php echo $this->defaultcourseid;?>';
	<?php }else{ ?>
		default_course_id ='';
	<?php } ?>
//	alert(s_cal_show);
//	if(s_cal_show=='')
//	{
		document.getElementById("tablecaledar").style.display="block";
	//	s_cal_show = '1';
//	}else{
//		document.getElementById("tablecaledar").style.display="none";
//		s_cal_show = '';
//	}
	
	//alert(default_course_id);
		$.ajax({
			url:"<?php echo BASEPATH;?>/editprofile/updatedetails",
			type:'post',
			data:'tutor_id='+t_id+'&default_course_id='+default_course_id+'&course_id='+course_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					var k=0;
					var jsonObject = eval ('('+response+')');
					row=38;
					colom=7;
					//alert(jsonObject[+j]['colorcode']);
					for(i=1;i<=colom;i++){
						for(j=1;j<=row;j++){
							
							document.getElementById('mydiv_'+j+'_'+i).style.backgroundColor = jsonObject[+k]['colorcode'];
								document.getElementById('mydiv_'+j+'_'+i).innerHTML = '';
								document.getElementById('mydiv_'+j+'_'+i).value = jsonObject[+k]['description'];
								document.getElementById('mydiv_'+j+'_'+i).setAttribute('title',jsonObject[+k]['description']);
							//alert(jsonObject[+k]['colorcode']);
								document.getElementById('mydiv_'+j+'_'+i).style.borderBottom='0px solid #DDDDDD';
								document.getElementById('mydiv_'+j+'_'+i).style.borderRight='0px solid #DDDDDD';
								document.getElementById('mydiv_'+j+'_'+i).style.borderTop='1px solid #DDDDDD';
								document.getElementById('mydiv_'+j+'_'+i).style.borderLeft='1px solid #DDDDDD';
							if(jsonObject[+k]['colorcode']!='#FFFFFF')
							{
								tempcolor = jsonObject[+k]['colorcode'];
								//alert(tempcolor);
								document.getElementById('mydiv_'+j+'_'+i).style.borderBottom='0px solid #DDDDDD';
								document.getElementById('mydiv_'+j+'_'+i).style.borderRight='0px solid #DDDDDD';
								document.getElementById('mydiv_'+j+'_'+i).style.borderTop='1px solid #DDDDDD';
								document.getElementById('mydiv_'+j+'_'+i).style.borderLeft='1px solid #DDDDDD';
							}
							
							//document.getElementById('mydiv_'+j+'_'+i).style.lineHeight="12px";
							k++;
						}
					}
				}
				document.getElementById('loader_image').style.display = "none";
			}
		});
}
</script>
