<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotprontonew.css"/>
<style>
body{
	margin:0px;
	padding:0px 0px 0px 0px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	/*height:600;*/
	/*width:800;*/
}
.contentbox
{
	/*width:750px;*/
	padding:0px;
	float:left;
}
</style>
<script>

$(document).ready(function() {

	$('.nxtprevbtn').live('click',function(){
		changephoto($(this).val());
	});

	var totalphotocount = $('#totalphotocount').val();
	var startphotoid = $('#startphotoid').val();
	
	if(startphotoid < 2)
	{
		$('#previousbutton').css('visibility','hidden');
	}else{
		$('#previousbutton').css('visibility','visible');
	}
	if(startphotoid > totalphotocount - parseInt(1))
	{
		$('#nextbutton').css('visibility','hidden');
	}else{
		$('#nextbutton').css('visibility','visible');
	}

});
function changephoto(id)
{
	document.getElementById("previousbutton").value=parseInt(id)-parseInt(1);
	document.getElementById("nextbutton").value=parseInt(id)+parseInt(1);
	var totalvideocount = $('#totalphotocount').val();
	if(id < 2)
	{
		$('#previousbutton').css('visibility','hidden');
	}else{
		$('#previousbutton').css('visibility','visible');
	}
	if(id > totalvideocount - parseInt(1))
	{
		$('#nextbutton').css('visibility','hidden');
	}else{
		$('#nextbutton').css('visibility','visible');
	}
	
	videoid = document.getElementById("photoids"+id).value;	
	$('#photochange').html('');
	$('#photochange').html('<img width="700" height="500" src="'+videoid+'">');
}
</script>
</head>
<body>
<?php  if (isset($this->albumphotoresultsall) && sizeof($this->albumphotoresultsall)>0){
			$i=0;
			foreach($this->albumphotoresultsall as $photo)
			{ 
				if($photo->id==$this->mainphotoid)
				{
					$vindex = $i+1;
				}
			?>
			<input type="hidden" id="photoids<?php echo $i+1; ?>" value="<?php echo BASEPATH;?><?php echo $photo->photo_link;?>"/>
			<?php $i++;
			}
		}?>
<div class="contentbox">
	<div class="maincontent">
		<div id="photochange">
			<img width="700" id="diplayphoto" src="<?php echo BASEPATH;?><?php if(isset($this->photourl) && $this->photourl!=""){echo $this->photourl;} ?>">
		</div>
	</div>
	<button id="previousbutton" class="nxtprevbtn" value="<?php echo $vindex-1;?>">Previous</button>
	<button id="nextbutton" class="nxtprevbtn" value="<?php echo $vindex+1;?>" >Next</button>
	<input type="hidden" id="totalphotocount" value="<?php if (isset($this->albumphotoresultsall) && sizeof($this->albumphotoresultsall)>0){echo sizeof($this->albumphotoresultsall);}?>"/>
	<input type="hidden" id="startphotoid" value="<?php if (isset($vindex) && $vindex!=""){echo $vindex;}?>"/>
	<div style="clear:both;"></div>
</div>
</body>
</html>