<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<!doctype html>
<html lang="en">
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>-->
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillbox.css"/>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/skillbox.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<!-- <style>
body{
	margin:0px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
.stepcolsmall2 input {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 25px;
    padding-left: 3px;
}
.stepcolsmall1
{
	width:106px !important;
	display:block !important;
}
.contentbox
{
	padding: 0px 10px;
	float:left;
	width:290px;
	border-right: 1px solid #FF6633;
}
p.loginlink
{
	*margin:10px 0;
}
.loginhint
{
	width:80%;
	diplay:block;
	*padding-left:40px;
	*margin-top:20px;
}
.stepcolsmall2 .looking_for
{
	float:left;
	margin-right:5px;
	padding:0px;
	width: 20px;
}
.stepcolsmall2 input
{
width:170px;
}
</style>
<!--[if IE]>
	 <style>
	#signupform input , #loginform input
	{
		padding: 5px 0px 0px 0px;
	}
</style>
<![endif]-->
<script type="text/javascript">
		
//		window.onload = function(){
//			document.getElementById("save").onclick = function(){
//				saveForm('<?php echo BASEPATH; ?>/login/signup','signupform','signupform');
//				
//			};
				//document.getElementById("save1").onclick = function(){
					//saveForm('<?php echo BASEPATH; ?>/login/signup','loginform','loginform');
				//}
				
//		};
		
		
		function getlocality(city_id){
			if(city_id != "" && city_id != null){
				$.ajax({
					url:"<?php echo BASEPATH;?>/tutor/getlocality",
					type:'post',
					data:'city_id='+city_id,
					async: false,
					success: function(response){
						if(response!="" || response!=null){
							j=1;
							var jsonObject = eval ('('+response+')');
							options_ele = document.getElementById('UserLocality');
							for(k=options_ele.length-1;k>0;k--){
								options_ele.remove(k);
							}
						    for(k=0;k<jsonObject.length;k++){
								var option_element = new Option(jsonObject[k]['address_name'],jsonObject[k]['locality_id']);
								document.getElementById('UserLocality').options[j] = option_element;
								j++;
							}
						}
					}
				});
			}
		}
		function callfacebook(urlValue){
			FB.init({
				appId  : '444557608950929',
				status : true, // check login status
				cookie : true, // enable cookies to allow the server to access the session
				xfbml  : true  // parse XFBML
			});
			FB.login(function(response) {
				   if (response.authResponse) {
					   window.location.href="<?php echo BASEPATH;?>/index/facebooklogin?url="+urlValue;
						var uid = response.authResponse.userID;
						var accessToken = response.authResponse.accessToken;
				   } else {
					 
				   }},
				   {scope:'email'});
			FB.getLoginStatus(function(response) {
			  if (response.status === 'connected') {
				//document.getElementById('facebook').style.display = "block"; 
				//window.location.href="<?php //echo BASEPATH;?>/lookbookuploadpicture/facebookimage/lookbook_id/<?php //echo $this->chez_lookbook_id;?>";
				window.location.href="<?php echo BASEPATH;?>/index/facebooklogin";
				var uid = response.authResponse.userID;
				var accessToken = response.authResponse.accessToken;
			  } else if (response.status === 'not_authorized') {
				jAlert("Please login using facebook.");
			  } else {
				jAlert("Please login using facebook.");
			  }
			});
			
		}
</script>
<script type="text/javascript">

	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32556142-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
<script type="text/javascript">
		function recordOutboundLink(link, category, action ,label) {			
		  try {
		   var pageTracker=_gat._getTracker("UA-32556142-1");
		    //alert(link+"::"+category+"::"+action);
		    pageTracker._trackEvent(category, action ,label);
		  // setTimeout('document.location = "' + link.rel + '"', 100)
		  }catch(err){}
		}
</script>
<style>
.Createacc
{
	font-weight: bold;
	color:#333;
	width:95%;
	float:left;
	text-align:left;
	margin-bottom:5px;
}
.skilltabholdr .skilltab {
    color: #00A7E6;
    font-size: 13px;
    text-decoration: none;
}
.skilltabholdr .skilltabactive, .skilltabholdr .skilltabactive:hover {
    background-color: #ffffff;
    color: #333333;
}
/*new ligin design*/
body
{
	float:left;
	width:556px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:556px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 516px;
}
.whitePart
{
	width: 536px;
	float:left;
	padding: 20px 0 15px 20px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.halfPart .Field
{
	float:right;
	width:290px;
}
.halfPart .Field b
{
	color:#666666;
	font-size:16px;
	font-weight:bold;
	width:79px;
	padding:12px 8px 0;
	float:left;
}
.halfPart .Field input[type="text"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 188px;
	height:37px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.halfPart .Field .errortext
{
	width:193px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
}
.halfPart .Field .forgotPass
{
	text-align:right;
	color:#666666;
	width:193px;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
    text-decoration:none;
}
.halfPart .Field .forgotPass:hover
{
	color: #FF6633;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
/* end new ligin design*/
</style>	
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="pagebox loginMain">
	<h1>Become a Skillzot member</h1>
	<div class="skilltabholdr">
		<!--<a id="createaccpage" class="skilltab skilltabactive" href="<?php echo BASEPATH;?>/login/signup2">Join Skillzot</a>
		<a id="loginpage" class="skilltab" href="<?php echo BASEPATH;?>/login/index">Login</a>
	--></div>
	<div class="whitePart" style="height:181px;">
		<form action="<?php echo BASEPATH; ?>/login/signup3" name="signupform" id="signupform" method="post" enctype="multipart/form-data">
			<div class="fields">
				<h2>1)	Sign up with your facebook account in a second!</h2>
				<a href="javascript:void(0);"><img onclick="callfacebook('<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>');recordOutboundLink('', 'join skillzot','sign up as student','through fb');return false;" src="<?php echo BASEPATH; ?>/images/connectFb.png"/></a>
				<br>
			</div>
			<div id="changecontent" style="float:left;margin-top:10px;">
				<div class="fields">
					Signing up with Facebook will help you find mutual Friends who are learning the same skills.
					<br>
					<br>
					And we promise not to spam your facebook wall.
				</div>
			 </div>
			 <a href="<?php echo BASEPATH; ?>/login/signup3?url=<?php if(isset($this->urltoredirectforfb) && $this->urltoredirectforfb!=""){echo urlencode($this->urltoredirectforfb);}else{echo urlencode('http://www.skillzot.com');}?>" id="nopermission">I don't have a Facebook account.</a>
		</form>
	</div>	
</div>
<!--
<div class="contentbox">
	<div class="infolinerow" style="padding:0px;">
		<span class="nameoftutor">Not a member, sign up for FREE in less than 23 secs!</span>
	</div>
	<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
	<div class="maincontent" style="float:left;">
	<form action="<?php echo BASEPATH; ?>/login/signup" name="signupform" id="signupform" method="post" enctype="multipart/form-data">
		<div class="steprow1">
		I am looking out for a teacher for : <span class="onlyorangedisplay">*</span>
		</div>
			<div class="steprow1" style="margin: 0 0 10px 0;">
				<input type="radio" class="looking_for"  name="LookingFor"  id="LookingFor"  value="Myself" checked="checked" /> <span style="margin-top: 7px;">Myself</span>
				<input type="radio" class="looking_for" name="LookingFor" id="LookingFor"  value="My son/daughter" / ><span style="margin-top: 7px;"> My son/daughter</span>
				<input type="radio" class="looking_for" name="LookingFor" id="LookingFor"  value="Others" /><span style="margin-top: 7px;"> Others</span>
			</div>
		
		
		<div class="steprow1">
			<div class=stepcolsmall1>First Name : <span class="onlyorangedisplay">*</span></div>
			<div class="stepcolsmall2">
				<input type="text" Name="UserFName" id="UserFName" errortag="first name" />
				<div id="UserFName_error" class="errorclasssmall">&nbsp;</div>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Last Name : <span class="onlyorangedisplay">*</span></div>
			<div class="stepcolsmall2">
				<input type="text" Name="UserLName" id="UserLName" errortag="last name" />
				<div id="UserLName_error" class="errorclasssmall" ></div>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Email : <span class="onlyorangedisplay">*</span></div>
			<div class="stepcolsmall2">
				<input type="text" Name="UserEmail1" id="UserEmail1" errortag="email" />
				<div id="UserEmail1_error" class="errorclasssmall" ></div>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Password : <span class="onlyorangedisplay">*</span></div>
			<div class="stepcolsmall2">
				<input type="password" Name="UserPassword1" id="UserPassword1" errortag="password"/>
				<i class="registerhint">(Minimum 5 characters)</i>
				<div id="UserPassword1_error" class="errorclasssmall" ></div>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Confirm  Password : <span class="onlyorangedisplay">*</span></div>
			<div class="stepcolsmall2">
				<input type="password" Name="UserretypePassword" id="UserretypePassword" errortag="confirm password"/>
				<div id="UserretypePassword_error" class="errorclasssmall" ></div>
			</div>
		</div>
		<input type="hidden" name="tutorId" id="tutorId" value="<?php if (isset($this->tutorid) && $this->tutorid!=""){echo $this->tutorid;}?>">
		<div class="steprow1">
			<div class=stepcolsmall1>&nbsp;</div>
			<div class="stepcolsmall2">
				<div class="joinnow">
					<img id="save" src="<?php echo BASEPATH;?>/images/joinnow.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/joinnow.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/joinnow_hover.png';" id="save" name="save" />
				</div>
			</div>
		</div>
		<input type="hidden" name="form_signup" id="form_signup" value="1">
		<input type="hidden" name="review_id" id="review_id" value="<?php if (isset($this->reviewid) && $this->reviewid!=""){echo $this->reviewid;}?>">
	</form>
	</div>
</div>
<div class="contentbox1">
<div class="infolinerow" style="padding:0px;">
		<span class="nameoftutor">Log in</span>
	</div>
	<div class="allfields" style="margin-bottom:0px;"><span class="onlyorangedisplay">*</span> All fields are required</div>
	<div class="maincontent" style="float:left;">
	<form style="float:left;" action="<?php echo BASEPATH; ?>/login/signup" name="loginform" id="loginform" method="post" enctype="multipart/form-data">
		<div class="steprow1">
			<div class="stepcolsmall2">
				<div class="errorclasssmall">
				<?php
					if(isset($authUserNamespace->checkerror) && $authUserNamespace->checkerror!="") echo "Invalid Email or Password";
					else  echo "&nbsp;";
					unset($authUserNamespace->checkerror);
				?>
				</div>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Email : <span class="onlyorangedisplay">*</span></div>
			<div class="stepcolsmall2">
				<input type="text" Name="UserEmail" id="UserEmail" errortag="email" />
				<div id="UserEmail_error" class="errorclasssmall" style="height:20px;">&nbsp;</div>
			</div>
		</div>
		<div class="steprow1">
			<div class=stepcolsmall1>Password : <span class="onlyorangedisplay">*</span></div>
			<div class="stepcolsmall2">
				<input type="password" Name="UserPassword" id="UserPassword" errortag="password"/>
				<div id="UserPassword_error" class="errorclasssmall" style="height:15px;">&nbsp;</div>
			</div>
		</div>

		<div class="steprow1">
			<div class=stepcolsmall1>&nbsp;</div>
			<div class="stepcolsmall2">
				<div class="joinnow">
					<img id="save1" src="<?php echo BASEPATH;?>/images/login.png" onmouseout="this.src='<?php echo BASEPATH;?>/images/login.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/Log-in_hover.png';" id="save" name="save" />
				</div>
			</div>
		</div>
		<input type="hidden" name="form_login" id="form_login" value="2" />
		<input type="hidden" name="tutorId" id="tutorId" value="<?php if (isset($this->tutorid) && $this->tutorid!=""){echo $this->tutorid;}?>">
		<input type="hidden" name="review_id" id="review_id" value="<?php if (isset($this->reviewid) && $this->reviewid!=""){echo $this->reviewid;}?>">
<!--		<div class="steprow1">-->
<!--			<div class=stepcolsmall1>&nbsp;</div>-->
<!--			<div class="stepcolsmall2">-->
<!--				<div class="errorclasssmall">&nbsp;</div>-->
<!--				<a href="<?php //echo BASEPATH;?>/login/forgetpass" class="loginlink">Forgot Your Password ? </a>-->
<!--			</div>-->
<!--		</div>-->
<!-- 	</form>
		<?php if (isset($this->reviewid) && $this->reviewid!=""){?>
		<p class="loginlink">Now why the hell should I signup or log in to write a review? Do I look like I have lots of time?</p>
		<ul class="reviewhint">
		<li>We're asking you to sign up or log in so we have authentic reviews only from students who have taken a class from the teacher.</li>
		<br/>
		<li>We're sure you'll agree that nobody wants random aliens writing deliberate nonsense and the only way we can put a check on that is by validating the reviews.</li>
		</br>
		<li>We appreciate your support. Thank you.</li>
		</br>
		</ul>
		<?php }else{?>
		<p class="loginlink">Why the hell should I sign up?</p>
		<ol class="loginhint">
			<li>You don't need to fill your details ever again every time you send a message to a different teacher.</li>
			<li>We can help you in case of difficulties while contacting a teacher.</li>
			<li>You never know what the future holds,we just might decide to share goodies with our esteemed members.</li>
		</ol>
		<?php }?>
		
	</div>
</div>-->
</body>
</html>