<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		//var getText = document.getElementById("searchtext").value;
		var getText = "";
		window.location="<?php echo BASEPATH; ?>/admin/messagedetail/shown/"+getValue+"/searchtext/"+getText;
	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/admin/tutordelete/newid/'+id;
			else return false;
		});
	}
</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
<!--			<div style='float:left'>-->
<!--				<input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;-->
<!--				<input type='button' class="button" onclick="window.location = '<?php echo BASEPATH; ?>/admin/messagedetail/getPageValue/<?php if(isset($this->page)) echo $this->page ;?>/searchtext/'+document.getElementById('searchtext').value" value="Search"> &nbsp;-->
<!--				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/admin/messagedetail';" value="Reset" name='reset'>-->
<!--			</div>-->
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:10px;width:97%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:4%;padding-left: 10px;text-align: center;">Index </div>
			<div class='grid-column2' style="width:14%;padding-left: 10px;text-align: center;">To </div>
			<div class='grid-column2' style="width:14%;padding-left: 10px;text-align: center;">From</div>
			<div class='grid-column2' style="width:12%;padding-left: 10px;text-align: center;">Email</div>
			<div class='grid-column2' style="width:11%;padding-left: 10px;text-align: center;">Phone</div>
			<div class='grid-column2' style="width:12%;padding-left: 10px;text-align: center;">Date / Time</div>
			<div class='grid-column2' style="width:25%;padding-left: 10px;text-align: center;">Message</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		
		<?php
			$i=0;
			if(isset($this->messageResult) && sizeof($this->messageResult)>0){
			foreach($this->messageResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;"><?php //if (isset($tutor->first_name) && $tutor->first_name != "" && isset($tutor->last_name)  && $tutor->last_name != "" &&  $tutor->person='s'){echo ucfirst($tutor->first_name)." ".ucfirst($tutor->last_name);}?>
	
	
			<?php 
			if($tutor->send_flag!='s')
			{
				//echo "in";
				$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
				$profile_rows1 = $tutorProfile->fetchAll($tutorProfile->select()
											->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name','s.tutor_email','s.tutor_add_locality','s.tutor_mobile'))
											->where("s.id='$tutor->from_id'"));
				$tutorEmail = $profile_rows1[0]['tutor_email'];
				if(isset($profile_rows1) && sizeof(profile_rows1)>0)
				{
				
					if (isset($profile_rows1[0]['tutor_mobile']) && $profile_rows1[0]['tutor_mobile']!="")
					{
						$tutorMobile = $profile_rows1[0]['tutor_mobile'];
					}else{
						$tutorMobile = "-";
					}
					if (isset($profile_rows1[0]['tutor_email']) && $profile_rows1[0]['tutor_email']!="")
					{
						$fromEmail = $profile_rows1[0]['tutor_email'];
					}else{
						$fromEmail = "-";
					}
				}else{
					$tutorMobile = "-";
					$fromEmail = "-";
				}
				
			$masteraddressobj = new Skillzot_Model_DbTable_Address();
			$locationId = $profile_rows1[0]['tutor_add_locality'];
				if (isset($locationId) && $locationId!="")
				{
					$location_data = $masteraddressobj->fetchRow("address_id = $locationId");
					$tutorlocalityValue = $location_data->address_value;
				}
			}
			elseif($tutor->send_flag!='t')
			{
				//echo "oout";
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->from_id'");
				
				if(isset($student_data) && sizeof($student_data)>0)
				{
				
					$studentEmail = $student_data->std_email;
					if (isset($student_data->std_phone) && $student_data->std_phone!="")
					{
						$studentMobile = $student_data->std_phone;
					}else{
						$studentMobile = "-";
					}
					if (isset($student_data->std_email) && $student_data->std_email!="")
					{
						$fromEmail = $student_data->std_email;
					}else{
						$fromEmail = "-";
					}
					$masteraddressobj = new Skillzot_Model_DbTable_Address();
					if (isset($student_data->std_locality) && $student_data->std_locality!="")
					{
						$location_data = $masteraddressobj->fetchRow("address_id ='$student_data->std_locality'");
						$studentlocalityValue = $location_data->address_value;
					}else{
						$studentlocalityValue="-";
					}
				}else{
					$studentMobile = "-";
					$fromEmail = "-";
					$fromEmail = "-";
					$studentlocalityValue="-";
					
				}
			}
				else  { echo "-"; } 
			
			
			?>
			<div class='grid-column1' style="width:4%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->id) && $tutor->id !="")echo $tutor->id;else echo "-";  ?></div>
			<div class='grid-column1' style="width:14%;padding-left: 10px;text-align: center;"><?php 
			if($tutor->rec_flag!='s')
			{
				//echo "in";
				$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
				$profile_rows1 = $tutorProfile->fetchAll($tutorProfile->select()
											->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
											->where("s.id='$tutor->to_id'"));
				if (isset($profile_rows1) && sizeof($profile_rows1) > 0)
				{
					echo $fullname = ucfirst($profile_rows1[0]['tutor_first_name'])." ".ucfirst($profile_rows1[0]['tutor_last_name']);
				}else{
					echo "-";
				}
			}
			elseif($tutor->rec_flag!='t')
			{
				//echo "oout";
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->to_id'");
				if (isset($student_data) && sizeof($student_data) > 0)
				{
					echo $fullname = ucfirst($student_data->first_name)." ".ucfirst($student_data->last_name);
				}else{
					echo "-";
				}
			}
			else  { echo "-"; } 
			?></div>
			<div class='grid-column1' style="width:14%;padding-left: 10px;text-align: center;">
			<?php 
			if($tutor->send_flag!='s')
			{
				//echo "in";
				$tutorProfile = new Skillzot_Model_DbTable_Tutorprofile();
				$profile_rows1 = $tutorProfile->fetchAll($tutorProfile->select()
											->from(array('s'=>DATABASE_PREFIX."tx_tutor_profile"),array('s.tutor_first_name','s.tutor_last_name'))
											->where("s.id='$tutor->from_id'"));
				if (isset($profile_rows1) && sizeof($profile_rows1) > 0)
				{
					echo $fullname = ucfirst($profile_rows1[0]['tutor_first_name'])." ".ucfirst($profile_rows1[0]['tutor_last_name']);
				}else{
					echo "-";
				}
			}
			elseif($tutor->send_flag!='t')
			{
				//echo "oout";
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->from_id'");
				if (isset($student_data) && sizeof($student_data) > 0)
				{
					echo $fullname = ucfirst($student_data->first_name)." ".ucfirst($student_data->last_name);
				}else{
					echo "-";
				}
			}
				else{echo "-"; } 
			?>
			</div>
			<div class='grid-column1' style="width:12%;padding-left: 10px;text-align: center;"><?php echo $fromEmail;  ?></div>
			<div class='grid-column1' style="width:11%;padding-left: 10px;text-align: center;">
			<?php 
			if($tutor->send_flag!='s' && $tutorMobile!="" && isset($tutorMobile))
			{
				echo $tutorMobile;
			}elseif($tutor->send_flag!='t' && $studentMobile!="" && isset($studentMobile))
			{
				echo $studentMobile;
			}
			else {echo "-"; } 
			?>
			</div>
			<div class='grid-column1' style="width:12%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->mail_date) && $tutor->mail_date!=""){ echo date('M j, Y, g:i a', strtotime($tutor->mail_date));} else { echo "-";}?></div>
			<div class='grid-column1' style="width:25%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->mail_content) && $tutor->mail_content!=""){echo $tutor->mail_content;}else{echo "-";}?></div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>