<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); 
	  $contact_type = $this->contact;?>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.3.1.min.js"></script>
<style>
body{
	margin:0px;
	padding:0;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width:450px;
}
.contentbox
{
	float:left;
	padding:0px;
	width:440px;
}
.stepcolsmall2 
{
    width: 64%;
}
.stepcolsmall2 .looking_for
{
	float:left;
	margin-right:5px;
	padding:0px;
	width: auto;
	height: auto;
}
.stepcolsmall2 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 60px;
    padding-left: 3px;
    width: 262px;
    resize:none;
}
.infolinerow
{
 	width:100%;
 	float:left;
 	margin-top:31px;
 	
 	background-color:#f0f0f0;
 	 width: 99.7533%;
 	padding: 33px 5px 0 5px;
    text-align: left;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    height: 33px;
    line-height: 22px;
    margin: 0;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:175px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:60px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
	float:left;
}
.stepcolsmall1
{
	width: 36%;
}
.botmargindisplzy
{
	margin-bottom: 0px;
}
.maincontent
{
	float:left !important;
	margin:20px 0 20px 5px;
}
/*new style*/
body
{
	float:left;
	width:461px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:461px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 40px 20px 20px;
    text-align: left;
    width: 420px;
}
.whitePart
{
	width: 440px;
	float:left;
	padding: 20px 0 10px 20px;
	color:#666;
	font-size: 14px;
	text-align:left;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:157px;
	padding:0px 8px 0 0;
	float:left;
}
.Field input[type="text"],.Field input[type="password"],textarea,.select
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 257px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.select
{
	width: 257px;
}
.whitePart .Field textarea
{
	height:70px;
	resize:none;
	padding:5px 0px 0 5px;
	float:left;
	width: 257px;
}
.whitePart .Field .errortext
{
	width: 246px;	
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin: 0 0 0 166px;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
</style>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript">
		<?php if(isset($contact_type) && $contact_type =="email"){?>
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/search/tutorcontact','signupform','signupform');
				
			};
		};
		<?php }?>
		function myfunctionin(uid){
			//alert('in');
			var id = uid;
			var pos = $("#"+id).height();
			var topp = "-"+(pos/2-10);
			//alert("-"+pos/2);
			//$('#'+id).css('top', topp);
			//$(".tooltipdivspan2").css.top("-"+pos/2);
			var uniqid = document.getElementById(uid);
			uniqid.style.visibility = "visible";
			uniqid.style.top = topp+"px";
		}
		function myfunctionout(uid){
			//alert('ioo');
			var uniqid = document.getElementById(uid);
			uniqid.style.visibility = "hidden";
		}
		function contby(value)
		{
			document.getElementById("tutorcntby").value=value;
		}
</script>
</head>

<body id="idforrefreshcontact">
<div class="loginMain">
	<h1>
		<?php if(isset($contact_type) && $contact_type =="phone"){?>
			<span class="nameoftutor">Call <?php if (isset($this->tutorname) && $this->tutorname!=""){echo $this->tutorname;}?></span>
		<?php }elseif (isset($contact_type) && $contact_type =="email"){?>
			<span class="nameoftutor">Contact <?php if (isset($this->tutorname) && $this->tutorname!=""){echo $this->tutorname;}?></span>
		<?php }?>
		
	</h1>
	<!--  <div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>-->
	<div class="whitePart">
	<form action="<?php echo BASEPATH; ?>/search/tutorcontact" name="signupform" id="signupform" method="post" enctype="multipart/form-data">
		<?php if(isset($contact_type) && $contact_type =="phone"){?>
		<div class="Field botmargindisplzy">
		<?php if (isset($this->phonevisible) && $this->phonevisible=="1") {?>
		Phone: <?php  if (isset($this->mobileval) && $this->mobileval!=""){echo $this->mobileval;}?><?php  if (isset($this->landlineval) && $this->landlineval!=""){echo "/".$this->landlineval;}?>
		<?php }else{ ?>
		Phone: Not available. (Tutor prefers to be sent a message)
		<br>
		You can do so by clicking on the icon next to this.
		<?php }?>
		</div>
		<?php }elseif (isset($contact_type) && $contact_type =="email"){?>
		<div class="Field">
			<b>Locality<span class="onlyorangedisplay">*</span></b>
			<select class="select" id="UserLocality" name="UserLocality" errortag="locality">
						<option value="" selected="selected">--  Select Locality  --</option>
						<?php if(isset($this->addressresults) && sizeof($this->addressresults)>0){foreach($this->addressresults as $city){?>
							<option value="<?php echo $city->address_id;?>"><?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>
						</option>
						<?php }}?>
            </select>
			<p id="UserLocality_error"  class="errortext" ></p>
		</div>
			
		<div class="Field">
			<b style="width:119px;">Send message<span class="onlyorangedisplay">*</span></b>
			<span class="tooltipclass">
				<img style="float:left;margin-right:15px;" src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
				<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
					<span class="tooltipdivspan2">1. Skill you want to learn 2. Beginner, intermediary or advanced level.<br/> 3. Any message <br/>or questions.</span>
				</span>
			</span>
			<textarea type="text" style="float:left;" Name="messagetutor" id="messagetutor" errortag="message" ></textarea>
					<p id="messagetutor_error" class="errortext" ></p>
		</div>	
		<div class="Field">
			<b>Phone Number</b>
				<input type="text" Name="ph_number" id="ph_number" value="<?php if (isset($this->phonenumber) && $this->phonenumber!="")echo $this->phonenumber;?>"/>
				<p class="errortext" >&nbsp;</p>
		</div>
		<div class="Field">
			<b>Do you want to be contacted by? <span class="onlyorangedisplay">*</span> </b>
			<div class="stepcolsmall2" style="width:267px;">
				<input type="radio" class="looking_for"  name="contacted_by"  onclick="javascript:contby(this.value);"  value="Phone" checked="checked" /> <span style="float:left;margin: 0px 7px 0 0;">Phone</span>
				<input type="radio" class="looking_for" name="contacted_by"  onclick="javascript:contby(this.value);" value="Email" / ><span style="float:left;margin: 0px 7px 0 0;">Email</span>
				<input type="radio" class="looking_for" name="contacted_by" onclick="javascript:contby(this.value);" value="Mail or Phone" /><span style="float:left;margin: 0px 0px 0 0;">Email or phone</span>
				
				<div style="clear:both;"></div>
				<input type="hidden" name="tutorcntby" id="tutorcntby" value="Phone" errortag="phone number"/>
				<div  id="tutorcntby_error" class="errorclasssmall" >&nbsp;</div>
			</div>
			
		</div>
		<input type="hidden" name="tutorid_set_session" id="tutorid_set_session" value="<?php if ((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid!="")||(isset($authUserNamespace->studentid) && $authUserNamespace->studentid!="")){echo "set";}?>">
		<input type="hidden" name="tutorId" id="tutorId" value="<?php if (isset($this->tutorid) && $this->tutorid!=""){echo $this->tutorid;}?>">
		<div class="Field" style="width:96%;">
			<span id="save" class="submit_button">Send</span>
		</div>
		<?php }?>
	</form>
	</div>
</div>
</body>
</html>