<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotprontonew.css"/>
<style>
body{
	margin:0px;
	padding:5px 20px 0px 20px;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
}
/*
.heading
{
	float:left;
	display:inline-block;
}

.subspacer
{
	line-light:20px;
}


.errorcolor
{
	color : #EB008C;
} */

.contentbox
{
	padding: 10px 20px;
	float:left;
}
.stepcolsmall2 .looking_for
{
	float:left;
	margin-right:5px;
	padding:0px;
	width: auto;
}
.savebtn {
	border:0px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: handofsean;
    font-size: 20px;
    height: 33px;
    padding: 3px 4px;
    width: 70px;
    display:inline;
    margin: 0 45px 10px 0;
    background: url("<?php echo BASEPATH; ?>/images/save.png") no-repeat scroll 0 0 transparent;
}
.margintop
{
	margin-top:20px;
}

</style>
<!--[if IE]>
<style>
	.steprow1
	{
		margin-top:10px;
	}
</style>
<![endif]-->
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.ui.core.css"/>
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.alerts.css"/>
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.ui.base.css"/>
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.ui.theme.css"/>
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.ui.resizable.css">
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.ui.accordion.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.Jcrop.css"/>
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jcrop_main.css"/>
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery-ui-1.7.1.custom.css"/>
		<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/jquery.gzoom.css"/>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script  type="text/javascript" src="<?php echo BASEPATH;?>/js/jcrop_main.js"></script>
<script  type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.ui.core.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
<script  type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.ui.widget.js"></script>
<script  type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.ui.accordion.js" ></script>
<script  type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.Jcrop.min.js"></script>
<script  type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.ui.mouse.js"></script>
<script  type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.ui.resizable.js"></script>

<script type="text/javascript">
	window.onload = function(){
		setCroppableImageContinue();
	};

    function undo_func(){
    	frameId_for_undo = "frame_image1";
    	
        $.ajax({
           url:"<?php echo BASEPATH;?>/fashionwall/undoact",
           type:"post",
           data:"",
           success:function(response){
             	window.location.href = "<?php echo BASEPATH;?>/fashionwall/viewimage/frameId/"+frameId_for_undo;
            },
           error: function(){
				alert('The operation was not completed successfully.Please try again later.');
			}
        });

    }

    function redo_func(){
    	frameId_for_redo = "frame_image1";
    	
    	$.ajax({
            url:"<?php echo BASEPATH;?>/fashionwall/redoact",
            type:"post",
            data:"",
            success:function(response){
              	window.location.href = "<?php echo BASEPATH;?>/fashionwall/viewimage/frameId/"+frameId_for_redo;
             },
            error: function(){
 				alert('The operation was not completed successfully.Please try again later.');
 			}
         });
 		
    }

    function saveimagefunc(){
		
    	sizeX = document.getElementById('x').value;
		sizeY = document.getElementById('y').value;
		sizeX2 = document.getElementById('x2').value;
		sizeY2 = document.getElementById('y2').value;
		sizeW = document.getElementById('w').value;
		sizeH = document.getElementById('h').value;
		
		
		$.ajax({
            url:"<?php echo BASEPATH;?>/uploadimagenew/saveimage",
            type:"post",
            data:"sizeX="+sizeX+"&sizeY="+sizeY+"&sizeX2="+sizeX2+"&sizeY2="+sizeY2+"&sizeW="+sizeW+"&sizeH="+sizeH+"&frameId="+'frame_image1',
            success:function(response){
                parent.imagedone();//for displaying msg image upload done
            	window.location.href = "<?php echo BASEPATH;?>/uploadimagenew/showcropimage";
             },
            error: function(){
 				alert('The operation was not completed successfully.Please try again later.');
 			}
         });
    }
	 function setCroppableImageContinue(){
			
			imgtag = document.getElementById('vimage');
			imgtaght = imgtag.clientHeight;
			imgtagwt = imgtag.clientWidth;
			
			 var cntwidth=imgtaght*0.33;
			//alert(imgtagwt);
			//alert(imgtaght);
			//alert((imgtagwt-550)/2);
			//alert(((imgtaght-180)/2));
			
					//alert(imgtag.id);
 			$('#vimage').Jcrop({ // we linking Jcrop to our image with id=cropbox1
 		        aspectRatio:3.055,
 		        onChange: updateCoords,
 		        addClass: 'jcrop_custom',
 		        bgColor: 'gray',
 		        bgOpacity: .5,
 		        sideHandles: false,
 		       	setSelect:[ (imgtagwt-550)/2, ((imgtaght-180)/2), ((imgtagwt-550)/2)+20,((imgtaght-180)/2)+20 ],
		        maxSize: [450, 180],
		        minSize: [450, 180]
 		    });
 			BelowImageDivVar = document.getElementById('BelowImageDiv');
 			BelowImageDivVar.innerHTML = "<div>"+
			     "<form id='saveimageform' style='float:left;margin-bottom:0px;' method='post' name='saveimageform' enctype='multipart/form-data' action='<?php echo BASEPATH;?>/uploadimagenew/saveimage' >"+
			     "<input type='hidden' name='image_val' id='image_val' value=''/>"+
			     "<input type='hidden' name='image_height' id='image_height' value='"+imgtag.clientHeight+"'/>"+
			     "<input type='hidden' name='image_width' id='image_width' value='"+imgtag.clientWidth+"'/>"+
				 "<input type='hidden' name='x' id='x' size='4' value='"+((imgtagwt-cntwidth)/2)+"'/>"+
				 "<input type='hidden' name='y' id='y' size='4' value='"+((imgtaght-imgtaght)/2)+"'/>"+
			     "<input type='hidden' name='x2' id='x2' size='4' value='"+(((imgtagwt-cntwidth)/2)+cntwidth)+"'/>"+
				 "<input type='hidden' name='y2' id='y2' size='4' value='"+(((imgtaght-imgtaght)/2)+imgtaght)+"'/>"+
				 "<input type='hidden' name='w' id='w' size='4' value='cntwidth'/>"+
				 "<input type='hidden' name='h' id='h' size='4' value='imgtaght'/>"+
				 "<div style='clear:both;text-align:center;'>"+
				 "<div style='float:left;' id='intbtn'>"+
				 "<input type='button' id='save_image_button' onclick='saveimagefunc()' class='savebtn'></input>"+
				 "</div>"+
				"</div>"+
		     "</form>"+
		   "</div>";
	
		   undo_button = document.getElementById("undo_image_button");
		    redo_button = document.getElementById("redo_image_button");
		    save_button = document.getElementById("save_image_button");
		    grayscale_button = document.getElementById("grayscale_image_button");

		  //  undo_button.src = "<?php echo BASEPATH;?>/images/undo_blur.png";
		  //  undo_button.onclick = "";
		  //  redo_button.src = "<?php echo BASEPATH;?>/images/redo_blur.png";
		  //  redo_button.onclick = "";
		   // grayscale_button.src = "<?php echo BASEPATH;?>/images/grayscale_blur.png";
		   // grayscale_button.onclick = "";
		    save_button.style.display="none";
		    save_button.onclick = "";
		    flag=1;
		    
			
		}
		
    	 function setCroppableImage(){

			f = 0;
    	 	document.getElementById("zoom01").style.display = "block";
 		 	document.getElementById("zoom02").style.display = "none";
 		 	document.getElementById("BelowImageDiv").style.display = "block";
 		 	document.getElementById("imgzoom").style.display = "none";
 		 	//document.getElementsByClassName("gzoomwrap").style.display="none";
 		 	 $("#zoombtn").addClass("zoombtnpassive");
 			 $("#zoombtn").removeClass("zoombtnactive");
 			 $("#rotbtn").addClass("rotatebtnpassive");
 			 $("#rotbtn").removeClass("rotatebtnactive");
 			 $("#cropbtn").removeClass("cropbtnpassive");
 			 $("#cropbtn").addClass("cropbtnactive");
 			
                 //alert("in");
    			imgtag = document.getElementById('vimage');
    		//	imgtag.style.display = "inline";
    			imgtaght = imgtag.clientHeight;
    			imgtagwt = imgtag.clientWidth;
    			//alert(imgtaght+"::"+imgtagwt);
    			//alert(imgtaght);
    			//alert(imgtagwt);
    			//nimgtaght = imgtaght/2;
    			//nimgtagwt = imgtagwt/2;
    			//alert(nimgtaght);
    			//alert(nimgtagwt);
    			var cntwidth=imgtaght*0.80;
    			//imgtaght = imgtaght - 20;
    			//imgtagwt = imgtagwt - 20;
    			imgtag.id = 'vimage';
    			frameIdvar = "frame_image1";
    			
						//alert(imgtag.id);
	    			$('#vimage').Jcrop({ // we linking Jcrop to our image with id=cropbox1
	    		        aspectRatio:0.80,
	    		        onChange: updateCoords,
	    		        addClass: 'jcrop_custom',
	    		        bgColor: 'gray',
	    		        bgOpacity: .5,
	    		        sideHandles: false,
	    		        setSelect:[ (imgtagwt-cntwidth)/2, (imgtaght-imgtaght)/2, ((imgtagwt-cntwidth)/2)+cntwidth,((imgtaght-imgtaght)/2)+600 ],
	    		        maxSize: [cntwidth, imgtaght ],
	    		        minSize: [ 150.5, 250.5]
	    		    });
    	
    			
    			BelowImageDivVar = document.getElementById('BelowImageDiv');
    			BelowImageDivVar.innerHTML = "<div>"+
				"<form method='post' action='<?php echo BASEPATH;?>/fashionwall/viewimage' onsubmit='return checkCoords();'>"+
				     "<input type='hidden' name='image_val' id='image_val' value='<?php echo $this->image_id; ?>'/>"+
				     "<input type='hidden' name='image_height' id='image_height' value='"+imghtforload+"'/>"+
				     "<input type='hidden' name='image_width' id='image_width' value='"+imgwtforload+"'/>"+
					 "<input type='hidden' name='x' id='x' size='4'/>"+
					 "<input type='hidden' name='y' id='y' size='4'/>"+
				     "<input type='hidden' name='x2' id='x2' size='4'/>"+
					 "<input type='hidden' name='y2' id='y2' size='4'/>"+
					 "<input type='hidden' name='w' id='w' size='4'/>"+
					 "<input type='hidden' name='h' id='h' size='4'/>"+
					 
			     "</form>"+
			   "</div>";

    		    undo_button = document.getElementById("undo_image_button");
    		    redo_button = document.getElementById("redo_image_button");
    		    save_button = document.getElementById("save_image_button");
    		    grayscale_button = document.getElementById("grayscale_image_button");

    		    undo_button.src = "<?php echo BASEPATH;?>/images/undooff.jpg";
    		    undo_button.onclick = "";
    		    redo_button.src = "<?php echo BASEPATH;?>/images/redooff.jpg";
    		    redo_button.onclick = "";
    		    grayscale_button.src = "<?php echo BASEPATH;?>/images/grayscale_blur.png";
    		    grayscale_button.onclick = "";
    		    save_button.style.display="none";
    		    save_button.onclick = "";
    		    document.getElementById("crop_image_button").onclick = "";
    		    
				
    		}


    	 </script>
</head>
<body>
<div class="contentbox" style="padding:10px 0;width:700px;margin:7px 0 0 7px;text-align:center;">
	<div class="maincontent" style="float:left;">
		<form id="saveimageform" style="float:left;" name="saveimageform" enctype="multipart/form-data" action="<?php echo BASEPATH;?>/fashionwall/saveimage/frameId/frame_image1" method="post">
					<div class="infolinerow" style="margin-bottom:10px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;margin:0 0 0 40px;" >Class image</span>
					</div>
					<input type="button" id="save_image_button" onclick="saveimagefunc()" class="savebtn"></input>
		</form>
		<div id="BelowImageDiv" style="float:right;"></div>
		<div class="steprow1">
			<?php $randnumber = rand(9,9999999);?>
			<?php if (isset($authUserNamespace->uploaded_image_edit_name) && $authUserNamespace->uploaded_image_edit_name!=""){?>
			<img id="vimage"  border="1"  src="<?php echo BASEPATH.'/docs/'.$authUserNamespace->uploaded_image_edit_name.'?var='.$randnumber;?>" />
			<?php }else{?>
			<img id="vimage"  border="1"  src="<?php echo BASEPATH.'/docs/'.$authUserNamespace->uploaded_image_name.'?var='.$randnumber;?>" />
			<?php }?>
			<input type="hidden" name="hidval1" id="hidval1" value=""/>
			
			<div style="z-index:99999; top:50%; left:30%;" class="greenBorder boldText" id="cropMessage">
           		<span>Please drag area to crop image</span>
          	</div>
		</div>
		
	
	</div>
</div>
</body>
</html>