
<!DOCTYPE html>
<?php 
		$showaddress=$this->fulladdress;
 		$lat=$this->lat;
		$long=$this->long;
		$fetchcompany_name=$this->fetchcompany_name;
		$fetchcompany_name = addslashes($fetchcompany_name);
		$course_name=$this->course_name;	


?>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>InfoBubble</title>
    <style type="text/css">
      body {
        font-size: 83%;
      }

      body, input, textarea {
        font-family: arial, sans-serif;
      }

      #map {
        width: 625px;
        height: 425px;
      }

      #styles, #add-tab {
        float: left;
        margin-top: 10px;
        width: 400px;
      }

      #styles label,
      #add-tab label {
        display: inline-block;
        width: 130px;
      }

      .phoney {
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),color-stop(0.52, rgb(57,57,57)));
        background: -moz-linear-gradient(center top,rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
      }

      .phoneytext {
        text-shadow: 0 -1px 0 #000;
        color: #fff;
        font-family: Helvetica Neue, Helvetica, arial;
        font-size: 18px;
        line-height: 25px;
        padding: 4px 45px 4px 15px;
        font-weight: bold;
        background: url(../images/arrow.png) 95% 50% no-repeat;
      }

      .phoneytab {
        text-shadow: 0 -1px 0 #000;
        color: #fff;
        font-family: Helvetica Neue, Helvetica, arial;
        font-size: 18px;
        background: rgb(112,112,112) !important;
      }
    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBHA3nR5bTmzI57dPomzvRo836vBO7AZ8U&sensor=true"></script>
    <script type="text/javascript" src="<?php echo BASEPATH; ?>/js/infobubble.js"></script>

    <script type="text/javascript">
      var map, infoBubble;
      function init() {
        var mapCenter = new google.maps.LatLng(19.117301,72.884039);
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: mapCenter,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
      var j=0;
      var k=0;	
  	  var locations = new Array();
  	  <?php for($k=0;$k<sizeof($showaddress);$k++)
  	  {    ?>
  	 		locations[j] = new Array();
  	 	<?php if($lat[$k]!= 0 && $long !=0) {    ?>
		         		 locations[j][0]='<?php echo $lat[$k]; ?>';
		          		 locations[j][1]='<?php echo $long[$k]; ?>';
		          		 locations[j][2]='<?php echo $showaddress[$k]; ?>';
		          		 locations[j][3]='<?php echo $course_name[$k]; ?>';     
		          		 
        		 <?php     }
        		 else{ ?>
          		 locations[j][0]=0;
          		 locations[j][1]=0;
          		 locations[j][2]='<?php echo $showaddress[$k]; ?>';
          		 locations[j][3]='<?php echo $course_name[$k]; ?>'; 
  		 	<?php   }   ?>

        		 j++;
        <?php }   ?> 

        var marker, i;

       for (i = 0; i < locations.length; i++) {
       //var loc='<?php echo $fetchcompany_name; ?>';		
       //var locate='<div style="line-height: 15px;color:#000;font-size:12px;font-family:arial;"><a style="color:#00A7E6;font-weight:bold;">'+loc+'</a><br><span style="color:#AAA5A4">'+locations[i][3]+'</span><br><br>'+locations[i][2]+'</div>';	
      	//var marker="mapmarkar"+i;
       var marker = new google.maps.Marker({
          map: map,
          icon: '<?php echo BASEPATH; ?>/images/blue.png',
          position: new google.maps.LatLng(locations[i][0],locations[i][1]),
          draggable: true,
          title:'<?php echo $fetchcompany_name;?>'	
        });
			//var varia ="infoBubble"+i;
			
        varia = new InfoBubble({
          maxWidth: 300,        
         // position: new google.maps.LatLng(locations[i][0],locations[i][1]),
          maxHeight:100,
          minHeight:50,
          minwidth:100,
          padding: 9
        
        });

       /* infoBubble2 = new InfoBubble({
          map: map,
          content: 'Abc',
          position: new google.maps.LatLng(-35, 151),
          shadowStyle: 1,
          padding: 0,
          backgroundColor: 'rgb(57,57,57)',
          borderRadius: 4,
          arrowSize: 10,
          borderWidth: 1,
          borderColor: '#2c2c2c',
          disableAutoPan: true,
          hideCloseButton: true,
          arrowPosition: 30,
          backgroundClassName: 'phoney',
          arrowStyle: 2
        });*/
       
        varia.open();
        //infoBubble2.open();

        //var div = document.createElement('DIV');
        //div.innerHTML = 'mjgtjugjgjg';

      	// infoBubble.addTab('', div);
        //infoBubble.addTab('Uluru', contentString);
        if(locations.length>1)
       	{
			google.maps.event.addListener(marker, 'mouseover', (function(marker, i) 
	    	    	             {
	    	                	   var loc='<?php echo $fetchcompany_name; ?>';
	     	                	   var locate='<div style="line-height: 15px;color:#000;font-size:12px;font-family:arial;"><a style="color:#00A7E6;font-weight:bold;">'+loc+'</a><br><span style="color:#AAA5A4">'+locations[i][3]+'</span><br><br>'+locations[i][2]+'</div>';
	    	                	 // var locate=loc+locations[i][2];
	    	                     	return function() 
	    	                    	 {	    	             	
	    	                     		varia.setContent(locate);
	    	                      		varia.open(map, marker);
	    	                     	 };
	    	                   })(marker, i));
	    	                   google.maps.event.addListener(marker,'click', (function(marker, i) 
	  	    	    	             {
	  	    	                     	return function() 
	  	    	                    	 {	    	             	
	  	    	                     		//varia.setContent(null);
	  	    	                      		//varia.open(map, marker);
	  	    	                      		varia.close();
	  	    	                     	 };
	  	    	                   })(marker, i));
       	}
        else
        {
        	var loc='<?php echo $fetchcompany_name; ?>';    	                	
      	    var locate='<div style="line-height: 15px;color:#000;font-size:12px;font-family:arial;"><a style="color:#00A7E6;font-weight:bold;">'+loc+'</a><br><span style="color:#AAA5A4">'+locations[i][3]+'</span><br><br>'+locations[i][2]+'</div>';

      	  	varia.setContent(locate);
    		varia.open(map, marker);
      	    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) 
	    	         {
	                     return function() 
	                     {
	                    	 varia.setContent(locate);
	                      	 varia.open(map, marker);
	                     };
	                  })(marker, i));
      	    google.maps.event.addListener(marker, 'click', (function(marker, i) 
	    	           {
	                     	return function() 
	                    	 {	    	             	
	                     		//varia.setContent(null);
  	                      		//varia.open(map, marker);
  	                      		varia.close();
	                     	 };
	                   })(marker, i));
         }
       /* google.maps.event.addListener(marker, 'mouseover', function() {
          if (!varia.isOpen()) {
        	  varia.open(map, marker);
			  varia.setContent(locate);
            //infoBubble2.open();
          }
          });
        google.maps.event.addListener(marker, 'mouseout', function() {
        if (varia.isOpen()) {
         // infoBubble2.open(map, marker);
          varia.close();
        }
        });*/

			
	 
      }}
        /*google.maps.event.addDomListener(document.getElementById('update'),
            'click', updateStyles);
        google.maps.event.addDomListener(document.getElementById('add'),
            'click', addTab);
        google.maps.event.addDomListener(document.getElementById('update-tab'),
            'click', updateTab);
        google.maps.event.addDomListener(document.getElementById('remove'),
            'click', removeTab);
        google.maps.event.addDomListener(document.getElementById('open'),
            'click', function() {
            infoBubble2.open();
        });
        google.maps.event.addDomListener(document.getElementById('close'),
            'click', function() {
          infoBubble2.close();
        });*/

      google.maps.event.addDomListener(window, 'load', init);

     /* function updateStyles() {
        var shadowStyle = document.getElementById('shadowstyle').value;
        infoBubble.setShadowStyle(shadowStyle);

        var padding = document.getElementById('padding').value;
        infoBubble.setPadding(padding);

        var borderRadius = document.getElementById('borderRadius').value;
        infoBubble.setBorderRadius(borderRadius);

        var borderWidth = document.getElementById('borderWidth').value;
        infoBubble.setBorderWidth(borderWidth);

        var borderColor = document.getElementById('borderColor').value;
        infoBubble.setBorderColor(borderColor);

        var backgroundColor = document.getElementById('backgroundColor').value;
        infoBubble.setBackgroundColor(backgroundColor);

        var maxWidth = document.getElementById('maxWidth').value;
        infoBubble.setMaxWidth(maxWidth);

        var maxHeight = document.getElementById('maxHeight').value;
        infoBubble.setMaxHeight(maxHeight);

        var minWidth = document.getElementById('minWidth').value;
        infoBubble.setMinWidth(minWidth);

        var minHeight = document.getElementById('minHeight').value;
        infoBubble.setMinHeight(minHeight);

        var arrowSize = document.getElementById('arrowSize').value;
        infoBubble.setArrowSize(arrowSize);

        var arrowPosition = document.getElementById('arrowPosition').value;
        infoBubble.setArrowPosition(arrowPosition);

        var arrowStyle = document.getElementById('arrowStyle').value;
        infoBubble.setArrowStyle(arrowStyle);
      }*/

     /* function addTab() {
       // var title = document.getElementById('tab-title').value;
        var content = document.getElementById('tab-content').value;

        if (content != '') {
          infoBubble.addTab(title, content);
        }
      }*/
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
