<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<title>Tutor sign up - registration page.</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crudregister.js"></script>


<script type="text/javascript">
function disdata(){
	jQuery("input[name='txtradio']").each(function() {
		jQuery(this).attr('disabled', 'disabled');
	});
}


window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/tutor/register','register_step','register_step');
		
	}
	<?php
	if(isset($this->setradiodisable) && $this->setradiodisable != "" && $this->setradiodisable == 'disableradio'){ ?>
		disdata();
	<?php }?>
	
};
function myfunctionin(uid){
	var id = uid;
	var pos = $("#"+id).height();
	var topp = "-"+(pos/2-10);
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "visible";
	uniqid.style.top = topp+"px";
}
function myfunctionout(uid){
	//alert('ioo');
	var uniqid = document.getElementById(uid);
	uniqid.style.visibility = "hidden";
}
function profileurl()
{
	var fname=document.getElementById("firstname").value;
	var lname=document.getElementById("lastname").value;
	var cname=document.getElementById("indi_cmnyname").value;
	document.getElementById("userIDforuniq").value="";	
	if(cname!="" && cname!=null)
	{
		var strcpname = cname.replace(/[_\W]+/g," ");
		var cpname=strcpname.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
		var strcpnname = cpname.replace(/[_\W]+/g,"");
		document.getElementById("userIDforuniq").value=strcpnname;	
	}
	else
	{
		document.getElementById("userIDforuniq").value="";	
		 if(fname!="" && fname!=null)
			 {
			 	var name=fname.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});					
				strfrname = name.replace(/[_\W]+/g,"");
				document.getElementById("userIDforuniq").value="";	
				document.getElementById("userIDforuniq").value=strfrname;		
				if(lname!="" && lname!=null)
				{
					var lastname=lname.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});			
					strlasname = lastname.replace(/[_\W]+/g,"");
					document.getElementById("userIDforuniq").value=strfrname+strlasname;					
				}
			 }		
	}

}
</script>

<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>/*brgv 28-04*/
#registration_form select
{
	height:32px !important;
	width:273px !important;;
}
.formholder
{
	border:1px solid #00A7E6;
}

.leftstep
{
	text-align:left;
	float:left;
}
.rightstep
{
	text-align:right;
	float:right;
}
.leftstep a
{
	color:#00A7E6;
	font-size:13px;
}
.smallnoticetext
{
	float: left;
    font-size: 14px;
    text-align: left;
    width: 640px;
}

.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:165px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:40px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}

</style>
<!--[if IE 7]>
<style>
#registration_form input
{
	padding:2px 0 0 2px;
	height:19px;
	text-align:left;
}
input#password,input#confirm_password
	{
    	font-family: Arial !important;
  	}  	
</style>
<![endif]-->
<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ie8style.css"/>
<![endif]-->
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ie7style.css"/>
<![endif]-->
<script type="text/javascript">
var searched_locality_id="";
$(document).ready(function() {
	
	//alert(searched_locality_id);
	<?php if(isset($this->tutordata->tutor_add_city) && $this->tutordata->tutor_add_city!="" && isset($this->tutordata->tutor_add_locality) && $this->tutordata->tutor_add_locality!=""){?>
	searched_city_id1 = "<?php echo $this->tutordata->tutor_add_city;?>";
	searched_locality_id1 = "<?php echo $this->tutordata->tutor_add_locality;?>";
	searched_city_id = parseInt(searched_city_id1);
	searched_locality_id = parseInt(searched_locality_id1);
	getlocality(searched_city_id);
	<?php }?>
	
});
function getclasstype(getvalue){
	if(getvalue=="4")
	{
		 document.getElementById('showcmpfield').style.display="block";
		 document.getElementById('lastnameid').innerHTML = "";
		 document.getElementById('firstnameid').innerHTML = "";
		 document.getElementById('lastnameid').innerHTML = "Contact person (Last name) : ";
		 document.getElementById('firstnameid').innerHTML = "Contact person (First name) : ";
		 document.getElementById('individualcmny').style.display="none";
		 
	  
	}else{
		document.getElementById('showcmpfield').style.display="none";
		document.getElementById('lastnameid').innerHTML = "";
		document.getElementById('firstnameid').innerHTML = "";
		document.getElementById('lastnameid').innerHTML = "Last name : ";
		document.getElementById('firstnameid').innerHTML = "First name : ";
		document.getElementById('individualcmny').style.display="block";
	}
	document.getElementById('radioval').value = getvalue;
}
function getphonevisible(getvalue){

	document.getElementById('ph_visible_val').value = getvalue;
}
function getlocality(city_id){
	if(city_id != "" && city_id != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/getlocality",
			type:'post',
			data:'city_id='+city_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					j=1;
					var jsonObject = eval ('('+response+')');
					options_ele = document.getElementById('locality');
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
				    for(m=0;m<jsonObject.length;m++){
						var option_element = new Option(jsonObject[m]['address_name'],jsonObject[m]['locality_id']);
						document.getElementById('locality').options[j] = option_element;
						j++;
					}
			
				    /*for update selected*/
				    locality_var = document.getElementById('locality');
				   //alert(searched_locality_id);
				    if(searched_locality_id!=""){
						for ( var i = 0; i < locality_var.options.length; i++ ) {
						  if (locality_var.options[i].value == searched_locality_id && city_id == searched_city_id) {
						      	locality_var.options[i].selected = true;
						  }
						}
				    }
					
				}
			}
		});
	}
}
</script>
</head>
<body>
<div id="tutorpagepath" class="tutorpagepath">
	<a href="<?php echo BASEPATH;?>/index.php"> Home </a>
	<span class="patharrow">></span>
	<a style="color:#FF6633;" href="/search/index/skillid/4">Tutor Registration</a>
</div>
<div id="step1" style="width:738px;margin:auto">

			
			<strong class="regheader" style="margin-top:0px;">Tutor Registration</strong>
			<div class="clear">&nbsp;</div>
			<div class="midspacer">&nbsp;</div>
			<div class="menuclass">
				<div style="background:url('<?php echo BASEPATH;?>/images/reg_step_1.png') no-repeat;width:783px;height:41px;">
					<div class="left" style="width:170px;height:41px;" ></div>
					<div class="left" style="width:150px;height:41px;"></div>
					<div class="left" style="width:225px;height:41px;" ></div>
					<div class="left" style="width:130px;height:41px;" ></div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="step">
				<div class="smallnoticetext"><span class="registerhint">After you complete Step 1, you can always log in later with your details and complete the rest. However, your profile will be visible only once Skillzot confirms all details have been submitted.</span></div>
				<div class="rightstep">Step 1 of 4</div>
			</div>
			<div class="step">
				<div class="leftstep"><a rel="lightbox[external 730 450]" href="<?php echo BASEPATH;?>/tutor/whysignup">Why the exhaustive form?</a></div>
			</div>
		<div id="registration_form" class="formholder">
			<form method="post" action="<?php echo BASEPATH;?>/tutor/register" name="register_step" id="register_step" enctype="multipart/form-data">
				
				<div class="allfields"><span class="onlyorangedisplay">*</span> All fields are required</div>
				<div class="steprow1">
				
					<div class="stepcol1">I take : <span class="onlyorangedisplay">*</span></div>
					
					<div class="stepcol2">
							<div>
								<input class="radioclassdisplay" type="radio"
									<?php if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
										{
											if($this->tutordata->tutor_class_type=='1')
											{
												echo "checked";
											}
										}
									?>
								name="txtradio"  value="1" checked="checked" onclick="javascript:getclasstype(this.value);"/>Personal lessons
								<?php // if(isset($classtype->class_type_name) && $classtype->class_type_name !=""){echo $classtype->class_type_name;}?>
							</div>
							<div>
							<input class="radioclassdisplay" type="radio" name="txtradio" value="2" onclick="javascript:getclasstype(this.value);"
							
								<?php if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
								{
									if($this->tutordata->tutor_class_type=='2')
									{
										echo "checked";
									}
								}
								?> />Group classes
							</div>
							<div>
							<input class="radioclassdisplay" type="radio"
							<?php if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
								{
									if($this->tutordata->tutor_class_type=='3')
									{
										echo "checked";
									}
								}
							?>
							onclick="javascript:getclasstype(this.value);" name="txtradio"  value="3" />Both
							</div>
							<div>
<!--							<input class="radioclassdisplay" type="radio"-->
							<?php //if (isset($this->tutordata->tutor_class_type) && $this->tutordata->tutor_class_type!="")
//								{
//									if($this->tutordata->tutor_class_type=='4')
//									{
//										echo "checked";
//									}
//								}
							?>
<!--							onclick="javascript:getclasstype(this.value);" name="txtradio" value="4" />Company/Institute taking group classes only-->
							</div>
					<?php // }
						//}?>
					</div>
				</div>
				<input type="hidden" id="radioval" name="radioval" value="1"/>
				<div class="midspacer">&nbsp;</div>
				
				<?php if (isset($authUserNamespace->classtype) && $authUserNamespace->classtype=="4"){?>
				<div class="steprow1">
					<div class="stepcol1">Company name : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<input type="text" id="company_name" name="company_name" value="<?php if (isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo $this->tutordata->company_name;}?>"  errortag="company name"/>
						<div id="company_name_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				
				<?php }else{ ?>
				<div class="steprow1" id="showcmpfield" style="display:none;">
					<div class="stepcol1">Company name : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<input type="text" id="company_name" name="company_name" value="<?php if (isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo $this->tutordata->company_name;}?>"  errortag="company name"/>
						<div id="company_name_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<?php } ?>
				<div class="steprow1" id="individualcmny" <?php if (isset($authUserNamespace->classtype) && $authUserNamespace->classtype=="4"){?>style="display:none;" <?php }?>>
					<div class="stepcol1">Company name :</div>
					<div class="stepcol2">
						<input type="text" id="indi_cmnyname" name="indi_cmnyname" onkeyup="profileurl();" value="<?php if (isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){echo $this->tutordata->company_name;}?>"  errortag="company name"/>
						<div class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1" ><div id="firstnameid" style="float:left;"><?php if (isset($authUserNamespace->classtype) && $authUserNamespace->classtype=="4"){?>Contact person first name : <?php }else{?>Contact person (first name) : <?php }?></div><span class="onlyorangedisplay"> *</span></div>
					<div class="stepcol2">
						<input type="text" id="firstname" name="firstname" onkeyup="profileurl();" value="<?php if (isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!=""){echo $this->tutordata->tutor_first_name;}?>"  errortag="first name"/>
						<div id="firstname_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1"><div id="lastnameid" style="float:left;"><?php if (isset($authUserNamespace->classtype) && $authUserNamespace->classtype=="4"){?>Contact person last name : <?php }else{?>Contact person (last name) : <?php }?> </div> <span style="color:#F06142; float:left;"> *</span></div>
					<div class="stepcol2">
						<input type="text" id="lastname" name="lastname"  onkeyup="profileurl();" value="<?php if (isset($this->tutordata->tutor_last_name) && $this->tutordata->tutor_last_name!=""){echo $this->tutordata->tutor_last_name;}?>"  errortag="last name">
						<div id="lastname_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">Your webpage url : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2"  style="position: relative;width:487px;"><div style="float:left;margin: 6px 0 0;">www.skillzot.com/</div>
<!--						<div style="float:left;">-->
							<input style="float:left;width: 150px;" type="text" id="userIDforuniq" name="userIDforuniq" value="<?php if (isset($this->tutordata->userid) && $this->tutordata->userid!=""){echo $this->tutordata->userid;}?>" errortag="uniqe userid">
							<i class="registerhint" style="width:196px;float:left;margin:-6px 0 0 7px;font-size:11px;">(This is your web address link you can use to direct people to your profile.You can change it if you wish to.)</i>
							<i class="registerhint">(After you set your username, you can change it only once.)</i>
							<div id="userIDforuniq_error" class="errorcls2">&nbsp;</div>
<!--						</div>-->
<!--						<span style="float:left;margin-top:6px;" class="tooltipclass">-->
<!--							<img style="float:left;margin-left:5px;" src="<?php // echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />-->
<!--							<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">-->
<!--								<i class="registerhint">(This is your web address link you can use to direct people to your profile.You can change it if you wish to.)</i>-->
<!--							</span>-->
<!--						</span>-->
<!--						<div style="float:left;font-size:12px;margin-bottom:10px;margin-top:10px;"><i class="registerhint">(After you set your username, you can change it only once.)</i></div>-->
					</div>
				</div>
				
				<div class="steprow1">
					<div class="stepcol1">Email : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<input type="text" id="email" name="email" value="<?php if (isset($this->tutordata->tutor_email) && $this->tutordata->tutor_email!=""){echo $this->tutordata->tutor_email;}?>" errortag="email">
						<i class="registerhint">(To log in to skillzot.com)</i>
						<div id="email_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				
				<div class="steprow1">
					<div class="stepcol1">Password : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<input type="password" id="password" name="password" value="" errortag="password">
						<i class="registerhint">(Minimum 5 characters)</i>
						<div id="password_error" class="errorcls2">&nbsp;</div>
					</div>
				
				</div>
				<div class="steprow1">
					<div class="stepcol1">Confirm password : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<input type="password" id="confirm_password" name="confirm_password" value="" errortag="confirm password">
						<div id="confirm_password_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<!--<div class="steprow1">
					<div class="stepcol1">Street address : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<textarea id="address" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" name="address" errortag="address" rows="1" cols="50"><?php //if (isset($this->tutordata->tutor_address) && $this->tutordata->tutor_address!=""){echo $this->tutordata->tutor_address;}?></textarea>
						
						<span class="tooltipclass">
											<img src="<?php echo BASEPATH;?>/images/topquestion.png" onmouseover="myfunctionin('uniquename2');" onmouseout="myfunctionout('uniquename2');" />
											<span class="tooltipdiv" id="uniquename2" style="visibility: hidden;">
												<span class="tooltipdivspan2">You can add more branches in step #3.</span>
											</span>
										</span>
						
						<span id="address_label" class="invalid">Invalid</span>
						<div id="address_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">City : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<select id="city" name="city" errortag="city name" onchange="getlocality(this.value);">
							<option value="" selected="selected">--  Select city  --</option>
							<?php //if(isset($this->city) && sizeof($this->city)>0){foreach($this->city as $city){?>
								<option value="<?php //echo $city->address_id;?>"  <?php //if (isset($this->tutordata->tutor_add_city) && $this->tutordata->tutor_add_city!="" && $this->tutordata->tutor_add_city == $city->address_id ){ echo "selected";}?>><?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>
							</option>
							<?php //}}?>
            			</select>
            			<div id="city_error" class="errorcls2">&nbsp;</div>
					</div>
				<div class="steprow1">
					<div class="stepcol1">Locality : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<select id="locality" name="locality" errortag="locality">
							<option value="" selected="selected">--  Select locality  --</option>
            			</select>
            			<div id="locality_error" class="errorcls2">&nbsp;</div>
					</div>
				</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">Pincode : <span class="onlyorangedisplay">*</span></div>
					<div class="stepcol2">
						<input type="text" id="pincode" name="pincode" maxlength=6 value="<?php //if (isset($this->tutordata->tutor_add_pincode) && $this->tutordata->tutor_add_pincode!=""){echo $this->tutordata->tutor_add_pincode;}?>" errortag="PIN code">
						<div id="pincode_error" class="errorcls2">&nbsp;</div>
					</div>
					
				</div>
				--><div class="steprow1">
					<div class="stepcol1" style="position:relative;">Mobile number : <span class="onlyorangedisplay">*</span><span style="float:right;position:absolute;top:7px;right:0px;margin:0px 5px 0 0;">+91</span></div>
					<div class="stepcol2">
						<input type="text" style="float:left;" id="mobile" name="mobile" value="<?php if (isset($this->tutordata->tutor_mobile) && $this->tutordata->tutor_mobile!=""){echo $this->tutordata->tutor_mobile;}?>" maxlength=10 errortag="a mobile or  ">
						<div style="float:left;margin:10px 0 0 5px;font-size:12px;"><i class="registerhint">(You can choose visibility below)</i></div>
						
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
						<span style="margin:0 0 0 100px">AND/OR</span>
					</div>
				</div>
				<div class="steprow1">
					<div class="stepcol1">Alternate number :</div>
					<div class="stepcol2">
						<input style="float:left;" type="text" id="landline" name="landline" errortag="alternate number" value="<?php if (isset($this->tutordata->tutor_landline) && $this->tutordata->tutor_landline!=""){echo $this->tutordata->tutor_landline;}?>">
						<div style="clear:both;"></div>
						<div id="mobile_error" class="errorcls2">&nbsp;</div>
						<div id="landline_error" class="errorcls2">&nbsp;</div>
					</div>
					
				</div>
				<div class="steprow1">
					<div class="stepcol1"><div>Phone number visible :</div><i class="registerhint">(For students to contact)</i></div>
					<div class="stepcol2">
						<input type="radio" onclick="javascript:getphonevisible(this.value);" class="radioclassdisplay" <?php if (isset($this->tutordata->phone_visible) && $this->tutordata->phone_visible=="1"){echo "checked";}else{?> checked="checked" <?php }?> name="phone_visible" value="1"> Yes
						<input type="radio" onclick="javascript:getphonevisible(this.value);" class="radioclassdisplay" <?php if (isset($this->tutordata->phone_visible) && $this->tutordata->phone_visible=="0"){echo "checked";}?> name="phone_visible" value="0">No
					</div>
					
				</div>
				<input type="hidden" name="ph_visible_val" id="ph_visible_val" value="<?php if (isset($this->tutordata->phone_visible) && $this->tutordata->phone_visible!=""){echo $this->tutordata->phone_visible;}else{echo "1";}?>" />
				<div class="clear">&nbsp;</div>
				<div class="midspacer">&nbsp;</div>
				<div class="steprow1">
					<div class="stepcol1">&nbsp;</div>
					<div class="stepcol2">
					  
						 <div class="savecontinue"><img src="<?php echo BASEPATH;?>/images/Save-and-continue.png"  onmouseout="this.src='<?php echo BASEPATH;?>/images/Save-and-continue.png';" onmouseover="this.src='<?php echo BASEPATH;?>/images/Save-and-continue_hover.png';recordOutboundLink('', 'tutor signup new','click on sign up icon','');return false;" id="save" name="save"></div>
					</div>
				</div>
				<input type="hidden" name="step2">
				<input type="hidden" name="class_types_str" value="">
			</form>
		</div>
</div>
</body>
</html>
