<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>

<HTML>
<HEAD>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
  	<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/menustyle.css" type="text/css" media="screen, projection"/>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" language="javascript" src="<?php echo BASEPATH;?>/js/hoverIntent.js"></script>
	
	<!-- End by varun for menu -->
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="<?php echo BASEPATH;?>/images/common/favicon.jpg" />
	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.alerts.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/ddmegamenu.js"></script>

	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/jquery.alerts.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/ddmegamenu.css"/>
<style>
body
{
	float:left;
	text-align:center;
	width:100%;
}
.skilltebs
{
	display:inline-block;
	width:735px;
	margin-top:10px;
}
.skilltebs ul
{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:5px 0 0 5px;
}
.skilltebs ul li
{
	float:left;
	display:inline;
	padding:9px 25px 10px 10px;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr.png);
	background-repeat:no-repeat;
	background-position:right center;
	text-align:center;
	background-color:#f0f0f0;
	cursor:pointer;
	color:#999;
	text-transform: uppercase;
    width: 125px;
}
.skilltebs ul li.active
{
	background-color:#00A7E6;
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-act.png);
	cursor:default;
	color:#fff;
}
.skilltebs ul li.last
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-last.png);
}
.skilltebs ul li.first
{
	border-radius:5px 0 0 5px;
}
.skilltebs ul li.prev
{
	background-image:url(<?php echo BASEPATH;?>/images/tabsarr-prev.png);
}
#frmTransaction_form select
{
	height:32px !important;
	width:273px !important;;
}
.formholder
{
	border:1px solid #00A7E6;
	min-height:auto !important;
}
.leftstep
{
	text-align:left;
	float:left;
}
.rightstep
{
	text-align:right;
	float:right;
}
.leftstep a
{
	color:#00A7E6;
	font-size:13px;
}
.smallnoticetext
{
	float: left;
    font-size: 14px;
    text-align: left;
    width: 640px;
}
.tooltipdiv{
	height:auto;
	display:block;
	position:absolute;
	left:35px;
	top:0px;
	text-align:center;
	width:165px;
	font-size: 14px;
    font-weight: normal;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	max-width:200px;
	min-height:40px;
	height:auto;
	width:auto;
	border:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:left;
	border-radius:10px;
	padding:5px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.nameoftutor1 {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
    margin:10px 0 0 0px;
}
.check
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    /*padding-left: 3px;*/
    height:0 !important;
    width:18px !important;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 24.8%;
	height:auto;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 7px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:23px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: uppercase;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:100%;
	min-height:75px;
	color: #333333;
    font-size: 14px;
    text-align:center;
}
.infolinerow
{
	padding-left:0px;
}
.steprow1
{
	margin-top:15px;
}
a.linkclass
{
	color: #00A7E6;font-size: 13px;
}
a.linkclass:hover
{
	color: #FF6633
}
.selectdropdown
{
	border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
}
.selectdropdown option
{
	background-color: #FFFFFF;
    color: #000000;
    font-size: 12px !important;
    height: 20px;
    padding: 2px !important;
}
.errorcls2
{
	height:15px;
	width:400px;
}
.orclass
{
	color: #00A7E6;
    font-family: handofsean,handofsean_IE;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}

#frmTransaction_form input {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 30px;
    padding-left: 3px;
    width: 262px;
}	
</style>
<BODY>	
<!-- <div class="skilltebs">
	<ul>
		<li class="first">step 1</li>
		<li>step 2</li>
		<li class="prev">step 3</li>
		<li class="last active">step 4</li>
	</ul>
</div> -->
<div id="step1" style="width:738px;margin:auto">
		<div id="frmTransaction_form" class="formholder">
			<div class="infolinerow" style="margin-top:10px; width: 690px;"><span class="nameoftutor">Booking confirmation</span>
			<a href="<?php echo BASEPATH; ?>/invoice/<?php echo $this->PaymentID."-".date('d-m-Y').".pdf"; ?>" download><span class="nameoftutor" style="float:right;font-size: 12px;">Download invoice</span></a>

			</div>
			<div class="infolinerow1" style="width:100%;">
				<span class="nameoftutor1">This is a confirmation of your booking through skillzot.com.</span>
			</div>
			<div class="infolinerow1" style="width:100%;">
				<span class="nameoftutor1">Here is the summary :</span>
			</div>
			<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;">Name :</div>
							
					</div>
					<div class="stepcol2" style="font-size:14px;">
						<?php if(isset($authUserNamespace->paymentname) && $authUserNamespace->paymentname != ""){ echo $authUserNamespace->paymentname;}?>	
					</div>
			</div>	
			<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;">Your order id number :</div>
							
					</div>
					<div class="stepcol2" style="font-size:14px;">
						<?php if(isset($this->PaymentID) && $this->PaymentID != ""){ echo $this->PaymentID;}?>
					</div>
			</div>
			<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;">Date of booking : </div>
							
					</div>
					<div class="stepcol2" style="font-size:14px;">
						<?php if(isset($this->DateCreated) && $this->DateCreated != ""){ //echo $this->DateCreated;
							echo date('jS  F, Y \a\t h:i A', strtotime($this->DateCreated));}?>	
					</div>
			</div>
			<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;">Class booked : </div>
							
					</div>
					<div class="stepcol2" style="font-size:14px;">
							
							<?php if(isset($authUserNamespace->combinename) && $authUserNamespace->combinename != ""){ echo $authUserNamespace->combinename;}?>
					</div>
			</div>	 
			<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;">No. of students : </div>
							
					</div>
					<div class="stepcol2" style="font-size:14px;">
							<?php if(isset($authUserNamespace->nostudents) && $authUserNamespace->nostudents != ""){ echo $authUserNamespace->nostudents;}?>
					</div>
			</div>
			<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;">Price of course per student : </div>
							
					</div>
					<div class="stepcol2" style="font-size:14px;">
						<?php if(isset($authUserNamespace->tutorrate) && $authUserNamespace->tutorrate != ""){ echo $authUserNamespace->tutorrate;}?>	
					</div>
			</div>
			<div class="steprow1">
			  		<div class="stepcol1">
							<div style="float:left;">Total amount :</div>
							 <span style="margin: -20px 0 0;float: left;"><br>(internet handling charges)</span>
							
					</div>
					<div class="stepcol2" style="font-size:14px;">
							<?php if(isset($authUserNamespace->grandprice) && $authUserNamespace->grandprice != ""){ echo $authUserNamespace->grandprice;}?>
					</div>
			</div>
			<div class="infolinerow1" style="width:100%;text-align: left;">
				<span class="nameoftutor1">Please take a print of this confirmation or sms confirmation with a valid photo id at the time<br/> of your first class.</span>
			</div>  
				
			<div class="infolinerow1" style="width:100%;">
				<span class="nameoftutor1">Thank you for using skillzot.com</span>
			</div> 	
			<div style="float:right;margin:0px 25px 0 0;" class="stepcol2">
				<a href="<?php echo BASEPATH;?>/tutor/profile/tutorid/<?php echo $authUserNamespace->ptutorid;?>" class="backtoprof">Back</a>
			</div>	
	</div>
	
</div>

</body>
</html>