<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Class/teacher profile, edit batch details.</title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotpronto.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/calendar_blue.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/sumoselect.css" />
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/calendar.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.sumoselect.js"></script>
	
<style>
.tutorcontentholder
{
	min-height:500px;
}
.midcontent
{
	width: 959px;
}
.rightcontent
{
	width:656px;
}
.formholder1 !important
{
	
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.CourseDetMid {
    background-color: #ffffff;
    border: 1px solid #00a7e6;
    border-radius: 5px;
    float: left;
    font-size: 14px;
    height: auto;
    padding: 15px 0 15px 15px;
    width: 652px;
}
.stepcol1
{
	width:215px;
}
.stepcol2
{
	width: 350px;
}
#registration_form_2 input
{
	 width: 262px;
}
#registration_form textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    width: 262px;
}
.tooltipclass{
	cursor:pointer;
	position:relative;
}
.tooltipdiv{
	width:320px;
	height:auto;
	display:block;
	position:absolute;
	top:10px;
	left:35px;
	text-align:center;
}
.tooltipdivspan1,.tooltipdivspan3
{
	width:320px;
	height:20px;
	display:block;
	background-position:top left;
	background-repeat:no-repeat;
}
.tooltipdivspan1{
	background:url('../images/tooltipgreytop.png');
}
.tooltipdivspan3{
	background:url('../images/tooltipgreybot.png');
}
.tooltipdivspan2
{
	width:278px;
	height:auto;
	border-left:1px solid #00A7E6;
	border-right:1px solid #00A7E6;
	background:#f0f0f0;
	display:block;
	padding:0 20px;
	text-align:justify;
	word-wrap:break-word:
	
}
.lowspacer{
	height:15px;
}
#registration_form_2 .checkbox
{
	height:auto;
	 float: left;
    width: 50px;
}
.steprow1
{
margin-bottom: 5px;
}
.errorcls1{
	color:#FF6633;
	font-size:12px;
	/*font-weight:bold;*/
	
}
.infolinerow
{
	padding:0px;
}

.linehoderfield {
    float: left;
    padding: 0 5px 9px 55px;
    width: 450px;
}
.border
{
	border:1px solid #BECED5;
	border-radius:7px;
	border-left:0px;
	border-bottom:0px;
}
.boxesDiv
{
	width: 19%;
	height: 70px;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv1
{
	width: 8.6%;
	height: 70px;
	border:1px solid #BECED5;
	border-right:0px;
	border-top:0px;
	float:left;
}
.boxesDiv_first,.boxesDiv_last
{
	border-radius: 7px 7px 0 7px;
}
.boxesDiv_last
{
	border-radius: 0 0 4px 0;
}
.boxestitle
{
	border-bottom:1px solid #BECED5;
	height:23px;
    padding-top: 5px;
	float:left;
	width:100%;	
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;	
}
.buttonDiv
{
	background-color: #00A7E6;
    background-position: left top;
    border: 2px solid #00A7E6;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    height: 25px;
    line-height: 26px;
    text-align: center;
    width: auto;
    cursor:poinetr;
    float:left;
    margin-top:10px;
    text-transform: uppercase;
    padding: 0 10px;
    cursor:pointer;
}
.buttonDiv:hover
{
	background-color: #676767;
}
.Nameofcourse
{
	float:left;
	width:36px;
	color: #333333;
    font-size: 14px;
    text-align:left;
    padding: 10px;
}
.midspacer {
    display: block;
    float: left;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100px;
}
.midspacer1 {
    display: block;
    float: left;
    height: 10px;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100px;
}

.Nameofcourse1 {
    color: #333333;
    float: left;
    font-size: 14px;
    padding: 7px 2px;
    text-align: left;
    width: 117px;
}
</style>

</head>
<body>
<form method="post" action="" name="register_step" id="register_step" enctype="multipart/form-data">
	<div id="registration_form_2" class="formholder1">
		<div class="rightcontent">
		<div class="CourseDetTop"></div>
			<div class="CourseDetMid">
				<div class="infolinerow" style="margin-bottom:15px;padding:0px;">
						<span class="nameoftutor" style="color:#1CA3E7;width:630px;" >Batch summary : 
							<span style="font-size:14px;"><br/>
							<?php $time_format=explode(',',$this->batchviewResult->time_format); 
								  if (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location=="1,"){echo "At Student's home : ";}
								  elseif (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location==",2"){echo $this->address->address_value." : ";}
								  elseif (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location=="1,2"){echo "At Student's home and ".$this->address->address_value." : ";}
								  if(isset($this->batchviewResult->tutor_batch_from_timing) && $this->batchviewResult->tutor_batch_from_timing != "")echo $this->batchviewResult->tutor_batch_from_timing.$time_format[0]." to ";
								  if (isset($this->batchviewResult->tutor_batch_to_timing) && $this->batchviewResult->tutor_batch_to_timing!="")echo $this->batchviewResult->tutor_batch_to_timing.$time_format[1].", ";
								  
								  $daytable = new Skillzot_Model_DbTable_Batchday();
								  $days=explode(',',$this->batchviewResult->tutor_batch_day);
								  $day_row1='';
								  if(count($days))
								  {
										for ($start=0; $start < count($days); $start++) {
											$day_row=$daytable->fetchRow($daytable->select()
																->from(array('c'=>DATABASE_PREFIX."master_tutor_batch_day"),array('day_name'))
																->where("day_id='$days[$start]'"));
											$day_row1.=$day_row->day_name.'-';	
										}
								  }
								$day_list=rtrim($day_row1,'-');
								if(isset($this->batchviewResult->tutor_batch_day) && $this->batchviewResult->tutor_batch_day != ""){
									if(count($days)=="8"){ echo "Everyday";}
									else { echo $day_list; }
								}
							?>
							</span>
						</span>
				</div>
				<?php if (isset($this->tutorlessonlocation) && $this->tutorlessonlocation!="") { ?>
					<div class="steprow1" style="margin-bottom: 2px;">
						<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Location of lessons</span>
					</div>
					<div class="infolinerow2" style="margin-bottom:10px;">
						<span class="locationoftutor" id="radious_display">
						<?php
						if (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location=="1,"){echo "At Student's home";}
						elseif (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location==",2"){echo "At Teacher's location";}
						elseif (isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location=="1,2"){echo "At Student's home and Teacher's location";}
						echo "<br/>";				
						if (isset($this->batchviewResult->travel_radius) && $this->batchviewResult->travel_radius!="" ) { echo "(".$this->batchviewResult->travel_radius.")"; }
						?>
						</span>
					</div>
				<?php } ?>
				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="" && isset($this->batchviewResult->tutor_location) && $this->batchviewResult->tutor_location!="1,") {?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Class Address</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:0px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">

								<?php //echo $this->batchviewResult->address;
								if(isset($this->batchviewResult->address) && $this->batchviewResult->address!=""){ echo $this->batchviewResult->address;}
								if(isset($this->address->address_value) && $this->address->address_value!=""){ echo ", ".$this->address->address_value;}
								if(isset($this->city->address_value) && $this->city->address_value!=""){ echo ", ".$this->city->address_value;}
								if(isset($this->batchviewResult->pincode) && $this->batchviewResult->pincode!=""){ echo ", ".$this->batchviewResult->pincode;}
								?>
								</span>
				</div>
				<div class="steprow1" style="margin-bottom:10px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php  if(isset($this->batchviewResult->landmark) && $this->batchviewResult->landmark!=""){ echo "Landmark : ".$this->batchviewResult->landmark;} ?>
								</span>
				</div>
				<?php } ?>
				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { ?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Batch start date</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php echo $this->batchviewResult->batch_date;?>
								</span>
				</div>
				<?php } ?>
				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { ?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Duration</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;width:475px">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php if(isset($this->batchviewResult->tutor_class_dur_wks) && $this->batchviewResult->tutor_class_dur_wks=="0")
									  { $weekdisplay="Recurring monthly";
							          }else
							          { $weekdisplay=$this->batchviewResult->tutor_class_dur_wks; }
							          if(isset($this->batchviewResult->tutor_class_dur_dayspwk) && $this->batchviewResult->tutor_class_dur_dayspwk=="0")
									  { $daydisplay="Flexible";
							          }else
							          { $daydisplay=$this->batchviewResult->tutor_class_dur_dayspwk; }
							          if(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0")
									  { $hrsdisplay="Flexible"." hours per day";
							          }elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.5")
							          { $hrsdisplay="30 min"; 
									  }elseif(isset($this->batchviewResult->tutor_class_dur_hrspday) && $this->batchviewResult->tutor_class_dur_hrspday=="0.75")
							          { $hrsdisplay="45 min"; }
							          else
							          { $hrsdisplay=$this->batchviewResult->tutor_class_dur_hrspday." hours per day"; }
								echo "Weeks - ".$weekdisplay." | Days/Week - ".$daydisplay." | ".$hrsdisplay ?>
								</span>
				</div>
				<?php } ?>
				<?php if (isset($this->batchviewResult) && $this->batchviewResult!="") { ?>
				<div class="steprow1" style="margin-bottom:0px;">
								<span class="locationoftutor" style="color:#AAA5A4; font-size: 14px;">Seats</span>
				</div>
				<div class="infolinerow2" style="margin-bottom:10px;">
								<span class="locationoftutor" id="multiplelocalitydisplay">
								<?php echo "Seat available: ".$this->batchviewResult->seat_available;?>
								</span>
				</div>
				<?php } ?>
			</div>
		</div>
	</div>		
</form>
</body>
</html>
