<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
body{
	margin:0px;
	text-align: center;
	font-size:12px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	float:left;
	width: 430px;
}
.contentbox
{
	margin: 0px;
	display: inline-block;
	width:410px;
	padding: 0px 0px;
}

.steprow1 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 60px;
    padding-left: 7px;
    width: 100%;
}

.steprow1
{
	margin-bottom:10px;
	float:left;
}
.radio_custom
{
	width:15px;
	height:auto;
}

.select {
    border: 1px solid #BECED5;
    border-radius: 5px 5px 5px 5px;
    color: #032B3C;
    height: 30px;
    padding: 5px;
    font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    width:60%;
}
/*new style*/
body
{
	float:left;
	width:417px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:417px;
	height:540px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 377px;
}
.whitePart
{
	width: 396px;
	float:left;
	padding: 0px 0 10px 20px;
	color:#666;
	font-size: 14px;
	text-align:left;
}
.loginMain .whitePart p
{
	margin:0px;
	color:#666;
	font-size:14px;
	padding: 0px 0px 0 0px;
	float:left;
	width: 98.3333%;
}
.whitePart .Field
{
	float:left;
	width:100%;
}
.whitePart .Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:87px;
	padding:0px 8px 0 0;
	float:left;
}
.Field input[type="text"],.Field input[type="password"],textarea,.select
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.select
{
	width: 366px;
}
.whitePart .Field textarea
{
	height:70px;
	resize:none;
	padding:5px 0px 0 5px;
	float:left;
	width: 366px;
}
.whitePart .Field .errortext
{
	width:276px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:0px;
    padding:5px 0;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
.whitePart h2
{
	font-size:14px;
	color:#333;
	text-align:left;
}
.reviewleft
{
	width:50px;
}
.reviewright
{
	float: left;
    margin-left: 272px;
    width: 45px;
}
#radiuscount
{
	margin-right:10px;
}
</style>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
<script type="text/javascript">
		
window.onload = function(){
	document.getElementById("save").onclick = function(){
		saveForm('<?php echo BASEPATH; ?>/tutor/writereview','add_review_form','add_review_form');
		//window.parent.location.reload();
	};
};
function gettutorrating(getvalue){
	document.getElementById('tutor_rating').value = getvalue;
}

function getrecomended(getvalue){
	document.getElementById('recomendname_val').value = getvalue;
}
		</script>
</head>
<body id="idforrefresh">

<div class="loginMain">
	<h1>Share Your Experience</h1>
<div class="whitePart">
<form action="" name="add_review_form" id="add_review_form" method="post" enctype="multipart/form-data">

		<div class="Field">
			<h2 style="margin-top:15px;">1) Select the skill you enrolled for with
			<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name=="") 
				{
							if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!=""){ echo ucfirst($this->tutordata->tutor_first_name);}
							if(isset($this->tutordata->tutor_last_name)){echo " ".ucfirst($this->tutordata->tutor_last_name);}
								
			  } ?>
							
							
							
			<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="") 
				{		
						   if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){ echo ucfirst($this->tutordata->company_name);}
									
			 } ?>

			</h2>
			<select class="select" errortag="Skill" style="float:left;margin-right:5px;margin-top:2px;" name="skillname" id="skillname">
				<option value="">--Select--</option>
				<?php if (isset($this->skillname )&& $this->skillname!=""){
					foreach ($this->skillname as $skillname){
				?>
				<option value="<?php echo $skillname;?>"><?php echo $skillname;?></option>
				<?php }}?>																																									
			</select>
			<p id="skillname_error" class="errortext">&nbsp;</p>
			<input type="hidden" name="updateID" id="updateID" value="<?php if (isset($this->reviewresult->id) && $this->reviewresult->id!=""){echo $this->reviewresult->id;}?>"/>
		</div>
		<div class="Field">
			<h2 style="margin-top:0px;margin-bottom:0px;">2) How likely are you to recommend <?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name=="") 
				{
							if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!=""){ echo ucfirst($this->tutordata->tutor_first_name);}
							if(isset($this->tutordata->tutor_last_name)){echo " ".ucfirst($this->tutordata->tutor_last_name);}
								
			  } ?>
							
							
							
			<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="") 
				{		
						   if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){ echo ucfirst($this->tutordata->company_name);}
									
			 } ?> classes to your friends?</h2>
			 <span >(Hint : The happier you were with the classes, the likelier<br>you are to recommend)</span><br><br>
			<?php for ($i=1;$i<11;$i++){?>
			<input type="radio" class="radio_custom"
			<?php if (isset($this->reviewresult->skillgrade) && $this->reviewresult->skillgrade!="")
			{
				if($i==$this->reviewresult->skillgrade)
				{
					echo "checked";
				}
			}else{if ($i=='1'){echo "checked";}}
			 ?> onclick="gettutorrating(this.value);" name="improve_skill" value="<?php echo $i;?>"/><?php echo $i;?>
			<?php }?>
		</div>
		<input type="hidden" name="tutor_rating" id="tutor_rating" value="<?php if (isset($this->reviewresult->skillgrade) && $this->reviewresult->skillgrade!=""){echo $this->reviewresult->skillgrade; }else{echo "1";}?>">
		<input type="hidden" name="tutorid_set_session" id="tutorid_set_session" value="<?php if ((isset($authUserNamespace->maintutorid) && $authUserNamespace->maintutorid!="")||(isset($authUserNamespace->studentid) && $authUserNamespace->studentid!="")){echo "set";}?>">
		<div class="Field">
			<div class="reviewleft">  Not at all likely</div>
			<div class="reviewright"> Very likely</div>
		</div>
		<!--<div class="Field">
			<h2 style="margin-top:0px;">3) Would you recommend <?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name=="") 
				{
							if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!=""){ echo ucfirst($this->tutordata->tutor_first_name);}
							if(isset($this->tutordata->tutor_last_name)){echo " ".ucfirst($this->tutordata->tutor_last_name);}
								
			  } ?>
							
							
							
			<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="") 
				{		
						   if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){ echo ucfirst($this->tutordata->company_name);}
									
			 } ?> to a friend or colleague?</h2>
			<input type="radio" name="recomend_name" <?php if (isset($this->reviewresult->recommend) && $this->reviewresult->recommend!=""){if($this->reviewresult->recommend=='yes'){echo "checked";}}else{echo "checked";}?> onclick="getrecomended(this.value);" checked="checked" value="yes" />Yes
			<input type="radio" name="recomend_name" <?php if (isset($this->reviewresult->recommend) && $this->reviewresult->recommend!=""){if($this->reviewresult->recommend=='no'){echo "checked";}}?> onclick="getrecomended(this.value);" value="no" />No
			<input type="radio" name="recomend_name" <?php if (isset($this->reviewresult->recommend) && $this->reviewresult->recommend!=""){if($this->reviewresult->recommend=='maybe'){echo "checked";}}?> onclick="getrecomended(this.value);" value="maybe" />Maybe
		</div> -->
		
		<input type="hidden" name="recomendname_val" id="recomendname_val" value="<?php if (isset($this->reviewresult->recommend) && $this->reviewresult->recommend!=""){echo $this->reviewresult->recommend; }else{echo "yes";}?>">
		<div class="Field">
			<h2 style="margin-top:18px;">3) Any comments about your learning experience <br> with <?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name=="") 
				{
							if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!=""){ echo ucfirst($this->tutordata->tutor_first_name);}
							if(isset($this->tutordata->tutor_last_name)){echo " ".ucfirst($this->tutordata->tutor_last_name);}
								
			  } ?>
							
							
							
			<?php if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="") 
				{		
						   if(isset($this->tutordata->company_name) && $this->tutordata->company_name!=""){ echo ucfirst($this->tutordata->company_name);}
									
			 } ?>?</h2>
			<textarea style="margin-top:10px;" type="text" Name="User_Comments" id="User_Comments" onkeyup="limiter();" errortag="comments"><?php if (isset($this->reviewresult->comment) && $this->reviewresult->comment!=""){echo $this->reviewresult->comment; }?></textarea>
						<script type="text/javascript">
							var count = "140";   //Example: var count = "175";
							function limiter(){
							var tex = document.add_review_form.User_Comments.value;
							var len = tex.length;
							if(len > count){
							        tex = tex.substring(0,count);
							        document.add_review_form.User_Comments.value =tex;
							        return false;
							}
							document.getElementById("radiuscount").value = count-len;
							document.getElementById("radiuscount").innerHTML=count-len;
							}
						</script>
						<div class="clear">&nbsp;</div>
						<div class="char_count1" id="radiuscount">
							
						</div>
			<p id="User_Comments_error" class="errortext">&nbsp;</p>
			<input type="hidden" name="updateID" id="updateID" value="<?php if (isset($this->reviewresult->id) && $this->reviewresult->id!=""){echo $this->reviewresult->id;}?>">
		</div>
		<div class="Field" style="width:93%;">
			<span id="save" class="submit_button">SUBMIT</span>
		</div>
</form>
</div>
</div>
</body>
</html>
