<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/crud.js"></script>

<?php $id=$this->id;?>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		<?php if(isset($id)){?>
		saveForm('<?php echo BASEPATH; ?>/adminnew/addstudent/id/<?php echo $id;?>','add_category_form','add_category_form');
		<?php }else{?>
		saveForm('<?php echo BASEPATH; ?>/adminnew/addstudent/','add_category_form','add_category_form');
		<?php }?>
		}
};

$(document).ready(function() {
	<?php if(isset($this->studentsignup->std_city) && $this->studentsignup->std_city!="" && isset($this->studentsignup->std_locality) && $this->studentsignup->std_locality!=""){?>
	searched_city_id1 = "<?php echo $this->studentsignup->std_city;?>";
	searched_locality_id1 = "<?php echo $this->studentsignup->std_locality;?>";
	searched_city_id = parseInt(searched_city_id1);
	searched_locality_id = parseInt(searched_locality_id1);
	getlocality(searched_city_id);
	<?php }?>
	
});
function getlocality(city_id){
	if(city_id != "" && city_id != null){
		$.ajax({
			url:"<?php echo BASEPATH;?>/tutor/getlocality",
			type:'post',
			data:'city_id='+city_id,
			async: false,
			success: function(response){
				if(response!="" || response!=null){
					j=1;
					var jsonObject = eval ('('+response+')');
					options_ele = document.getElementById('locality');
					for(k=options_ele.length-1;k>0;k--){
						options_ele.remove(k);
					}
				    for(m=0;m<jsonObject.length;m++){
						var option_element = new Option(jsonObject[m]['address_name'],jsonObject[m]['locality_id']);
						document.getElementById('locality').options[j] = option_element;
						j++;
					}
			
				    /*for update selected*/
				    locality_var = document.getElementById('locality');
					for ( var i = 0; i < locality_var.options.length; i++ ) {
					  if (locality_var.options[i].value == searched_locality_id && city_id == searched_city_id) {
					      	locality_var.options[i].selected = true;
					  }
					}
				    /**/
					
				}
			}
		});
	}
}
</script>
<style>
body{
	margin:0px;
	padding:0px;
	font-family:arial;
	font-size:12px;
}
.f1
{
	line-height:30px;
	width:315px;
}
h2
{
text-align:center;
}
</style>
</head>
<body>
<!--<img src="<?php echo BASEPATH;?>/images/black_close.png" onclick="javascript:call_closebox();" style="width:16px;height:16px;float:right;margin-top:10px;margin-left:5px;" />-->
<h2><?php echo $authUserNamespace->admin_page_title;?></h2>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">First name:</div>
		<div style="width:183px;float:left;"><input type="text" name="FirstName" id="FirstName" errortag="First Name" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->first_name;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="FirstName_error" name="FirstName_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Last name:</div>
		<div style="width:183px;float:left;"><input type="text" name="LastName" id="LastName" errortag="Last Name" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->last_name;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="LastName_error" name="LastName_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Email:</div>
		<div style="width:183px;float:left;"><input type="text" name="Email" id="Email" errortag="Email Id" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->std_email;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Email_error" name="Email_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Password:</div>
		<div style="width:183px;float:left;"><input type="text" name="Password" id="Password" errortag="Password" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->std_password;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Password_error" name="Password_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Mobile:</div>
		<div style="width:183px;float:left;"><input type="text" name="Phone" id="Phone" errortag="Phone Number" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->std_phone;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Phone_error" name="Phone_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">City:</div>
		<div style="width:183px;float:left;">
			<select id="city" name="City" errortag="City" id="City" onchange="getlocality(this.value);">
							<option value="" selected="selected">--  Select city  --</option>
							<?php if(isset($this->studentsignupadd) && sizeof($this->studentsignupadd)>0){foreach($this->studentsignupadd as $city){?>
								<option value="<?php echo $city->address_id;?>"  <?php if (isset($this->studentsignupadd->std_city) && $this->studentsignupadd->std_city!="" && $this->studentsignupadd->std_city == $city->address_id ){ echo "selected";}?>><?php if (isset($city->address_value) && $city->address_value !=""){echo $city->address_value;} ?>
							</option>
							<?php }}?>
            			</select>
        </div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="City_error" name="City_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Locality:</div>
		<div style="width:183px;float:left;">
			<select id="locality" name="Locality" id="Locality" errortag="Locality">
				<option value="" selected="selected">--  Select locality  --</option>
			</select>
		</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Locality_error" name="Locality_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Skills:</div>
		<div style="width:183px;float:left;"><input type="text" name="Skills" id="Skills" errortag="Skills" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->skill_interested;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Skills_error" name="Skills_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Tutor Enrolled:</div>
		<div style="width:183px;float:left;"><input type="text" name="TutorEnrolled" id="TutorEnrolled" errortag="Tutor Enrolled" value="<?php if(isset($this->student))echo $this->student->tutor_enrolled;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="TutorEnrolled_error" name="TutorEnrolled_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Course Name:</div>
		<div style="width:183px;float:left;"><input type="text" name="CourseName" id="CourseName" errortag="Course Name" value="<?php if(isset($this->student))echo $this->student->std_course_name;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="CourseName_error" name="CourseName_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">Start date:</div>
		<div style="width:183px;float:left;"><input type="text" name="Startdate" id="Startdate" errortag="Start date" value="<?php if(isset($this->student))echo $this->student->start_date;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Startdate_error" name="Startdate_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">End date:</div>
		<div style="width:183px;float:left;"><input type="text" name="Enddate" id="Enddate" errortag="End date" value="<?php if(isset($this->student))echo $this->student->end_date;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="Enddate_error" name="Enddate_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">FollowUp Comment:</div>
		<div style="width:183px;float:left;"><input type="text" name="FollowUpComment" id="FollowUpComment" errortag="FollowUp Comment" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->followup_comment;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="FollowUpComment_error" name="FollowUpComment_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<!-- <div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">SignUp From:</div>
		<div style="width:183px;float:left;"><input type="text" name="SignUpFrom" id="SignUpFrom" errortag="SignUp From" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->login_from;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="SignUpFrom_error" name="SignUpFrom_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="f1">
		<div style="margin-right:10px;width:120px;float:left;">SignUp Url:</div>
		<div style="width:183px;float:left;"><input type="text" name="SignUpUrl" id="SignUpUrl" errortag="SignUp Url" value="<?php if(isset($this->studentsignup))echo $this->studentsignup->signup_url;?>"/></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div>
		<div style="margin-right:31px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="SignUpUrl_error" name="SignUpUrl_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div> -->
	<div style="width:200px; margin-left: 196px;">
		<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
		<input type="hidden" name="hiddenvar" id="hiddenvar" value="<?php echo $id;?>" />
	</div>
</form>
</body>
</html>