<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>

	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/shown/"+getValue+"/searchtext/"+getText;
	}

	function searchForm(getValue){
		
		var skill = document.getElementById("searchskill").value;
		var name = document.getElementById("searchtext").value;
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		if(skill!="" && sdate=="" && edate=="" && name=="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill;
		}
		if(name!="" && sdate=="" && edate=="" && skill=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/getPageValue/<?php echo $this->page ;?>/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/enrollment/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill;
		}
	}
	function exportForm(getValue){
		
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		if(sdate!="" && edate!="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/exportenrollment/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		else
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/exportenrollment";
		}
	}
</script>

<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Enrollment manager </div>
		<div class="export1">Export report </div>
	<div class="exporticon1"><a href="javascript: exportForm();"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				Start Date : <input type="text" class="input" name="sdate" id="sdate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_sdate)) echo $this->search_sdate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "sdate", "instance=single,drag=false,close=true")' />&nbsp;
				End Date: <input type="text" class="input" name="edate" id="edate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_edate)) echo $this->search_edate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "edate", "instance=single,drag=false,close=true")' />&nbsp;
				Student Name: <input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				Tutor Name: <input type='text' class="input" name='searchskill' value = "<?php if(isset($this->search_skill)) echo $this->search_skill;?>" id='searchskill'> &nbsp;
				<input type='button' class="button" onclick="javascript: searchForm();" value="Generate"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/adminnew/enrollment';" value="Reset" name='reset'>
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width: 100%;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:6%;padding-left: 2px;text-align: center;">Tutor Name</div>
			<div class='grid-column2' style="width:12%;padding-left: 5px;text-align: center;">Tutor Company Name</div>
			<div class='grid-column2' style="width:7%;padding-left: 4px;text-align: center;">Course name</div>
			<div class='grid-column2' style="width:14%;padding-left: 10px;text-align: center;">Tutor Batch Summary</div>
			<div class='grid-column2' style="width:9%;padding-left: 13px;text-align: center;">Name of Student Enrolled</div>
			<div class='grid-column2' style="width:10%;padding-left: 2px;text-align: center;">Student Phone No.</div>
			<div class='grid-column2' style="width:8%;padding-left: 8px;text-align: center;">Date of Enrolling/paying</div>
			<div class='grid-column2' style="width:6%;padding-left: 8px;text-align: center;">Fees</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Quantity</div>
			<div class='grid-column2' style="width:6%;padding-left: 0px;text-align: center;">Total Price</div>
			<div class='grid-column2' style="width:9%;padding-left: 0px;text-align: center;">Total Fees Paid</div>
		<!--	<div class='grid-column2' style="width:9%;padding-left: 0px;text-align: center;">Date of Joining/Start Date</div>
			<div class='grid-column2' style="width:6%;padding-left:3px;text-align: center;">Slot enrolled for</div>	-->	
			<div class="clearfix">&nbsp;</div>
		</div>
		</div>
		<?php
			$i=0;
			if(isset($this->tutorsignupResult) && sizeof($this->tutorsignupResult)>0){
			foreach($this->tutorsignupResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width:100%;">
		<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;">
		<?php	$tutortable = new Skillzot_Model_DbTable_Tutorprofile();
				$tutor_data = $tutortable->fetchRow("id='$tutor->tutor_book_id'");
				$fname = $tutor_data->tutor_first_name ;
				$lname=$tutor_data->tutor_last_name ;
				if($fname!="" || $lname!="")
				{
					echo ucfirst($tutor_data->tutor_first_name)." ".ucfirst($tutor_data->tutor_last_name); 
				}
				else
				{
					echo "-";
				}
		?>
		</div>	
			<div class='grid-column1' style="width:10%;padding-left: 9px;text-align: center;"><?php if(isset($tutor->company_name) && $tutor->company_name != "")echo $tutor->company_name;else echo"-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_course_name) && $tutor->tutor_course_name != "")echo $tutor->tutor_course_name;else echo "-"; ?></div>
			
			<div class='grid-column1' style="width:16%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->batch_summary_for_course) && $tutor->batch_summary_for_course != "")echo $tutor->batch_summary_for_course;else echo "-"; ?></div>
			<div class='grid-column1' style="width:9%;padding-left: 5px;text-align: center;"><?php if(isset($tutor->name) && $tutor->name != "")echo $tutor->name;else echo "-"; ?></div>
			<div class='grid-column1' style="width:9%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->phone_number) && $tutor->phone_number != "")echo $tutor->phone_number;else echo "-"; ?></div>
			<div class='grid-column1' style="width:9%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->date_of_booking) && $tutor->date_of_booking != "")echo $tutor->date_of_booking;else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->tutor_fee_per_unit) && $tutor->tutor_fee_per_unit != "")echo $tutor->tutor_fee_per_unit;else echo "-"; ?></div>	
			<div class='grid-column1' style="width:4%;padding-left: 0px;text-align: center;"><?php if (isset($tutor->no_of_students) && $tutor->no_of_students!="")echo $tutor->no_of_students; else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->total_price) && $tutor->total_price != "")echo $tutor->total_price; else echo "-"; ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php if(isset($tutor->grand_total) && $tutor->grand_total != "")echo $tutor->grand_total; else echo "-"; ?></div>
		<!--	<div class='grid-column1' style="width:8%;padding-left: 0px;text-align: center;"><?php echo "-";?></div>
			<div class='grid-column1' style="width:5%;padding-left: 9px;text-align: center;"><?php echo "-"; ?></div>-->
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>
