<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<link rel="stylesheet" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css" type="text/css" media="screen" />
<script language="javascript">
	<?php
		if(isset($authUserNamespace->status_message) && $authUserNamespace->status_message!=""){
	?>
			window.onload = function(){
				jAlert("<?php echo $authUserNamespace->status_message; ?>");
			}
	<?php
			unset($authUserNamespace->status_message);
		}
	?>
	function submitForm(getValue){
		
		var getValue = document.getElementById("shown").value;
		var getText = document.getElementById("searchtext").value;
		window.location="<?php echo BASEPATH; ?>/adminnew/review/shown/"+getValue+"/searchtext/"+getText;
	}

	function call_delete(id){

		jConfirm('Are you sure?', 'Confirmation Dialog', function(r) {
			if(r == true) window.location.href= '<?php echo BASEPATH; ?>/adminnew/reviewdelete/id/'+id;
			else return false;
		});
	}
	function searchForm(getValue){
		
		var skill = document.getElementById("searchskill").value;
		var name = document.getElementById("searchtext").value;
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		if(skill!="" && sdate=="" && edate=="" && name=="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/review/getPageValue/<?php echo $this->page ;?>/searchskill/"+skill;
		}
		if(name!="" && sdate=="" && edate=="" && skill=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/review/getPageValue/<?php echo $this->page ;?>/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill=="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/review/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		if(sdate!="" && edate!="" && skill!="" && name=="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/review/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchskill/"+skill;
		}
		if(sdate=="" && edate=="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/review/getPageValue/<?php echo $this->page ;?>/searchtext/"+name+"/searchskill/"+skill;
		}
		if(sdate!="" && edate!="" && skill=="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/review/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name;
		}
		if(sdate!="" && edate!="" && skill!="" && name!="")
		{
			
			window.location="<?php echo BASEPATH; ?>/adminnew/review/getPageValue/<?php echo $this->page ;?>/searchSdate/"+sdate+"/searchEdate/"+edate+"/searchtext/"+name+"/searchskill/"+skill;
		}
	}
	function exportForm(getValue){
		
		var sdate = document.getElementById("sdate").value;
		var edate = document.getElementById("edate").value;
		if(sdate!="" && edate!="")
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/exportreview/searchSdate/"+sdate+"/searchEdate/"+edate;
		}
		else
		{
			window.location="<?php echo BASEPATH; ?>/adminnew/exportreview";
		}
	}
</script>
<!--	<div class="pageTopLinkWrapper">-->
<!--		<div class="pageTopLink"><a rel="lightbox[external 330 300]" href="<?php echo BASEPATH; ?>/admin/addcategory">Add Category</a></div>-->
<!--	</div>-->
<div class="bigheader">
	<div class="menuheader" style="display: block;margin-left:19px;"> Tutor Review</div>
	<div class="export1">Export report </div>
	<div class="exporticon1"><a href="<?php echo BASEPATH; ?>/adminnew/exportreview"><img alt="Export Record" src="/images/excel.png"></a></div>
</div>
	<form method="post" id="interviewForm" name="interviewForm">
		<input type="hidden" name="getPageValue" id="getPageValue" value="1"/>
		<div class='user-headrow'>
			<div style='float:left'>
				Start Date : <input type="text" class="input" name="sdate" id="sdate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_sdate)) echo $this->search_sdate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "sdate", "instance=single,drag=false,close=true")' />&nbsp;
				End Date: <input type="text" class="input" name="edate" id="edate" maxlength="10" size="9" readonly="READONLY" value="<?php if(isset($this->search_edate)) echo $this->search_edate;?>" /><img src="/images/calendar.gif" align="absmiddle" alt="Calender" onmouseover='fnInitCalendar(this, "edate", "instance=single,drag=false,close=true")' />&nbsp;
				Student Name: <input type='text' class="input" name='searchtext' value = "<?php if(isset($this->search_val)) echo $this->search_val;?>" id='searchtext'> &nbsp;
				Tutor Name: <input type='text' class="input" name='searchskill' value = "<?php if(isset($this->search_skill)) echo $this->search_skill;?>" id='searchskill'> &nbsp;
				<input type='button' class="button" onclick="javascript: searchForm();" value="Generate"> &nbsp;
				<input type='button' class="button" onclick = "window.location = '<?php echo BASEPATH; ?>/adminnew/review';" value="Reset" name='reset'>
			</div>
			<div style="float:right;">Number of records
					<select onchange="javascript: submitForm();" name="shown" id="shown">
						<option value="10" <?php if($this->records_per_page==10)echo "selected=selected"; ?>>10</option>
						<option value="25" <?php if($this->records_per_page==25)echo "selected=selected"; ?>>25</option>
						<option value="50" <?php if($this->records_per_page==50)echo "selected=selected"; ?>>50</option>
						<option value="100" <?php if($this->records_per_page==100)echo "selected=selected"; ?>>100</option>
					</select>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div style="border:1px solid #ddd;margin-left:0px;width:100%;overflow-x:hidden;">
		<div class='grid-headrow' style="margin-left:0px;width: 100%;">
			<div class='grid-column2' style="width:6%;padding-left: 4px;text-align: right;">Review Id</div>
			<div class='grid-column2' style="width:7%;padding-left: 6px;text-align: center;">Review Date</div>
			<div class='grid-column2' style="width:8%;padding-left: 20px;text-align: center;">Tutor name </div>
			<div class='grid-column2' style="width:9%;padding-left: 25px;text-align: center;">Student Name</div>
			<div class='grid-column2' style="width:6%;padding-left: 2px;text-align: center;">Skill</div>
			<div class='grid-column2' style="width:15%;padding-left: 10px;text-align: center;">Testimonial</div>
			<div class='grid-column2' style="width:6%;padding-left: 14px;text-align: center;">Skill Grade</div>
			<div class='grid-column2' style="width:7%;padding-left: 10px;text-align: center;">Recommend</div>
			<div class='grid-column2' style="width:11%;padding-left: 15px;text-align: center;">Student Email</div>
			<div class='grid-column2' style="width:8.5%;padding-left: 10px;text-align: center;">Student Phone</div>
			<div class='grid-column2' style="width:4%;padding-left: 10px;text-align: center;">Action</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
			$i=0;
			if(isset($this->tutorreviewResult) && sizeof($this->tutorreviewResult)>0){
			foreach($this->tutorreviewResult as $tutor){
		?>
		<div class='<?php if($i%2==0)echo "grid-row1"; else echo "grid-row2"; ?>' style="margin-left:0px;width: 100%;"><?php //if (isset($tutor->first_name) && $tutor->first_name != "" && isset($tutor->last_name)  && $tutor->last_name != "" &&  $tutor->person='s'){echo ucfirst($tutor->first_name)." ".ucfirst($tutor->last_name);}?>
			<div class='grid-column1' style="width:4%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->id) && $tutor->id !="")echo $tutor->id;else echo "-";  ?></div>
			<div class='grid-column1' style="width:8%;padding-left: 15px;text-align: center;"><?php if(isset($tutor->lastupdatedate) &&  $tutor->lastupdatedate!="" && $tutor->lastupdatedate!="0000-00-00 00:00:00")echo date('Y-m-d', strtotime($tutor->lastupdatedate));else echo "-";?></div>
		<div class='grid-column1' style="width:11%;padding-left: 5px;text-align: center;">
				<?php 
				$tutortable = new Skillzot_Model_DbTable_Tutorprofile();
				$tutor_data = $tutortable->fetchRow("id='$tutor->tutor_id'");
				$fname = $tutor_data->tutor_first_name ;
				$lname=$tutor_data->tutor_last_name ;
				if($fname!="" || $lname!="")
				{
					echo ucfirst($tutor_data->tutor_first_name)." ".ucfirst($tutor_data->tutor_last_name); 
				}
				else
				{
					echo "-";
				}
				echo "<br />";
				if (isset($tutor->recograde) && $tutor->recograde!=""){echo "(".$tutor->recograde."% "." /".$tutor->gradeavg.")";} else { echo "-"; } ?></div>
				
		<div class='grid-column1' style="width:9%;padding-left: 6px;text-align: center;">
				<?php 
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->from_id'");
				if($student_data->first_name)
				{
					echo $fullname = ucfirst($student_data->first_name)." ".ucfirst($student_data->last_name);
				}
				else
				{
					echo "-";
				} 
				?>
		</div>
		
		<div class='grid-column1' style="width:6%;padding-left: 10px;text-align: center;">
				<?php 
				$tutortable = new Skillzot_Model_DbTable_Skills();
				$tutor_data = $tutortable->fetchRow("skill_id='$tutor->skill_id'");
				$fromEmail = $tutor_data->skill_name;
				if($fromEmail!="")
				{
					echo $fromEmail;
				}
				else
				{
					echo "-";
				}
				?>
		</div>
		<div class='grid-column1' style="width:17%;padding-left: 13px;text-align: center;"><?php if(isset($tutor->comment) && $tutor->comment != "")echo $tutor->comment;else echo "-"; ?></div>			
			
		<div class='grid-column1' style="width:3.5%;padding-left: 10px;text-align: center;"><?php if(isset($tutor->skillgrade) && $tutor->skillgrade != "")echo $tutor->skillgrade;else "-"; ?></div>
		<div class='grid-column1' style="width:4%;padding-left: 30px;text-align: center;"><?php if(isset($tutor->recommend) && $tutor->recommend != "")echo $tutor->recommend;else echo "-"; ?></div>

		<div class='grid-column1' style="width:12%;padding-left: 35px;text-align: center;">
				<?php 
				$studentSignupObj = new Skillzot_Model_DbTable_Studentsignup();
				$student_data = $studentSignupObj->fetchRow("id='$tutor->from_id'");
				if($student_data->std_email)
				{
					echo $student_data->std_email;
				}
				else
				{
					echo "-";
				} 
				?>
		</div>
			
		<div class='grid-column1' style="width:9%;padding-left: 10px;text-align: center;">
			<?php 
				if($student_data->std_phone)
				{
					echo $student_data->std_phone;
				}
				else  { echo "-"; } 
			?>
			</div>
			<div class='grid-column1' style="width:4%;padding-left: 5px;text-align: center;">
				<a href="#" onclick="call_delete('<?php echo $tutor->id;?>');">
					<img src="<?php echo BASEPATH;?>/images/cross.png" style="height: 13px;width:13px;border: none;" title="Delete" alt="Delete"/>
				</a>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<?php
					$i+=1;
				}
				// code for pagination in the phtml file
				echo "<div align='center'>".$this->pagination($this->pagination_config)."</div>";
				echo "<div>&nbsp;</div>";
			}
			else{
		?>
		<div class='grid-row2'>
			<div align='center' style="width:95%;font-weight:bold;">No records found</div>
		</div>
		<?php } ?>
		</div>
	</form>
<br/>
