<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>

<html>
<head>
<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/skillzotpronto.css"/>
<style>
.contentbox
{
	margin: 0px;
	float:left;
	width : 390px;
	color:#666 !important;
	padding: 0px;
}

.maincontent
{
	width : 390px;
}

.stepcolsmall2 textarea {
    border: 1px solid #BECED5;
    border-radius: 10px 10px 10px 10px;
    color: #032B3C;
    height: 60px;
    padding-left: 3px;
    width: 262px;
}
.errorclasssmall
{
	width: 100%;
	float: left;
	margin-left:6px;
}
.infolinerow
{
	width:100%;
}
.stepcolsmall1 
{
    width: 34%;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
input[type="text"],textarea
{
	border:1px solid #666 !important;
	border-radius:5px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
textarea
{
	resize:none;
	padding:5px 0px 0 5px;
}

/*new ligin design*/
body
{
	float:left;
	width:365px;
	font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    margin: 0;
}
.loginMain
{
	float:left;
	width:365px;
	background-color:#fff;
}
.loginMain h1
{
	background-color: #F0F0F0;
    color: #00A7E6;
    float: left;
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    padding: 37px 20px 20px;
    text-align: left;
    width: 324px;
}
.whitePart
{
	width: 339px;
	float:left;
	padding: 20px 0 10px 20px;
	color:#666;
	font-size: 14px;
}
.whitePart h2
{
	color:#000;
	font-size: 14px;
}
.halfPart
{
	width:49.5%;
	float:left;
	padding:10px 0 0;
}	
.borderleft
{
	border-left:1px solid #999999;
}
.Field
{
	float:left;
	width:100%;
}
.Field b
{
	color:#666666;
	font-size:14px;
	font-weight:bold;
	width:158px;
	padding:2px 8px 0 0;
	float:left;
}
.Field input[type="text"],.Field input[type="password"]
{
	border:1px solid #666;
	border-radius:5px;
	padding: 0 0 0 5px;
    width: 155px;
	height:20px;
	box-shadow:1px 1px 1px #000;
	box-shadow: -1px 1px 5px -1px #666666;
	-moz-box-shadow: -1px 1px 5px -1px #666666;
	-webkit-box-shadow: -1px 1px 5px -1px #666666;
	-o-box-shadow: -1px 1px 5px -1px #666666;
}
.Field .errortext
{
	width:177px;
	color: #FF6633;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:167px;
    padding:5px 0;
}
.Field .forgotPass
{
	text-align:right;
	color:#666666;
	width:193px;
    font-size: 12px;
    height: 15px;
    margin:0px;
    float:left;
    margin-left:95px;
    padding:5px 0;
    text-decoration:none;
}
.Field .forgotPass:hover
{
	color: #FF6633;
}
.submit_button
{
	background-color: #00A7E6;
    border: 2px solid #00A7E6;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: bold;
    min-width: 40px;
    padding: 3px 10px;
    text-align: center;
    text-shadow: none;
} 
.submit_button:hover {
    background-color: #676767;
}
.sap
{
	float:left;
	width:100%;
	height:15px;
}
/* end new ligin design*/


</style>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
		
		window.onload = function(){
			document.getElementById("save").onclick = function(){
				saveForm('<?php echo BASEPATH; ?>/managecms/emailus','contacttutor','contacttutor');
				
			}
		};
				
		</script>
</head>
<body>
<input type="hidden" value="1" id="loginpageID" />
<div class="loginMain">
<h1>Send us your queries</h1>
<div class="whitePart">
<div class="allfields"> <span class="onlyorangedisplay">*</span> All fields are required</div>
<form action="<?php echo BASEPATH; ?>/managecms/emailus" name="contacttutor" id="contacttutor" method="post" enctype="multipart/form-data">

		<div class="steprow1">
			<div class=stepcolsmall1>&nbsp;</div>
			<div class="stepcolsmall2">
				<div class="errorclasssmall">&nbsp;</div>
			</div>
		</div>
		<div class="Field">
			<b>First Name<span class="onlyorangedisplay">*</span></b>
				<input type="text" Name="UserFName" id="UserFName" errortag="first name" />
				<div id="UserFName_error" class="errortext">&nbsp;</div>
		</div>
		
		<div class="Field">
			<b>Last Name<span class="onlyorangedisplay">*</span></b>
				<input type="text" Name="UserLName" id="UserLName" errortag="last name" />
				<div id="UserLName_error" class="errortext" ></div>
		</div>
		<div class="Field">
			<b>Email<span class="onlyorangedisplay">*</span></b>
				<input type="text" Name="UserEmail" id="UserEmail" errortag="email" />
				<div id="UserEmail_error" class="errortext" ></div>
		</div>
		
		<div class="Field">
			<b>City Name<span class="onlyorangedisplay">*</span></b>
				<input type="text" Name="UsercityName" id="UsercityName" errortag="city name" />
				<div id="UsercityName_error" class="errortext" ></div>
		</div>
		
		<div class="Field">
			<b>Comments<span class="onlyorangedisplay">*</span></b>
				<textarea type="text" Name="UserComments" id="UserComments" errortag="comments" ></textarea>
				<div id="UserComments_error" class="errortext" ></div>
		</div>

		<input type="hidden" name="tutorId" value="<?php if (isset($this->tutorid) && $this->tutorid!=""){echo $this->tutorid;}?>">
		<div class="Field" style="width:94%;">
					<span id="save" class="submit_button">SEND</span>
		</div>
		</form>
</div>
</div>
</body>
</html>