<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace("Skillzot_Auth"); ?>
<html>
<head>
<?php 

if(isset($this->tutordata->company_name) && $this->tutordata->company_name!="")
{ 
$tutorNameforalttag =  ucfirst($this->tutordata->company_name);}
else{

if(isset($this->tutordata->tutor_first_name) && $this->tutordata->tutor_first_name!="" && isset($this->tutordata->tutor_last_name))
{ 
	$tutorNameforalttag =  ucfirst($this->tutordata->tutor_first_name)." ".ucfirst($this->tutordata->tutor_last_name);
}
}
?>
<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> live status edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzotprontonew.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH; ?>/css/skillzot.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
<script type='text/javascript'>
window.onload = function(){
	document.getElementById("save").onclick = function(){
		
		saveForm('<?php echo BASEPATH; ?>/editprofilenew/editstatus','add_category_form','add_category_form');
	
		}
};
</script>

</head>
<body>
<form method="post" action="" name="add_category_form" id="add_category_form" enctype="multipart/form-data">
<div id="registration_form_2" class="formholder1">
	<div class="rightcontent">
		<div class="CourseDetMid">
		<div class="steprow1" style="margin-bottom:10px;padding:0px;">
			<span class="nameoftutor">Live Status</span><span class="onlyorangedisplay">*</span>
		</div>
		<div style="margin-right:10px;width:100px;float:left;">Status:</div>
		<div style="width:200px;float:left;"><select name="statusflag" id="statusflag" errortag="status">
	          <option value="">--Select--</option>
	     	  <option value="1"<?php if(isset($this->category->is_skill) && $this->category->is_skill!="" && $this->category->is_skill=="1") {echo "selected";}else {echo "";}?>>Yes</option>
	    	  <option value="0"<?php if(isset($this->category->is_skill) && $this->category->is_skill!="" && $this->category->is_skill=="0") {echo "selected";}else {echo "";}?> >No</option>
	   		   </select></div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	<div>
		<div style="margin-right:10px;width:100px;float:left;">&nbsp;</div>
		<div style="width:200px;float:left;color:red;font-size:10px;" id="statusflag_error" name="statusflag_error">&nbsp;</div>
		<div style="clear:both;height:0px;font-size:0px;overflow:hidden;">&nbsp;</div>
	</div>
	<div class="savecontinue" style="margin-left: 115px;">
	<img id="save" name="save" onmouseover="this.src='/images/save_hover.png';" onmouseout="this.src='/images/savenew.png';" src="/images/savenew.png">
	</div>
	<!-- <div style="width:200px; margin-left: 108px;">
			<input type="button" class="stdButton" value="Submit" name="save" id="save"/>
	</div> -->
		</div>
	</div>
</div>
</form>
</body>
</html>