<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<?php $authUserNamespace = new Zend_Session_Namespace('Skillzot_Auth'); ?>
<html>
<head>
<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/albumphoto.js"></script>
<script>
$(document).ready(function(){	
	var temp = 2;
	var cnt = 0;
	$('.copyinfolinerow div.imagethumb').each(function(){
		cnt++;
		if(cnt == temp)
		{
			$(this).css({'margin':'0 11px 15px'});
			temp=temp+3;
		}	
		else
		{
			$(this).css({'margin':'0 0px 15px'});
		}	
	});
	$('#scrollbar1').tinyscrollbar();
});
function call_delete(id,tutoralbumid)
{	
	jConfirm('Are you sure,You want to delete this image ?', 'Confirmation Dialog', function(r) {
		if(r == true) 
			window.location.href= '<?php echo BASEPATH; ?>/editprofilenew/tutoralbumphotodelete/id/'+id+'/albumid/'+tutoralbumid;
		else return false;
	});
}
function make_cover(id,tutoralbumid)
{	
	jConfirm('Are you sure,You want to make this cover image ?', 'Confirmation Dialog', function(r) {
		if(r == true) 
			window.location.href= '<?php echo BASEPATH; ?>/editprofilenew/makecoverphoto/id/'+id+'/albumid/'+tutoralbumid;
			else return false;
	});
}
function callalbum_delete(id)
{	
	jConfirm('Are you sure,You want to delete this album ?', 'Confirmation Dialog', function(r) {
		if(r == true) 
			window.location.href= '<?php echo BASEPATH; ?>/editprofilenew/tutoralbumsdelete/id/'+id;
		else return false;
	});
}
	</script>
<title><?php if (isset($tutorNameforalttag) && $tutorNameforalttag!=""){echo $tutorNameforalttag;} ?> profile picture edit </title>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH; ?>/js/crud.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/mediaboxAdvWhite.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo BASEPATH;?>/css/photobox.css"/>

	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/skillzot.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mootools-1.2.4-core-yc.js"></script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/mediaboxAdv-1.2.4.js"></script>
	
	
<style>
.formholder1 !important
{
    float: left;
    min-height: 400px;
    min-width: 500px;
    width: 620px;
}
.tutorcontentholder
{
	min-height:400px;
}
.stepcol1
{
	width:150px;
}
.stepcol2
{
	width: 410px;
}
.newimageshow{
	float:left;
	width: 250px;
}
.copyinfolinerow a
{	
	margin-bottom:0px
}
</style>
<!--[if IE]>
<style>
.newimageshow input{

	margin-left:15px;
}
</style>
<![endif]-->
</head>
	<body>
			<form method="post" action="" name="upload_pic" id="upload_pic" enctype="multipart/form-data">
				<div id="registration_form_2" class="formholder1">
					<div class="rightcontent">
						<div class="CourseDetMid">
							<span class="nameoftutor"><?php if(isset($this->albumtitle) && $this->albumtitle!="" ){echo $this->albumtitle;}else{?>Album name<?php }?></span><span class="locationoftutor openskillbox" style="color:#AAA5A4; font-size: 14px;margin: 6px 0 0 5px;cursor:pointer;" rel="<?php echo BASEPATH;?>/photoalbumsnew/editalbumname/id/<?php if(isset($this->albumid) && $this->albumid!="" ){echo $this->albumid;}?>">-&nbsp;Edit</span>
							<div class="clear">&nbsp;</div>
							<div class="sap">&nbsp;</div>
							<a class="buttons" href="<?php echo BASEPATH;?>/photoalbumsnew/addalbumphotos/id/<?php if(isset($authUserNamespace->admintutorid) && $authUserNamespace->admintutorid!="")echo $authUserNamespace->admintutorid;else echo 0;?>/tutor_album_id/<?php echo $this->tutor_album_id;?>" rel="lightbox[750 450];">Add photos</a>
							<a class="buttons" onclick="callalbum_delete('<?php echo $this->tutor_album_id;?>');">Delete Album</a>
							<a class="buttons" href="<?php echo BASEPATH;?>/editprofilenew/albums">Back</a>
							<div class="clear">&nbsp;</div>
							<div class="sap">&nbsp;</div>
							<div id="scrollbar1" style="width: 518px;float:left;">	
								<div class="scrollbar" style="height: 180px;">
									<div class="track" style="height: 180px;">
										<div class="thumb" style="top: 10.929px; height: 27.3224px;">
											<div class="end"></div>
										</div>
									</div>
								</div>
								<div class="viewport" style="height:444px;;width:505px;">
									<div class="overview">
										<div style="margin:0px;" class="copyinfolinerow">
												<?php if (isset($this->albumphotoresult) && sizeof($this->albumphotoresult)>0){
												$i = 0; 
												foreach ($this->albumphotoresult as $tutoralbumphoto)
												{ ?>
													<div class="imagethumb" style="position:relative;float:left;">
														<div class="editicons">
														<span id="editphot" class="editphot tippT">
															<b class="Ttip">Edit</b>
															<span class="dropover">
																<a class="openskillbox" href="javascript:void(0);" rel="<?php echo BASEPATH;?>/photoalbumsnew/editphoto/id/<?php echo $tutoralbumphoto->id; ?>/tutor_album_id/<?php echo $this->tutor_album_id;?>" >Edit Title</a>
																<a href="javascript:void(0);" onclick="make_cover('<?php if (isset($tutoralbumphoto->id) && $tutoralbumphoto->id !="") { echo $tutoralbumphoto->id; } ?>','<?php echo $this->tutor_album_id;?>');">Make Cover Photo</a>
																<a href="javascript:void(0);" onclick="call_delete('<?php if (isset($tutoralbumphoto->id) && $tutoralbumphoto->id !="") { echo $tutoralbumphoto->id; } ?>','<?php echo $this->tutor_album_id;?>');">Delete</a>
															</span>
														</span>
														  
														</div>
															<!-- <a  rel="lightbox[820 520];" href="<?php echo BASEPATH;?>/photoalbums/showalbums/id/<?php echo $tutoralbumphoto->id;?>/tutor_album_id/<?php echo $this->tutor_album_id;?>"><img src="<?php echo BASEPATH;?><?php echo $tutoralbumphoto->thumb_photo_link ?>"></a> -->
															<a class="eachphoto" href="javascript:void(0);" rel="<?php echo BASEPATH;?><?php echo $tutoralbumphoto->photo_link ?>"><img src="<?php echo BASEPATH;?><?php echo $tutoralbumphoto->thumb_photo_link ?>"></a>
															<input type="hidden" value="<?php if(isset($tutoralbumphoto->title) && $tutoralbumphoto->title!=""){ echo $tutoralbumphoto->title;} else{echo "Photo Title";}?>">
															<div class="imagetitle">
															<?php if(isset($tutoralbumphoto->title) && $tutoralbumphoto->title!="")
																  { 
																  	$albumimagetitle=$tutoralbumphoto->title;																
																  	if (strlen($albumimagetitle) > 32) 
																	{
																		$word_k_w = substr($albumimagetitle,0,32); 
																  		echo $word_k_w."...";
																	}
																	else
																	{
																	  	echo $albumimagetitle;
																	}
																  
																  } 
																  else
																  {
																  	echo "Photo Title";
																  }?>
															</div>
													</div>
												<?php 
												}
												$i++;
												}else{?>
												<div>No photos found </div>
												<?php }?>	
										</div>
									</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
			</form>
	</body>
	<script>
		$(document).ready(function(){
			var flag = 0;
			$('#editphot').live('click',function(){
				if(flag == 0)
				{
					$(this).children('.dropover').show();
					flag = 1;
				}
				else
				{
					$(this).children('.dropover').hide();
					flag = 0;
				}
			});
		});
	</script>
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/photobox.js"></script>	
	<script type="text/javascript" src="<?php echo BASEPATH;?>/js/jquery.tinyscrollbar.min.js"></script>
</html>